
{% extends "layout_email.html" %}

{% block pageTitle %}
  Prompt email
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-width">
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "From",
        classes: "govuk-!-width-one-quarter"
      },
      value: {
        text: "Keep Customer Interactions Safe"
      }
    },
    {
      key: {
        text: "To"
      },
      value: {
        text: "Sartaq Matcha"
      }
    },
    {
      key: {
        text: "Subject"
      },
      value: {
        html: "URGENT: Review report of incident on 7 November 2023 at 10:00am"
      }
    }
  ]
}) }}


  <p class="govuk-body">Dear Sartaq Matcha,</p>
  <p class="govuk-body">We believe you are the most appropriate manager to review this report.</p>

<p class="govuk-body">The report relates to the following incident:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Date of incident: 7 November 2023</li>
  <li>Time of incident: 10:00am</li>
  <li>Incident reference number: INC-000-000-002</li>
</ul>
<p class="govuk-body">For security reasons, we cannot provide any more information about the incident in this email.</p>

<div class="govuk-inset-text">
  <p class="govuk-body">You must complete your review as soon as possible.</p>
</div>

<h2 class="govuk-heading-m">What to do now</h2>
<p class="govuk-body">Review the incident report in the ‘Keep Customer Interactions Safe’ service. To do this:</p>

<ol class="govuk-list govuk-list--number">
  <li>Log in to Searchlight.</li>
  <li>Select ‘Menu’ in the top right corner.</li>
  <li>Select ‘Keep Customer Interactions Safe’.</li>
  <li>Find this incident report and follow the instructions on the screen.</li>
</ol>
<p class="govuk-body">If required, you should also report this as a Fast Track Incident in the Safety Online – Accident Reporting System (SOARS).</p>

<p class="govuk-body">Thank you,</p>

<p class="govuk-body">On behalf of Keep Customer Interactions Safe.</p>

<p class="govuk-body">E_M_A_I_L_B_L_O_C_K</p>
<br><br><br><br><br><br>
<p class="govuk-body"><a href="/beta/_UR/20231107/8-man/00searchlight">(User now follows instructions to log on to KCIS)</a></p>

    </div>
  </main>
{% endblock %}
