{% extends "layout_20240129_ur.html" %}
{% block pageTitle %}
  Which actions must be taken? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "04trigger"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  {% include "./templates/govuk-caption-m-whitney_walk.njk" %}
  <form class="form" action="/beta/_UR/20240129/2-dm/06measure" method="post">
    {% set letterHtml %}
          {{ govukTextarea({
            name: "2401_letter_detail",
            id: "2401_letter_detail",
            value:  data['2401_letter_detail'],
            label: {
              text: "Type of letter",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example: First warning letter about written abuse in journal."
            }
          }) }}
        {% endset -%}
        {{ govukCheckboxes({
          idPrefix: "2401_actions",
          name: "2401_actions",
          fieldset: {
            legend: {
              text: "Which actions must be taken?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all the actions that must be taken to keep your colleagues safe."
          },
          items: [
            {
              value: "Send a letter",
              text: "Send a letter",
              checked: data['2401_actions'].includes("Send a letter"),
              conditional: {
                html: letterHtml
              }
            },
            {
              value: "Issue a verbal warning",
              text: "Issue a verbal warning",
              checked: data['2401_actions'].includes("Issue a verbal warning")
            },
            {
              value: "Interview by a manager",
              text: "Interview by a manager",
              checked: data['2401_actions'].includes("Interview by a manager")
            },
            {
              value: "Request solicitor to send a letter",
              text: "Request solicitor to send a letter",
              checked: data['2401_actions'].includes("Request solicitor to send a letter")
            },
            {
              value: "Request a banning order",
              text: "Request a banning order",
              checked: data['2401_actions'].includes("Request a banning order")
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
