{% extends "layout.html" %}

{% block pageTitle %}
  Your reports - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back to Searchlight home",
      href: "00searchlight"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" id="page-title">Your reports</h1>
      <h2 class="govuk-heading-l">To do</h2>
      <div class="govuk-hint">
      Each row in this table represents a report that needs action from you.
      </div>
      {{ govukButton({
        text: "Get next report",
        href: "#"
      }) }}
    </div>
  </div>
  <div class="govuk-!-padding-bottom-7">
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          html: "Date"
        },
        {
          text: "Customer"
        },
        {
          text: "Original reporter"
        },
        {
          text: "Witnesses"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            html: "<span class='govuk-visually-hidden'>Date: </span>7 February 2023<br><span class='govuk-body-s' style='color:#505a5f'>  at 10:00am</span>"
          },
          {
            html: "<span class='govuk-visually-hidden'>Customer: </span>Robert Da Silva"
          },
          {
            html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
          },
          {
            html: "<span class='govuk-visually-hidden'>Witnesses: </span>None indicated"
          },
          {
            html: "<a href='09reassign'>Reassign</a> | <a href='02history_complex' aria-label='Review and apply measures for an incident on 7 February 2023 at 10:00am'>Open</a>"
          }
        ]
      ]
    }) }}
  </div>
  

{% endblock %}













