{% set versions = [ 
  "../reportv11/06when-time",
  "../reportv12/06when-time"
] %}



{{ govukPagination({

  items: [
    {
      number: 11,
      href: versions[0]
    },
    {
      number: 12,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

