{% set versions = [ 
  "../reportv12/cxxwhen-date"
] %}



{{ govukPagination({

  items: [
    {
      number: 12,
      href: versions[0]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

