<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/emails/_versions/p__versions.njk" %}

<h4 class="govuk-heading-s">v2 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>P - Ref: 082696aa-bb8a-4ba7-a6ba-597464f64ee3</li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-26280">Manager: Update Notification Email</a></li>
		<li>Removed reference to Staff Protection List</li>		
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
	</ul>
