<ul class="govuk-list govuk-list--bullet">
	<li><a href="/beta/incident_manager_journey/v4/02incident">Incident report</a> - Trigger warning on file download</li>
	<li><a href="/beta/incident_manager_journey/v4/03witnessdisplay-1nowitnesses">Witnesses</a> - Add facility for manager to add witness report</li>
	<li><a href="/beta/incident_manager_journey/v4/01landingpage2_manager">Home page</a> - Add "Request further information" and "Deliver decision" journeys</li>
	<li>Request further information - <a href="/beta/incident_manager_journey/v4/i02moreinfo">i02 more information</a></li>
	<li>Request further information - <a href="/beta/incident_manager_journey/v4/i03incident_best_simple_info">i03 Original incident report</a></li>
	<li>Deliver decision - <a href="/beta/incident_manager_journey/v4/d02decision">d02 decision</a></li>
	<li>Deliver decision - <a href="/beta/incident_manager_journey/v4/d03incident_best_simple_info">d03 Original incident report</a></li>
	<li>Take action - <a href="/beta/incident_manager_journey/v4/a02action_letter">a02 record action (letter)</a></li>
</ul>
<a href="/public/images/user-flows/manager_v4.png"><img src="/public/images/user-flows/manager_v4.png" width="100%"></a>

