<ul class="govuk-list govuk-list--bullet">
	<li><a href="/beta/incident_manager_journey/v5/a02action_letter">Take action</a> - Content change and deliver letter</li>
</ul>
<a href="/public/images/user-flows/manager_v5.png"><img src="/public/images/user-flows/manager_v5.png" width="100%"></a>

