<ul class="govuk-list govuk-list--bullet">
	<li>Location recording</li>
</ul>
<a href="/public/images/user-flows/manager_v6.png"><img src="/public/images/user-flows/manager_v6.png" width="100%"></a>

