<ul class="govuk-list govuk-list--bullet">
	<li><a href="09location">09location</a> recording - use the same location data pointbut add 3.5k codes from lookup (for MI)</li>
	<li>Manually adding witness statements is in the backlog Q4 2024</li>
	<ul>
		<li><a href="wit00witness_type">wit00witness_type</a></li>
		<li><a href="wit01add_witness">wit01add_witness</a></li>
		<li><a href="wit02comments">wit02comments</a></li>
	</ul>
</ul>
<a href="/public/images/user-flows/manager_v6.png"><img src="/public/images/user-flows/manager_v6.png" width="100%"></a>

