{% extends "layout_accessibility.html" %}

{% block pageTitle %}
Accessibility statement for Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Accessibility statement for Keep Customer Interactions Safe</h1>
		</div>
	</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">
				This accessibility statement applies to the Keep Customer Interactions Safe (KCIS) service only.</p>
			<h2 class="govuk-heading-l">Using this service</h2>
			<p class="govuk-body">The Keep Customer Interactions Safe (KCIS) service is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this service. For example, this means you should be able to:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>change colours, contrast levels and fonts</li>
				<li>zoom in up to 300% without the text spilling off the screen</li>
				<li>get from the start of the service to the end using just a keyboard</li>
				<li>get from the start of the service to the end using speech recognition software</li>
				<li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
			</ul>
			<p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>
			<p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
			<h2 class="govuk-heading-l">How accessible this service is</h2>
			<p class="govuk-body">We have designed this service to be fully accessible.</p>
			<h2 class="govuk-heading-l">Feedback and contact information</h2>
			<p class="govuk-body">If you have any difficulty using this service, email <a href=mailto: kcis.feedback@dwp.gov.uk">kcis.feedback@dwp.gov.uk</a>.</p>
			<h2 class="govuk-heading-l">Reporting accessibility problems with this service</h2>
			<p class="govuk-body">We're always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or you think we’re not meeting accessibility requirements, email <a href=mailto: kcis.feedback@dwp.gov.uk">kcis.feedback@dwp.gov.uk</a>.</p>
			<h2 class="govuk-heading-l">Enforcement procedure</h2>
			<p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
			<h2 class="govuk-heading-l">Technical information about this service’s accessibility</h2>
			<p class="govuk-body">DWP is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
			<h3 class="govuk-heading-m">Compliance status</h3>
			<p class="govuk-body">This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</p>
			<h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
			<p class="govuk-body">
				This statement was prepared on 29 August 2023. It was last reviewed on 29 August 2023.
			</p>
			<p class="govuk-body">This service was last tested on 5 July 2023. The test was carried out by DWP, using a combination of manual and automated testing, including assistive technology.</p>
			<p class="govuk-body">The KCIS team originally submitted a sample of 20 pages to be tested by the DWP accessibility team. Their report <a href="https://dwpgovuk.sharepoint.com.mcas.ms/sites/SRO-616/Shared%20Documents/Forms/AllItems.aspx?cid=30b718d0%2D56d0%2D4a2b%2Da0b1%2D3dfbddfbbe44&FolderCTID=0x0120006B88EA82914E48488D02EB0A8FECE624&id=%2Fsites%2FSRO%2D616%2FShared%20Documents%2FGeneral%2FAccessibility%2FKCIS&viewid=67fda857%2D1fad%2D496a%2D8c4e%2Db01231c4e5a5/">shows that all of these pages are fully compliant with the WCAG version 2.1 standard</a>.</p>
			<p class="govuk-body">Since the DWP accessibility team tested these sample pages, the KCIS project team have tested all new features in the service. We have now tested more than 80% of the pages in the service. We believe that all the pages we have tested are fully compliant with the WCAG version 2.1 standard.</p>
		</div>
	</div>
	{{ govukButton(
		{
			text: "Back",
			href: "javascript:history.back()"
		}
	)
}}
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/01statement__notes.njk" %}
	{% endif %}
{% endblock %}
