{% extends "layout.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
If you are unable to check safety measures or make a report related to a customer - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Phase banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
<section aria-label="Back" role="region">

{{ govukBackLink({
text: "Back to Searchlight home",
href: "00searchlight"
}) }}
</section>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">If you are unable to check safety measures or make a report related to a customer</h1>
		<p>This may be because you have the wrong access to our Keep Customer Interactions Safe (KCIS) service. </p>
		<p>To resolve this, ask your manager to email <a href="mailto:kcis.feedback@dwp.gov.uk">kcis.feedback@dwp.gov.uk</a> with ‘Wrong access’ in the email ‘Subject’. In the email, your manager should: </p>

		<ul class="govuk-list govuk-list--bullet">
			<li>include your email address and </li>
			<li>confirm that you regularly interact with customers in your job.</li>
		</ul>
		<p>While you wait for your access, you can still check safety measures or report an incident or safety concern.</p>
		<h2 class="govuk-heading-l">Check safety measures recorded against a customer</h2>
		<p>Ask your manager to check for you.</p>
		<p>If your manager is not able to do this, email <a class="govuk-link" href="mailto:kcis.feedback@dwp.gov.uk">kcis.feedback@dwp.gov.uk</a> with ‘URGENT: Safety Measures Required’ in the email ‘Subject’. We will reply as soon as possible.</p>
		<h2 class="govuk-heading-l">Report an incident or safety concern</h2>
		<p>Ask your manager or another colleague to report on your behalf. </p>
		<p>Or, go to<a href="https://intranet.dwp.gov.uk/page/how-do-i-report-incident-keep-customer-interactions-safe-service"> How do I report an incident on the Keep Customer Interactions Safe Service?</a> and complete the ‘Clerical form to report an unsafe interaction’ at the bottom of the page. Once complete, email this form to the email address on the form.</p>
		<p>You should complete this form, even if you do not have the customer’s National Insurance number or know their name.</p>
	</div>
</div>


{% if not (checked("displaymode", "presentation") == "checked") %}
	{% include "./notes/01landingpage__notes.njk" %}
{% endif %} 
{% endblock %}
