{% extends "layout_ur.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Research</h1>
    <p class="govuk-body">23 Feb 2023</p>
    <div class="govuk-!-padding-bottom-7">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p>
                    <a href="/beta/_UR/20230223/1/00searchlight">Scenario 1</a>
                </p>

                <p>Note: based on v3 Make decision</p>
            </li>
        </ul>
    </div>

</p>{% endblock %}