<h3 class="govuk-heading-s govuk-!-margin-bottom-0">
    <a href="#">CIRF</a>
</h3>
<p class="govuk-body kcis-caption-reportedby govuk-!-margin-bottom-0">13 July 2025 by David Cassidy</p>
<p class="govuk-body">Reporter has been advised on how to report directly via KCIS. Due to severity of incident measures have been added for clerical report. CIRF attached: CIRF.docx</p>
