
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Reconsideration request 07 September 2025</h3>
<p class="govuk-body kcis-caption-reportedby govuk-!-margin-bottom-0">07 September 2025 by Adam Smith</p>
<p class="govuk-body">The customer is violent.</p>
