<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="05b_add">1. Add files?</a><br>
	<a href="05b_add_error">2. Error: Select </a><br>
	<a href="05c_upload">3. Upload files </a><br>
</ul>
<h4 class="govuk-heading-s">v8 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-24707">Attach Letter to Action Request</a></li>
		<li>Page only to be shown if "send letter" action requested</li>
		<li>Also amend "<a href="09prepare_single_man">complete decision</a>" and "<a href="11check_good">Check your answers</a>" and "<a href="h_05action">Action request</a>" on this story </li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">

	</ul>
{% set journeyNotesHTMLDecision_v8 %}
	{% include "beta/decision/notes/v8__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v8 Journey level design notes",
	html: journeyNotesHTMLDecision_v8
}) }}	