<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/h_02incident_best_simple__notes__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="h_02incident_best_simple">View incident - simplified</a></li>
		<li><a href="h_02incident_best_simple_existing">View incident </a></li>
		<li><a href="h_02incident_best_simple_existing_nolocation">View incident - location not found</a></li>
		<li><a href="h_02incident_best_simple_existing_timeline">View incident timeline version (repeated for illustration)</a></li>
		<li><a href="h_02incident_best_simple_walk">View incident waltkthrough version (repeated for illustration)</a></li>
		<li><a href="h_02incident_best_migrated">View migrated incident - design shows location on one line and adds "Report source"</a></li>
		<li><a href="h_02incident_best_simple_files">View incident - Attach files</a></li> 
		<li><a href="h_02incident_best_assigned">View incident</a> - mockup showing the options to "Assigned to"</li>
		<li>(<a href="h_02incident_best_assigned_alternative">View incident</a> - mockup alternative showing the options to "Assigned to" - not used)</li>
	</ul>
<h4 class="govuk-heading-s">v8 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-24710 ">Attach files to incident</a></li>
		<li>Added “attached by” column so that you can tell whether it was the reporter of a case reviewer who added. Without this we would not be able to understand the file in context</li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-24566">Show Migrated Box 8 on Incident Report</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>If flagged as migrated data, add "report source", note in narrative and "Box 8" row.</li>
			<li>"Not available" rather than blanks</li>
			<li>File attachments have not been migrated</li>
		</ul>
		<li>Business support details restored to contact details in the Backlog: <a href="https://dwpdigital.atlassian.net/browse/CITI-21882">Case reviewer: Display business support agent contact</a></li>
		<li>Case reviewer - same reminder and extra info required for both Business Support and Decision makers</li>
		<li>If Comments and recommendations is blank or only shows reminders, show "Resend email request" button</li>
		<li>If Comments and recommendations has a report, show "Request information" button</li>
		<li>"correspondence" handled by an API</li>
		<li>Email reminder stamped so that Case reviewer can see a reminder has already been sent</li>
		<li>Request information button only shown on incidents (not concerns)</li>
		<li>Only "live" incidents provide this functionality</li>
		<li>"Resend email request" button in witnesses and manager sections have hidden text</li>
		<li>Check if there is a witness statement before sending email reminder because it may have been submitted while Case reviewer is reading the page</li>
		<li>User will see the confirmation of their email being sent as they are returning to the section that they left and there will now be a record of it</li>
		<li>Story:   <a href="https://dwpdigital.atlassian.net/browse/CITI-24518">Reassign Reviewing Manager</a></li>
		<li>Functionality vailable even when report closed (Use case from Meeting 3/5/2024 - challenge to old case)</li>
		<ul>
			<li>Send reminder email</li>
			<li>Attach file</li>
			<li>Change manager</li>
		</ul>
		<ul class="govuk-list govuk-list--bullet">
			<li>Cannot reassign after line manager report is created because of implementation difficulties. Eventually should be able to do this so that the decision can be distributed even if the manager goes off sick.</li>
		</ul>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-27630">View location</a></li>
		<ul>
			<li>Location code is stored and name is retreived from reference data</li>
		</ul>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-27653">View business line</a></li>
		<ul>
			<li>Business line is stored in reference data</li>
		</ul>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Hypothesis: BST will see the correspondence entry as enough feedback that the reminder email has been sent and do not require an extra confirmation page</li>
		<li>Insight: <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133319034694">Managers saw the confirmation page as an indication of completed interaction</a> - So we are using an implementation without a confirmation screen. Particularly as case reviewers are likely to be more skilled users than managers</li>
		<li>Trigger warning - <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133232165261/20230419+Sprint+Review">Feature suggestion from sprint review</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li class="govuk-body-s">Need: Make evidence based decisions</li>
				<li class="govuk-body-s">Pain relievers: Full timeline history</li>
			</ul>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li class="govuk-body-s">Pain: Chasing incident manager reports</li>
				<li class="govuk-body-s">Pain: Chasing witness reports</li>
			</ul>	
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133219649392">Insight: Can navigate page</a><br>
		<p class="govuk-body-s">Insight from Incident Managers research evidences aptitude for reading long reports. Page does not require additional navigational aids. Hypothesise incident managers are similar users.</p></li>	
	</ul>
{% set journeyNotesHTMLDecision_v8 %}
	{% include "beta/decision/notes/v8__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v8 Journey level design notes",
	html: journeyNotesHTMLDecision_v8
}) }}	

