<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/h_02a_reassign__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="h_02a_reassign">1. Reassign manager</a></li>
		<li><a href="h_02a_reassign_error">2. Error: Reassign manager</a></li>
	</ul>
<h4 class="govuk-heading-s">v8 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-24518">Reassign reviewing manager</a></li>
		<li>On reassign page link back to Contacts section</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Hypothesis: BST will see the correspondence as enough feedback that the email has been sent and do not require an extra confirmation page</li>
		<li>Insight: <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133319034694">Managers saw the confirmation page as an indication of completed interaction</a> - So we are using an implementation without a confirmation screen. Particularly as case reviewers are likely to be more skilled users than managers</li>
		<li>Trigger warning - <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133232165261/20230419+Sprint+Review">Feature suggestion from sprint review</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li class="govuk-body-s">Need: Make evidence based decisions</li>
				<li class="govuk-body-s">Pain relievers: Full timeline history</li>
			</ul>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li class="govuk-body-s">Pain: Chasing incident manager reports</li>
				<li class="govuk-body-s">Pain: Chasing witness reports</li>
			</ul>	
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133219649392">Insight: Can navigate page</a><br>
		<p class="govuk-body-s">Insight from Incident Managers research evidences aptitude for reading long reports. Page does not require additional navigational aids. Hypothesise incident managers are similar users.</p></li>	
	</ul>
	
{% set journeyNotesHTMLDecision_v8 %}
	{% include "beta/decision/notes/v8__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v8 Journey level design notes",
	html: journeyNotesHTMLDecision_v8
}) }}	

