{% extends "layout_20240429_ur.html" %}
{% block pageTitle %}
  Why did you decide to apply these measures? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "06measure"
    }) }}
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="08reviewdate" method="post">
          {% include "./templates/multi_caption.njk" %}
          {% set hintHTML %}
          {% include "./templates/measures_list.njk" %} 

            <p class="govuk-hint">You should include anything that another decision maker might need if they pick this up in future. </p>
            {{ govukWarningText({
              text: "This information will be visible to the reporter’s manager and may also be sent to the reporter’s local trade union representative.",
              iconFallbackText: "Warning"
            }) }}
          {% endset %}
          {{ govukCharacterCount({
            name: "2401_measureaccount",
            id: "2401_measureaccount",
            value: data ["2401_measureaccount"],
            maxlength: 3000,
            label: {
              text: "Why did you decide to apply these measures?",
              isPageHeading: true,
              classes: "govuk-label--xl"
            },
              hint: {
              html: hintHTML
            }
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
          </div>
  </form>
    </div>
  </div>

{% endblock %}
