{% extends "layout_20240429_ur.html" %}
{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "09prepare_single_man"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "./templates/multi_caption.njk" %}
<h1 class="govuk-heading-xl">Check your answers</h1>
  <form action="12confirmation_multi">
    <input type="hidden" id="20240429_inc1_status" name="20240429_inc1_status" value="" >
    <input type="hidden" id="20240429_inc2_status" name="20240429_inc2_status" value="" >

    <div class="govuk-!-margin-bottom-9">
      {% set actionListHTML %}
      <ul class="govuk-list govuk-list--bullet">
        {% if (data["2401_actions"] == "" and data["2401_actions_dm"] == "")  %}
          <li>None</li>
        {% else %}
          {% include "./templates/action_list.njk" %}
        {% endif %}
      </ul>
      {% endset %}
      {% set measureListHTML %}
        {% include "./templates/measures_list.njk" %}
      {% endset %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Measures"
            },
            value: {
              html: measureListHTML
            },
            actions: {
              items: [
                {
                  href: "06measure#",
                  text: "Change",
                  visuallyHiddenText: "Measures"
                }
              ]
            }
          },
          {
            key: {
              text: "Reason for applying measures"
            },
            value: {
              html: data ["2401_measureaccount"]
            },
            actions: {
              items: [
                {
                  href: "07measureaccount",
                  text: "Change",
                  visuallyHiddenText: "Reason for applying measures"
                }
              ]
            }
          },
          {
            key: {
              text: "Measures review date"
            },
            value: {
              html: data ["2401_incident_date_review"]
            },
            actions: {
              items: [
                {
                  href: "08reviewdate",
                  text: "Change",
                  visuallyHiddenText: "Measures review date"
                }
              ]
            }
          }
        ]
      }) }}
    </div>

    <h2 class="govuk-heading-l">Incident </h2>

    <p><span class='govuk-visually-hidden'>Report date: </span>{{data['20240429_inc2_date']}}<br>
      <span class='govuk-body-s' style='color:#505a5f'>{{data['20240429_inc2_time']}}</span>
      <br>{{data['20240429_inc2_reporter']}}:{{data['20240429_inc2_interaction_type']}}</p>

      <div class="govuk-!-margin-bottom-9">
      {% set actionListHTML %}
      <ul class="govuk-list govuk-list--bullet">
        {% if (data["2401_actions2"] == "" and data["2401_actions_dm2"] == "")  %}
          <li>None</li>
        {% else %}
          {% include "./templates/action_list2.njk" %}
        {% endif %}
      </ul>
      {% endset %}
      {% set typechangeHTML %}03type2.html?n={{ data['Timenow'] }}{% endset %}
        
      

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Incident type"
            },
            value: {
              html: data["2404_incident2_type"]
            },
            actions: {
              items: [
                {
                  href: typechangeHTML,
                  text: "Change",
                  visuallyHiddenText: "Incident type"
                }
              ]
            }
          },
          {
            key: {
              text: "Incident cause"
            },
            value: {
              html: data["2404_incident2_trigger"]
            },
            actions: {
              items: [
                {
                  href: "04trigger2",
                  text: "Change",
                  visuallyHiddenText: "Incident cause"
                }
              ]
            }
          },
          {
            key: {
              text: "Actions"
            },
            value: {
              html: actionListHTML
            },
            actions: {
              items: [
                {
                  href: "05actions2",
                  text: "Change",
                  visuallyHiddenText: "Actions"
                }
              ]
            }
          },
          {
            key: {
              text: "Note for manager"
            },
            value: {
              html: data["2401_note2"]
            },
            actions: {
              items: [
                {
                  href: "09prepare_single_man2",
                  text: "Change",
                  visuallyHiddenText: "Note for manager"
                }
              ]
            }
          }
        ]
      }) }}
    </div>

    <h2 class="govuk-heading-l">Incident </h2>
      <p><span class='govuk-visually-hidden'>Report date: </span>{{data['20240429_inc1_date']}}<br>
        <span class='govuk-body-s' style='color:#505a5f'>{{data['20240429_inc1_time']}}</span>  
      <br>{{data['20240429_inc1_reporter']}}:{{data['20240429_inc1_interaction_type']}}</p>

    <div class="govuk-!-margin-bottom-9">
      {% set actionListHTML %}
      <ul class="govuk-list govuk-list--bullet">
        {% if (data["2401_actions"] == "" and data["2401_actions_dm"] == "")  %}
          <li>None</li>
        {% else %}
          {% include "./templates/action_list.njk" %}
        {% endif %}
      </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Incident type"
            },
            value: {
              html: data["2404_incident_type"]
            },
            actions: {
              items: [
                {
                  href: "03type",
                  text: "Change",
                  visuallyHiddenText: "Incident type"
                }
              ]
            }
          },
          {
            key: {
              text: "Incident cause"
            },
            value: {
              html: data["2404_incident_trigger"]
            },
            actions: {
              items: [
                {
                  href: "04trigger",
                  text: "Change",
                  visuallyHiddenText: "Incident cause"
                }
              ]
            }
          },
          {
            key: {
              text: "Actions"
            },
            value: {
              html: actionListHTML
            },
            actions: {
              items: [
                {
                  href: "05actions",
                  text: "Change",
                  visuallyHiddenText: "Actions"
                }
              ]
            }
          },
          {
            key: {
              text: "Note for manager"
            },
            value: {
              html: data["2401_note"]
            },
            actions: {
              items: [
                {
                  href: "09prepare_single_man",
                  text: "Change",
                  visuallyHiddenText: "Note for manager"
                }
              ]
            }
          }
        ]
      }) }}
    </div>    
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Are you ready to add these actions and measures to this customer's record?</h2>
    
    <p class="govuk-body">If you need to change anything in your report, select Change next to each answer or use the back link near the top of this page.</p>
        <p class="govuk-body">When you click 'Record actions and measures', we will send your decision to the reporter and their manager.</p>
        <p class="govuk-body govuk-!-font-weight-bold">You will not be able to change anything about your decision after you click the button.</p>
        <div class="govuk-button-group">
          {{ govukButton(
              {
                text: "Add actions and measures. Close decision"
              }
            )
          }}
        </div>
      </div>
    </div>
  </form>

{% endblock %}
