<ul class="govuk-list govuk-list--bullet">
	<li>"Take actions" updated title/hint and action detail</li>
	<li>"Account for measures" hint to warn that this message will be sent to line managers</li>
	<li>"View Actions" and "View Measures" Minor content updates to view historical actions and measures</li>
	<li>History page showing active measures "None"</li>
	<li>Layout of actions and measures details to be full width</li>
	<li>Move to using Task for task assignment - only visible in the error messages for re-assign in the BS workflow</li>
</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
<ul class="govuk-list govuk-list--bullet">
	<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133179082061/Decision+makers+can+navigate+customer+history+timeline">Decision makers can navigate customer history timeline</a></li>
	<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133181669485/Decision+makers+use+multiple+systems">Decision makers use multiple systems </a> (to be enacted)</li>
	<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133180227680/Decision+makers+don+t+understand+applying+new+measures+negate+existing+measures">Decision makers don't understand applying new measures negate existing measures</a> (context)</li>
	<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133179114899/Decision+makers+need+to+know+outcomes+of+previous+actions">Decision makers need to know outcomes of previous actions</a> (to be enacted)</li>
	<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133180194938/Decision+makers+often+want+to+re-apply+measures">Decision makers often want to re-apply measures</a> (to be enacted)</li>
	<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133180227671/Decision+makers+want+details+of+historical+actions">Decision makers want details of historical actions</a> (to be enacted)</li>
</ul>
