
{% extends "layout_20240129_ur.html" %}
{% block pageTitle %}
  Customer history - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "01landingpage1_nmready"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">Customer history</h1>
		</div>
	</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<p>This page shows all incidents and safety concerns reported about this customer's behaviour, and any actions taken and measures applied as a result. </p>
			<p>They are in date and time order with the most recent at the top. </p>
      <div class="govuk-button-group">
				{{ govukButton({
					text: "Record new actions or measures",
					href: "#"
				}) }}
				{{ govukButton({
					text: "Add a note",
					href: "h_06infomessage",
					classes: "govuk-button--secondary"
				}) }}
		</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<style>
				@media (min-width: 40.0625em) {
					hr {
						margin:0px !important;
					}
				}
			</style>

		</div>
	</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<ol class="dwp-timeline__events">
				<li class="dwp-timeline__events--entry">
					<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Action</h2>
					<p class="govuk-!-margin-bottom-1 govuk-hint">{{data ['2401_incident_date']}}</p>
					<p class="govuk-caption-m"><a href="h_05action_single"><span class="govuk-visually-hidden">Action. </span>
						Send a letter
					</a></p>
				</li>
				{% if (data['2401_applymeasures1'] == '' and data['2401_applymeasures2'] == '' and data['2401_applymeasures3'] == '') %}
					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Measures</h2>
						<p class="govuk-!-margin-bottom-1 govuk-hint">{{data ['2401_incident_date']}}</p>
						<p class="govuk-caption-m"><a href="h_04measures"><span class="govuk-visually-hidden">Measures. </span>
						None
						</a></p>
					</li>
				{% else %}
					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Measures (Active)</h2>
						<p class="govuk-!-margin-bottom-1 govuk-hint">{{data ['2401_incident_date']}}</p>
						<p class="govuk-caption-m"><a href="h_04measures"><span class="govuk-visually-hidden">Measures. </span>
							{% include "../2-dm/templates/measures_list_history.njk" %} 
						</a></p>
					</li>
				{% endif %}
				{% if data['2401_actions'] or data['2401_actions_dm']  %}
					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Action request</h2>
						<p class="govuk-!-margin-bottom-1 govuk-hint">{{data ['2401_incident_date']}}</p>
						<p class="govuk-caption-m"><a href="h_05action"><span class="govuk-visually-hidden">Action request. </span>
							{% if (data["2401_actions"] == "" and data["2401_actions_dm"] == "")  %}
							<li>None</li>
						  {% else %}
							{% include "../2-dm/templates/action_list_request.njk" %} 
						  {% endif %}
						</a></p>
					</li>
				{% endif %}
				<li class="dwp-timeline__events--entry">
					<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Incident</h2>
					<p class="govuk-!-margin-bottom-1 govuk-hint">{{data ['2401_incident_date']}} </p>
					<p class="govuk-caption-m"><a href="h_02incident_best_simple_walk"><span class="govuk-visually-hidden">Incident. </span>Ruby Conn: Telephone</a></p>
				</li>
			</ol>
		</div>
	</div>


{% endblock %}
