{% extends "layout_20240129_ur.html" %}
{% block pageTitle %}
  Action request - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
      <h1 class="govuk-heading-xl">Action request</h1>
      

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date requested
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ['2401_incident_date']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Requested by
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['your-first-name'] + " " + data['your-last-name']}}
          </dd>
        </div>

        {% for item in data["2401_actions"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action: Sarah Sencha
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                {% if item == 'Send a letter' %}
                  <li>{{ item }}<br>{{data["2401_letter_detail"]}}</li>
                {% else %}
                  <li>{{ item }}</li>
                {% endif %}
                </ul>
            </dd>
          </div>
        {% endfor %}             
        {% for item in data["2401_actions_dm"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action: {{data['your-first-name'] + " " + data['your-last-name']}}
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">

                  <li>{{ item }}</li>
                </ul>
            </dd>
          </div>
        {% endfor %}             

      </dl>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "javascript:history.back()"
        }) }}
      </div>

{% endblock %}
