//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// change font family for internal service
$font-stack: Helvetica, Arial, sans-serif;

// Add extra styles here

@import "node_modules/@ministryofjustice/frontend/moj/all";

// overrride for grey text in caption
.kcis-caption-reportedby {
    color: $govuk-secondary-text-colour;
}
// overrride for black text in caption
.kcis-caption-incidenttype {
    color: $govuk-text-colour;
}
