<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01landingpage__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="01landingpage1_witness">1. What a witness may see</a><br>
	<a href="01landingpage2_manager">2. What an incident manager might see (first time through)</a><br>
	<a href="01landingpage3_manager_complex">3. A Complex view that the incident manager might see</a><br>
	<a href="01landingpage4_empty">4. A view when there are no requests</a><br>
</ul>
<h4 class="govuk-heading-s">v1 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Managers and Witnesses will be directed here by email inviting them to make a report</li>
		<li>Date is incident date for incidents and last modified date for concerns</li>
		<li>Concerns are not reviewed by (incident) managers</li>
		<li>Concerns have no witnesses (display "None indicated")</li>
		<li>Witnesses can be "None indicated" unless answered yes to "were there witnesses", in which case display "Yes"</li>
		<li>Ordered oldest first by incident date</li>
		<li>Completed section shows recent incidents that have not had a decision made yet so that witnesses/managers can view to their reports should they be questioned about them</li>
		<li>Note: This is a different page from case reviewers landing page</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
	</ul>
{% set journeyNotesHTMLDecision %}
	{% include "beta/common/landing/notes/v1__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v1 Journey level design notes",
	html: journeyNotesHTMLDecision
}) }}	