{% extends "layout.html" %}

{% block pageTitle %}
  Which business area does the reporter work in? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="00agentsource_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select the organisation the reporter works for",
            href: "#organisation"
          }
        ]
      }) }}      
      {% include "./templates/govuk-caption-m-whitney.njk" %}
      {{ govukRadios({
        idPrefix: "organisation",
        name: "organisation",
        fieldset: {
          legend: {
            text: "Which business area does the reporter work in?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "CHDA",
            text: "Centre for Health and Disability Assessments (CHDA)"
          },
          {
            value: "pip",
            text: "Personal Independence Payment (PIP)"
          },
          {
            value: "g4s",
            text: "G4S"
          },
          {
            value: "tp",
            text: "Teleperformance"
          },
          {
            value: "DWP",
            text: "Department for Work and Pensions (DWP)"
          },
          {
            value: "other",
            text: "Other"
          }
        ],
        hint: {
          text: "Select the most appropriate option to describe your business area."
        },
        errorMessage: {
          text: "Select the organisation the reporter works for"
        }
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "11police"
        }) }}
      </div>
    </div>
  </div>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/10agentsource__notes.njk" %}
	{% endif %}
{% endblock %}
