<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/19multiple__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="19multiple">1. Assign multiple cases to decision maker</a></li>
		<li><a href="19multiple_success">2. Assigned multiple cases to decision maker successfully</a></li>
	</ul>
<h4 class="govuk-heading-s">v1 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-xxxxx">CITI-xxxxx - Administration tools</a></li>
		<li>Redirect to this page from any page in the journey when multiple cases assigned to different colleagues</li>
		<li>Must be able to assign all statuses to a decsion maker in status "decision pending" </li>
		<li>Returns to self</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li>Need: Work on multiple cases</li>
				<li>Pain: Manually managing their workflow</li>
				<li>Pain relievers: Automate workflow and task managing</li>
			</ul>
	</ul>
	
{% set journeyNotesHTMLDecision %}
	{% include "beta/decision/notes/v8__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v8 Journey level design notes",
	html: journeyNotesHTMLDecision
}) }}	

