{% extends "layout.html" %}
{% block pageTitle %}
  What was the main cause of this incident? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="06when_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "02history_complex"
    }) }}
  </section>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "./templates/govuk-caption-m-whitney_walk.njk" %}  
    {{ govukRadios({
      idPrefix: "incident-type",
      name: "incident-type",
      fieldset: {
        legend: {
          text: "What was the main cause of this incident?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
      {
        value: "payment",
        text: "An issue with payment",
        hint: {
          text: "For example, the customer believes they're entitled to more money"
        }
      },

   {
     value: "service",
     text: "An issue with the service DWP provides",
     hint: {
       text: "For example, the customer complained about long waiting times"
     }
   },

   {
     value: "dwperror",
     text: "An error in DWP process or an error made by staff"
   },

   {
     value: "policy",
     text: "Customer did not accept rules of entry or rules of conduct"

   },

   {
     value: "intoxication",
     text: "Customer appeared to be under the influence of alcohol or drugs"
   },
   {
     value: "health",
     text: "Customer appeared to have a physical or mental health condition"
   },
   {
     value: "target",
     text: "Customer targeted a specific member of staff"
   },
   {
     value: "Other",
     text: "Other"
   }
 ]
    }) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        href: "05actions"
      }) }}
    </div>
  </div>
</div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/04trigger__notes.njk" %}
	{% endif %}
{% endblock %}
