<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/00usersat__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="00usersat_contactlater">User satisfaction - Contact later</a></li>
		<li><a href="00usersat_contactlater_error">Error - User satisfaction - Contact later</a></li>
		<li><a href="00usersat">User satisfaction - Rating (Alternative not implelented)</a></li>
</ul>
<h4 class="govuk-heading-s">v1 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Separate page for easy inclusion to multiple journeys (No caption)</li>
		<li>If we send a link to a survey on email immediately, the user could fill in survey twice unless we also update confirmation pages. We will monitor this to see how often this causes confusion</li>
		<li>Data will be anonymised (GUID)</li>
		<li>Should "contact later" version not have desired effect, we will try the alternative</li>
		<li>Some reworking on the back end required around when the journey is destroyed. If on pre-render of confirmation page, there should be a back link</li>
	</ul>
	<ul class="govuk-list govuk-list--bullet">
		<li><strong><i>Contact later option</i></strong></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Allowing deferral and a simpler question should increase uptake</li>
		</ul>
		<li><strong><i>Rating option</i></strong></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>This may be too much extra to think about for a meaningful result</li>
		</ul>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>We believe that response rate will be increased by including user satisfaction within journey</li>
		<li>We believe that users are skimming over the link to survey on the confirmation page. </li>
		<li>We believe that users are already undertaking a task in addition to normal requirements. This makes it unlikely that they will volunteer to complete an additional task immediately.</li>
		<li>We believe that requiring user to make a selection before submitting will increase take up</li>
		<li>We believe that requiring user to make a selection before submitting will not reduce reporting quantity</li>
		<li>We believe that requiring user to make a selection before submitting will not increase colleagues anxiety</li>	</ul>
{% set journeyNotesHTMLDecision %}
	{% include "beta/common/user_sat/notes/v1__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v1 Journey level design notes",
	html: journeyNotesHTMLDecision
}) }}	