{% for item in data["2401_actions_dm"] %}
  <li> 
      {{ item }}
  </li>
{% endfor %}             
{% if (data['2401_actions'] == "Send a letter") and (data['who-sends'] == "decisionmaker")  %}
  <li>Send a letter<br>{{data['2401_letter_detail']}}</li>

{% elif data["2401_actions_dm"] == "" and data["2401_actions"] == "" %} 
  <li>None3</li>
{% endif %} 
