{% for item in data["2401_actions_dm2"] %}
  <li> 
      {{ item }}
  </li>
{% endfor %}             
{% if (data['2401_actions2'] == "Send a letter") and (data['who-sends2'] == "decisionmaker")  %}
  <li>Send a letter<br>{{data['2401_letter_detail2']}}</li>

{% elif data["2401_actions_dm2"] == "" and data["2401_actions2"] == "" %} 
  <li>None</li>
{% endif %} 
