{% for item in data["2401_actions2"] %}
    {% if (item == 'Send a letter') and (data["who-sends2"] == "manager") %}
        <li>{{ item }}<br>{{data["2401_letter_detail2"]}}</li>
    {% elif item == 'Issue a verbal warning' or item == 'Interview by a manager' %}
      <li>{{ item }}</li>
    {% endif %}
  
{% endfor %}             
{% if data["2401_actions2"] == "" or (data["2401_actions2"] == "Send a letter" and data["who-sends2"] == "decisionmaker" ) %} 
  <li>None</li>
{% endif %} 

