    <span class="govuk-caption-m"><span class="govuk-visually-hidden">Incident date: </span>{{data['20240429_inc1_date']}}. Reported by {{data['20240429_inc1_reporter']}} <strong class="govuk-tag">{{data['20240429_inc1_status']}}{% if data['20240429_inc1_actioned'] == "yes" %} (actioned){% endif %}</strong></span>
