    <span class="govuk-caption-m"><span class="govuk-visually-hidden">Incident date: </span>{{data['20240429_inc2_date']}}. Reported by {{data['20240429_inc2_reporter']}} <strong class="govuk-tag">{{data['20240429_inc2_status']}}{% if data['20240429_inc2_actioned'] == "yes" %} (actioned){% endif %}</strong></span>
