{% extends "layout.html" %}

{% set myPageTitle = "Gold data" %}
{% set c3name = 'Belinda Carpenter' %}
{% set c4name = 'Sofia Simmons' %}
{% set c5name = 'Lazaro Graves' %}

{% block pageTitle %}
  {{myPageTitle}} - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">{{myPageTitle}}</h1>
    <p class="govuk-body">V1 - Single report type histories (as opposed to multi-reports)</p>
    <p class="govuk-body"><a href="v1/c1">v1 - C1: No history {{ data['c1name'] }}</a></p>
    <p class="govuk-body"><a href="v1/c2">v1 - C2: Old history {{ data['c2name'] }}</a></p>
    <p class="govuk-body"><a href="v1/c3">v1 - C3: Simple history {{ data['c3name'] }}</a> </p>
    <p class="govuk-body"><a href="v1/c4">v1 - C4: Medium history {{ data['c4name'] }}</a> </p>
    <p class="govuk-body"><a href="v1/c5">v1 - C5: Complex history {{ data['c5name'] }}</a> </p>

    <h2 class="govuk-heading-l">Set defaults</h2>
    <h3 class="govuk-heading-m">Customers</h3>

    <form action="/beta/_data/" class="form" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "c1name",
            name: "c1name",
            spellcheck: false,
            value: "Celia Customer",
            label: {
              text: "c1name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {% set c1mydate = 'today' | govukDate %}
          {% set c1yearNow = c1mydate.slice(-4)  %}
          {% set c1ageNow = 25 %}
          {% set c1yearBorn = "3 March " + (c1yearNow - c1ageNow) %}
          
          {{ govukInput({
            id: "c1dob",
            name: "c1dob",
            spellcheck: false,
            value: c1yearBorn,
            label: {
              text: "c1dob"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {{ govukInput({
            id: "c1nino",
            name: "c1nino",
            spellcheck: false,
            value: 'XX XX XX XX X',
            label: {
              text: "c1nino"
            }
          }) }}
          
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "c2name",
            name: "c2name",
            spellcheck: false,
            value: "Cedric Customer2",
            label: {
              text: "c2name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {% set c2mydate = 'today' | govukDate %}
          {% set c2yearNow = c2mydate.slice(-4)  %}
          {% set c2ageNow = 65 %}
          {% set c2yearBorn = "20 November " + (c2yearNow - c2ageNow) %}
          
          {{ govukInput({
            id: "c2dob",
            name: "c2dob",
            spellcheck: false,
            value: c2yearBorn,
            label: {
              text: "c2dob"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {{ govukInput({
            id: "c2nino",
            name: "c2nino",
            spellcheck: false,
            value: 'XX XX XX XX X',
            label: {
              text: "c2nino"
            }
          }) }}
          
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "c3name",
            name: "c3name",
            spellcheck: false,
            value: "Cory Customer3",
            label: {
              text: "c3name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {% set c3mydate = 'today' | govukDate %}
          {% set c3yearNow = c3mydate.slice(-4)  %}
          {% set c3ageNow = 18 %}
          {% set c3yearBorn = "4 April " + (c3yearNow - c3ageNow) %}
          
          {{ govukInput({
            id: "c3dob",
            name: "c3dob",
            spellcheck: false,
            value: c3yearBorn,
            label: {
              text: "c3dob"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {{ govukInput({
            id: "c3nino",
            name: "c3nino",
            spellcheck: false,
            value: 'XX XX XX XX X',
            label: {
              text: "c3nino"
            }
          }) }}
          
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "c4name",
            name: "c4name",
            spellcheck: false,
            value: "Carlo Customer4",
            label: {
              text: "c4name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {% set c4mydate = 'today' | govukDate %}
          {% set c4yearNow = c4mydate.slice(-4)  %}
          {% set c4ageNow = 30 %}
          {% set c4yearBorn = "20 November " + (c4yearNow - c4ageNow) %}
          
          {{ govukInput({
            id: "c4dob",
            name: "c4dob",
            spellcheck: false,
            value: c4yearBorn,
            label: {
              text: "c4dob"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {{ govukInput({
            id: "c4nino",
            name: "c4nino",
            spellcheck: false,
            value: 'XX XX XX XX X',
            label: {
              text: "c4nino"
            }
          }) }}
          
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "c5name",
            name: "c5name",
            spellcheck: false,
            value: "Cindy Customer5",
            label: {
              text: "c5name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {% set c5mydate = 'today' | govukDate %}
          {% set c5yearNow = c5mydate.slice(-4)  %}
          {% set c5ageNow = 45 %}
          {% set c5yearBorn = "1 January " + (c5yearNow - c5ageNow) %}
          
          {{ govukInput({
            id: "c5dob",
            name: "c5dob",
            spellcheck: false,
            value: c5yearBorn,
            label: {
              text: "c5dob"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">

          {{ govukInput({
            id: "c5nino",
            name: "c5nino",
            spellcheck: false,
            value: 'XX XX XX XX X',
            label: {
              text: "c5nino"
            }
          }) }}
          
        </div>
      </div>

      <h3 class="govuk-heading-m">Reporters</h3>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "r1name",
            name: "r1name",
            spellcheck: false,
            value: "William Workcoach",
            label: {
              text: "r1name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          
          {{ govukInput({
            id: "r1email",
            name: "r1email",
            spellcheck: false,
            value: "william.workcoach@dwp.gov.uk",
            label: {
              text: "r1email"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">


          
        </div>
      </div>

      <h3 class="govuk-heading-m">Business support</h3>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "b1name",
            name: "b1name",
            spellcheck: false,
            value: "Bryan Business-support",
            label: {
              text: "b1name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          
          {{ govukInput({
            id: "b1email",
            name: "b1email",
            spellcheck: false,
            value: "bryan.business-support@dwp.gov.uk",
            label: {
              text: "b1email"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">


          
        </div>
      </div>

      <h3 class="govuk-heading-m">Decision makers</h3>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {{ govukInput({
            id: "d1name",
            name: "d1name",
            spellcheck: false,
            value: "Darren Decision",
            label: {
              text: "d1name"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">
          
          {{ govukInput({
            id: "d1email",
            name: "d1email",
            spellcheck: false,
            value: "darren.decision@dwp.gov.uk",
            label: {
              text: "d1email"
            }
          }) }}
        </div>
        <div class="govuk-grid-column-one-third">


          
        </div>
      </div>
      {{ govukButton({
        text: "Set defaults"
      }) }}

    </form>
{% endblock %}
