{% extends "layout.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">User Research</h1>
    <p class="govuk-body">{{ data['2401_incident_date'] }}</p>
    <p class="govuk-body"><a href="/beta/_UR/20240129/1-demo/00searchlight">1. Demo</a></p>
    <p class="govuk-body"><a href="/beta/_UR/20240129/2-dm/00searchlight">2. Decision Maker - Make decision</a></p>

    <p class="govuk-body"><a href="/beta/_UR/20240129/3-history/00searchlight">3. Decision Maker - Check history - decision</a></p>
    <p class="govuk-body"><a href="/beta/_UR/20240129/4-action/01landingpage2_manager">4. Manager - Action - Send letter</a></p>
    <p class="govuk-body"><a href="/beta/_UR/20240129/5-history/00searchlight">5. Decision Maker - Check history - action</a></p>
    <p><a href="/beta/_UR/20240129/4-prep/00searchlight">6. Prepare for interaction (SPL)</a></p>
    <form class="form" action="/beta/_UR/20240129/" method="post">
        {{ govukInput({
            id: "your-first-name",
            name: "your-first-name",
            classes: "govuk-!-width-two-thirds",
            value: data['your-first-name'],
            label: {
                text: "Enter your first name"
            }
        }) }}
        {{ govukInput({
            id: "your-last-name",
            name: "your-last-name",
            classes: "govuk-!-width-two-thirds",
            value: data['your-last-name'],
            label: {
                text: "Enter your last name"
            }
        }) }}
        {{ govukInput({
            id: "your-email",
            name: "your-email",
            classes: "govuk-!-width-two-thirds",
            value: data['your-email'],
            label: {
                text: "Enter your email address"
            }
        }) }}

        <div class="govuk-button-group">
            {{ govukButton({
                text: "Save my information"
            }) }}
        </div>
    </form>
    <!-- 
<p class="govuk-body"><a href="/beta/_UR/20231107/1-rep1/00searchlight">1. Reporter A: Ruby Conn</a></p>
<p class="govuk-body"><a href="/beta/_UR/20231107/2-manager1/00email">2. Manager A: Sarah Sencha</a></p>
<p class="govuk-body"><a href="/beta/_UR/20231107/3-bst/00searchlight">3. Business support: Brenda Sport</a></p>
<p class="govuk-body"><a href="/beta/_UR/20231107/4-dm/00searchlight">4. Decision Maker: Des Maker</a> (reassign)</p>
<br><br>    
    <p class="govuk-body">9 November 2023</p>

<p class="govuk-body"><a href="/beta/_UR/20231107/5-rep2/00searchlight">5. Reporter B: Rick O'Shea</a></p>
<p class="govuk-body"><a href="/beta/_UR/20231107/6-manager2/00email">6. Manager B: Sartaq Matcha</a></p>
<p class="govuk-body"><a href="/beta/_UR/20231107/7-bst/01landingpage1_blank">7. Business support: Brenda Sport</a></p>
<p class="govuk-body"><a href="/beta/_UR/20231107/8-man/00email">8. Manager B: Sartaq Matcha</a> - Now sees email request to makes report</p>
<p class="govuk-body"><a href="/beta/_UR/20231107/9-man/00email">9. Manager B: Sartaq Matcha</a> - Goes to do list to enter witness statement on behalf of John State<br>Then makes comments and recommendations</p>
<p class="govuk-body"><a href="/beta/_UR/20231107/10-dm/01landingpage1_nmready_walk">10. Decision Maker: Des Maker</a> - Make decision (& more information & reassign)</p>
<p class="govuk-body"><a href="/beta/_UR/20231107/11-man/00email">11. Manager B: Sartaq Matcha</a> - view decision and take action</p>
<p class="govuk-body"><a href="/beta/_UR/20231107/12-dm/01landingpage1_nmready_walk2">12. Decision Maker: Des Maker</a> - Take action</p>
<p class="govuk-body"><a href="/beta/_UR/20231107/13-dm/02history_complex_walk">13. Decision Maker: Des Maker</a> - Final customer history (& note)</p>
 -->

{% endblock %}
