<!-- make sure we're not null -->
{% if (data["2401_actions"] or data["2401_actions2"] )%}
    <!-- Do either of the action lists contain actions -->
    {% if (((("Send a letter" in data["2401_actions"]) and (data["who-sends"] == "Decision maker")) or ("Request solicitor to send a letter" in data["2401_actions"]) or ("Request a banning order" in data["2401_actions"])) or 
    ((("Send a letter" in data["2401_actions2"]) and (data["who-sends2"] == "Decision maker")) or ("Request solicitor to send a letter" in data["2401_actions2"]) or ("Request a banning order" in data["2401_actions2"]))) %}
        <!-- Loop through actions1 and display appropriately -->
        {% for item in data["2401_actions"] %}
            <!-- Does the item contain DM actions -->
            {% if ((item == 'Send a letter') and (data["who-sends"] == "Decision maker") or (item == "Request solicitor to send a letter") or (item == "Request a banning order")) %}
                {% if (item == 'Send a letter') and (data["who-sends"] == "Decision maker") %}
                    <li>{{ item }}<br>{{data["2401_letter_detail"]}}</li>
                {% else %}
                    <li>{{ item }}</li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- Loop through actions2 and display appropriately -->
        {% for item in data["2401_actions2"] %}
            <!-- Does the item contain DM actions -->
            {% if ((item == 'Send a letter') and (data["who-sends2"] == "Decision maker") or (item == "Request solicitor to send a letter") or (item == "Request a banning order")) %}
                {% if (item == 'Send a letter') and (data["who-sends2"] == "Decision maker") %}
                    <li>{{ item }}<br>{{data["2401_letter_detail2"]}}</li>
                {% else %}
                    <li>{{ item }}</li>
                {% endif %}
            {% endif %}
        {% endfor %}    
    {% else %}
        <li>None</li>
    {% endif %}

{% else %}
    <li>None</li>
{% endif %}

