
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">
    <a href="#">Banning letter from GLD</a>
</h3>
<p class="govuk-body kcis-caption-reportedby govuk-!-margin-bottom-0">14 July 2025 by Jason Cowlam</p>
<p class="govuk-body">GLD have approved ban. Attached file: Robert De Silva GLD Ban Confirmation.docx</p>
