<ul class="govuk-list govuk-list--bullet">
  {% for item in data["2401_applymeasures1"] %}
    <li>{{ item }}
    {% if item == 'Interim ban from office (by DWP)' %}
    <br>{{data["2401_interim"]}}
    {% elif item == 'Ban from office (by Government Legal Department)' %}
    <br>{{data["2401_ban_loc"]}}
    {% elif item == 'Court order (injunction or interdict) in place' %}
    <br>{{data["2401_order"]}}
    {% endif %}
    </li>
  {% endfor %}        
  {% for item in data["2401_applymeasures2"] %}
    <li>{{ item }}</li>
  {% endfor %}        
  {% for item in data["2401_applymeasures3"] %}
    <li>{{ item }}
    {% if item == 'Must only interact with a named member of staff' %}
    <br>{{data["2401_named_email"]}}
    {% endif %}
  {% endfor %}       
  {% if data["2401_applymeasures1"] | length == 0 and data["2401_applymeasures2"] | length == 0 and data["2401_applymeasures3"] | length == 0 %} 
    <li>None</li>
  {% endif %}       
</ul>
