<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Note <span class="kcis-caption-reportedby govuk-body-s">from Sadiq Assam </span></h3>
<p class="govuk-body kcis-caption-reportedby">{{ "today" | duration(1, "days") | govukDate }}</p>
<p class="govuk-body">We are awaiting the outcome of a new health assessment</p>
