
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Banning letter from Robert Da Silva</h3>
<p class="govuk-body kcis-caption-reportedby govuk-!-margin-bottom-0">13 July 2025 by David Cassidy</p>
<p class="govuk-body">The customer is violent.</p>
