
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Banning letter from GLD</h3>
<p class="govuk-body kcis-caption-reportedby govuk-!-margin-bottom-0">{{ "today" | duration(1, "days") | govukDate }} by Sadiq Assam</p>
<p class="govuk-body">We are awaiting the outcome of a new health assessment</p>
