{% if data['2reports'] == 'yes' %}
    <span class="govuk-caption-m" ><strong>Multiple reports</strong></span>
    <a href="02history_complex_multiple">View Customer history</a>
{% else %}
    {% include "./multi_caption1.njk" %}
{% endif %}

