{% set actionsHTML %}
{% if data['reassigned'] %}
<a href='19multiple'>Gather reports</a> | <a href='02history_complex_multiple' aria-label='Review and apply measures for multiple incidents'>Open</a>
{% else %}
<a href='19multiple'>Gather reports</a>
{% endif %}
{% endset  %}



    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          html: "Date"
        },
        {
          text: "Customer"
        },
        {
          text: "Original reporter"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            html: "<span class='govuk-tag'>Multiple reports</span>"
          },
          {
            html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
          },
          {
            html: "<span class='govuk-visually-hidden'>Original reporter: </span>Multiple"
          },
          {
            html: actionsHTML
          }
        ]        
      ]
    }) }}