{% set actionsHTML %}
  {% if data['reassigned'] %}
    <a href='19multiple'>Gather reports</a> | <a href='02history_complex_multiple' aria-label='Review and apply measures for multiple incidents'>Open</a>
  {% else %}
    {% if data['2reports'] == 'yes' %}
      <a href='19multiple'>Gather reports</a>
    {% else %}
      <a href='#'>Reassign</a> | <a href='02history_complex_multiple0' aria-label='Review and apply measures for multiple incidents'>Open</a>
    {% endif %}
  {% endif %}
{% endset  %}

{% set incidentDateHTML %}
  <span class="govuk-visually-hidden">Date: </span> {{data['20240429_inc1_date']}}<br><span class="govuk-body-s" style="color:#505a5f">  {{data['20240429_inc1_time']}}</span>
{% endset  %}

{% set reporterHTML %}
<span class='govuk-visually-hidden'>Original reporter: </span>{{data['20240429_inc1_reporter']}}
{% endset  %}

    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          html: "Date"
        },
        {
          text: "Customer"
        },
        {
          text: "Original reporter"
        },
        {
          text: "Witnesses"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            html: incidentDateHTML
          },
          {
            html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
          },
          {
            html: reporterHTML
          },
          {
            html: "None indicated"
          },
          {
            html: actionsHTML
          }
        ]        
      ]
    }) }}