{% extends "layout.html" %}
{% block pageTitle %}
Accessible buttons and links in Fusion 
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">VO prepare for interaction demo at Sprint review</h1>
    <p class="govuk-body">08 Aug 2024</p>
    <p class="govuk-body">All agents </p>
  <ul>
    <li><a href="/beta/_UR/20240806/00searchlight">All agents - no measures</a></li>
    <li><a href="/beta/_UR/20240806/00searchlight_measures_notvo">All agents - measures</a></li>
  </ul>
  <p class="govuk-body">VOs</p>
    <ul>
      <li><a href="/beta/_UR/20240806/00searchlight_measures_vo">No measures</a></li>
      <li><a href="/beta/_UR/20240806/00searchlight_measures">Measures</a></li>
    </ul>
{% endblock %}
