{% set versions = [ 
  "../v5/04measures",
  "../v6/04measures"
] %}


{{ govukPagination({
  items: [
    {
      number: 5,
      href: versions[0]
    },
    {
      number: 6,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

