{% extends "layout.html" %}
{% block pageTitle %}
  Request information - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="19infomessage_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "06measure"
    }) }}
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/beta/_UR/20240129/2-dm/h_02incident_best_simple_walK#manager_section" method="post">        {% set hintHTML %}
        <p class="govuk-body">Send to: Sarah Sencha (manager)</p>
          {{ govukWarningText({
            text: "Do not include the names of any DWP staff in your note.",
            iconFallbackText: "Warning"
          }) }}
        {% endset %}
        <input class="govuk-visually-hidden" id="2401_timestamp" name="2401_timestamp" type="text" value="10.25am">

        {{ govukTextarea({
          name: "2401_requestinfo",
          id: "2401_requestinfo",
          value: data ["2401_requestinfo"],
          label: {
            text: "Request information",
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
            hint: {
            html: hintHTML
          }
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Send message"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
