<span class="govuk-caption-m">
    <strong class='govuk-tag'>Decision pending - Current</strong><br>
    <strong class='kcis-caption-incidenttype'>Centre for Health and Disability Assessments (CHDA) concern</strong><br>
    <span class='govuk-body-s kcis-caption-reportedby' >Reported by Mike Black, 8 August 2022 at 2:31pm</span>
</span>