<span class="govuk-caption-m">
    <strong style='color:#000'>Incident type not available</strong><br>
    <span class='' style='color:#000'>Incident date and time: Not available</span><br>
    <span class='govuk-body-s' style='color:#505a5f'>Reported by name not available, date not available</span>
</span>