<span class="govuk-caption-m">
    <strong style='kcis-caption-incidenttype'>Telephone incident</strong><br>
    <span class="govuk-visually-hidden">Incident date and time: </span><span class='kcis-caption-incidenttype'>1 March 2023 at 9:00am</span><br>
    <span class='govuk-body-s kcis-caption-reportedby'>Reported by Whitney Earl, 2 September 2023 at 12:30am</span>
</span>