<span class="govuk-caption-m">
    <strong style='color:#000'>Centre for Health and Disability Assessments (CHDA) concern</strong><br>
    <span class='govuk-body-s' style='color:#505a5f'>Reported by Mike Black, 8 August 2022 at 2:31pm</span>
</span>