
<span class="govuk-caption-m">
    <strong class='kcis-caption-incidenttype'>In person incident</strong><br>
    <span class="govuk-visually-hidden">Incident date and time: </span><span class='kcis-caption-incidenttype'>7 August 2022 at 11:09am</span><br>
    <span class='govuk-body-s kcis-caption-reportedby'>Reported by Ted Assam, 8 August 2022 at 2:31pm</span>
</span>
