<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/h_02incident_best_simple__notes__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="h_02incident_best_simple">View incident - simplified</a></li>
		<li><a href="h_02incident_best_simple_existing">View incident </a></li>
		<li><a href="h_02incident_best_migrated">View incident migrated - no UI change</a></li>
		<li><a href="h_02incident_best_migrated2">View incident migrated - UI change</a></li>
	</ul>
<h4 class="govuk-heading-s">v6 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Business support details added to contact details but removed from this version and raised in the Backlog funnel: C<a href="https://dwpdigital.atlassian.net/browse/CITI-21882">ase reviewer: Display business support agent contact</a></li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19172">Prompt Manager for More Information</a></li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19174">Case Reviewer: Remind Managers and Witnesses to Submit Reports</a></li>
		<li>Case reviewer - same reminder and extra info required for both Business Support and Decision makers</li>
		<li>If Comments and recommendations is blank or only shows reminders, show "Resend email request" button</li>
		<li>If Comments and recommendations has a report, show "Request information" button</li>
		<li>"correspondence" handled by an API</li>
		<li>Email reminder stamped so that Case reviewer can see a reminder has already been sent</li>
		<li>Request information button only shown on incidents (not concerns)</li>
		<li>Only "live" incidents provide this functionality</li>
		<li>"Resend email request" button in witnesses and manager sections have hidden text</li>
		<li>Check if there is a witness statement before sending email reminder because it may have been submitted while Case reviewer is reading the page</li>
		<li>User will see the confirmation of their email being sent as they are returning to the section that they left and there will now be a record of it</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Hypothesis: BST will see the correspondence as enough feedback that the email has been sent and do not require an extra confirmation page</li>
		<li>Insight: <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133319034694">Managers saw the confirmation page as an indication of completed interaction</a> - So we are using an implementation without a confirmation screen. Particularly as case reviewers are likely to be more skilled users than managers</li>
		<li>Trigger warning - <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133232165261/20230419+Sprint+Review">Feature suggestion from sprint review</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li class="govuk-body-s">Need: Make evidence based decisions</li>
				<li class="govuk-body-s">Pain relievers: Full timeline history</li>
			</ul>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li class="govuk-body-s">Pain: Chasing incident manager reports</li>
				<li class="govuk-body-s">Pain: Chasing witness reports</li>
			</ul>	
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133219649392">Insight: Can navigate page</a><br>
		<p class="govuk-body-s">Insight from Incident Managers research evidences aptitude for reading long reports. Page does not require additional navigational aids. Hypothesise incident managers are similar users.</p></li>	
	</ul>
	
{% set journeyNotesHTMLDecision_v6 %}
	{% include "beta/decision/notes/v6__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v6 Journey level design notes",
	html: journeyNotesHTMLDecision_v6
}) }}	

