{% extends "layout.html" %}
{% block pageTitle %}
  When should these measures be reviewed? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="06when_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "07measureaccount"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set dateHtml %}
        {{ govukDateInput({
          id: "incident-date",
          namePrefix: "incident-date",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "For example, 30 11 2021"
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "day"
            },
            {
              classes: "govuk-input--width-2",
              name: "month"
            },
            {
              classes: "govuk-input--width-4",
              name: "year"
            }
          ]
        }) }}
      {% endset -%}
      {% include "./templates/govuk-caption-m-mike.njk" %}
        {{ govukRadios({
        idPrefix: "review",
        name: "review",
        fieldset: {
          legend: {
            text: "When should these measures be reviewed?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "12months",
            text: "In 12 months"
          },
          {
            value: "6months",
            text: "In 6 months"
          },
          {
            value: "3months",
            text: "In 3 months"
          },
          {
            value: "2months",
            text: "In 2 months"
          },
          {
            value: "1month",
            text: "In 1 month"
          },
          {
            value: "other",
            text: "Other",
            conditional: {
              html: dateHtml
            }
          }
        ]
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "09prepare_single_man"
        }) }}
      </div>
    </div>
  </div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/08reviewdate__notes.njk" %}
	{% endif %}	
{% endblock %}