<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/h_05action__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="h_05action">View actions (one pending, one complete)</a></li>
		<li><a href="h_05action_single_pending">View action single (pending)</a></li>
		<li><a href="h_05action_complete">View action (complete) - letter</a></li>
		<li><a href="h_05action_single">View action (complete) - warning</a></li>		
	</ul>
<h4 class="govuk-heading-s">v6 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Actions now as 2-part. Record action, then request action to be confirmed. This has the following effects:</li>
		<ul>
			<li>Requires knowledge of whether DM or Manager action. (who to chase)</li>
			<li>Displayed in timeline according to request date unless there is a completed date. This means that </li>
		</ul>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133180227671/Decision+makers+want+details+of+historical+actions">Decision makers want details of historical actions</a>		</li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
	</ul>
	
{% set journeyNotesHTMLDecision_v6 %}
	{% include "beta/decision/notes/v6__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v6 Journey level design notes",
	html: journeyNotesHTMLDecision_v6
}) }}	

