{% set versions = [ 
  "../v4/01landingpage2_manager",
  "../v5/01landingpage2_manager"
] %}



{{ govukPagination({

  items: [
    {
      number: 4,
      href: versions[0]
    },
    {
      number: 5,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

