{% set versions = [ 
  "../v1/03list_witness3_no_witnesses",
  "../v2/03witnessdisplay",
  "../v3/03witnessdisplay-1nowitnesses",
  "../v4/03witnessdisplay-1nowitnesses",
  "../v5/03witnessdisplay-1nowitnesses",
  "../v6/03witnessdisplay-1nowitnesses"
] %}



{{ govukPagination({

  items: [
    {
      number: 1,
      href: versions[0]
    },
    {
      number: 2,
      href: versions[1]
    },
    {
      number: 3,
      href: versions[2]
    },
    {
      number: 4,
      href: versions[3]
    },
    {
      number: 5,
      href: versions[4]
    },
    {
      number: 6,
      href: versions[5]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

