{% set versions = [ 
  "../v2/07witness_report",
  "../v3/07witness_report_simple",
  "../v4/07witness_report_simple",
  "../v5/07witness_report_simple"
] %}



{{ govukPagination({

  items: [
    {
      number: 2,
      href: versions[0]
    },
    {
      number: 3,
      href: versions[1]
    },
    {
      number: 4,
      href: versions[2]
    },
    {
      number: 5,
      href: versions[3]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

