{% set versions = [ 
  "../v1/09comments",
  "../v2/11comments",
  "../v3/11comments",
  "../v4/11comments",
  "../v5/11comments"
] %}



{{ govukPagination({

  items: [
    {
      number: 1,
      href: versions[0]
    },
    {
      number: 2,
      href: versions[1]
    },
    {
      number: 3,
      href: versions[2]
    },
    {
      number: 4,
      href: versions[3]
    },
    {
      number: 5,
      href: versions[4]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

