{% set versions = [ 
  "../v4/a02action_letter",
  "../v5/a02action_letter"
] %}



{{ govukPagination({

  items: [
    {
      number: 4,
      href: versions[0]
    },
    {
      number: 5,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

