{% set versions = [ 
  "../v4/d02decision",
  "../v5/d02decision"
] %}



{{ govukPagination({

  items: [
    {
      number: 4,
      href: versions[0]
    },
    {
      number: 5,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

