{% set versions = [ 
  "../v4/wit02comments",
  "../v5/wit02comments",
  "../v6/wit02comments"
] %}



{{ govukPagination({

  items: [
    {
      number: 4,
      href: versions[0]
    },
    {
      number: 5,
      href: versions[1]
    } ,
    {
      number: 6,
      href: versions[2]
    }    
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

