<ul class="govuk-list govuk-list--bullet">
  <li>Dev story <a href="https://dwpdigital.atlassian.net/browse/CITI-18658">CITI-18658 - AD – leaver details – ‘reporter has left the organisation’ </a></li>
</ul>