{% extends "layout_202311_demo.html" %}
{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  {% include "./templates/govuk-caption-m-whitney.njk" %}
  <h1 class="govuk-heading-xl">Check your answers</h1>
  <style>
    .govuk-summary-list__row:first-child dt {
      line-height: 1.6;
    }
    .shim {
      font-size:4px;
      margin-bottom:0px !important
    }
  </style>
  {% set witnessesHTML %}
    <p class='shim'>&nbsp;</p>
    {{ govukTable({
      rows: [
        [
          {
            html: "<span class='govuk-visually-hidden'>Witness name: </span>John State"
          },
          {
            html: "Report complete"
          }
        ]
      ]
    }) }}
    {{ govukWarningText({
      html: "<p class='govuk-hint'>Before you complete your review, all witnessess should submit a witness report, and you should review them all. If you cannot do this before the review is due, explain this in your comments.</p>",
      iconFallbackText: "Warning"
    }) }}
  {% endset %}
  <style>
    #hideme {
      visibility: hidden;
    }
  </style>
  <div class="govuk-!-margin-bottom-9">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            html: "<div>&nbsp;</div><div>Witnesses</div>"
          },
          value: {
            html: witnessesHTML
          },
          actions: {
            items: [
              {
                href: "#",
                html: "<div id='hideme'>sdf &nbsp;</div><div>Change</div>",
                visuallyHiddenText: "witnesses"
              }
            ]
          }
        },
        {
          key: {
            text: "Did anyone call the police?"
          },
          value: {
            text: "Yes"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "'Did anyone call the police?'"
              }
            ]
          }
        },
        {
          key: {
            text: "What did the police do?"
          },
          value: {
            html: "I contacted the Police to advise of the threat made along with carrying a bladed weapon into the site. They provided crime reference as CRN 12345678B and advised they would look to question him."
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "'What did the police do?'"
              }
            ]
          }
        },
        {
          key: {
            text: "Comments and recommendations"
          },
          value: {
            html: "<p>Following the incident I was alerted that a customer had brought a weapon into the JCP site and made a verbal threat to my staff. I spoke with the reporter about the incident, she was visibly shocked about what happened and agreed for her to work back off house for the remainder of the day. I immediately contacted the Police to advise of the threat made along with carrying a bladed weapon into the site.  I have also made arrangements for Anne to be escorted to her car when she leaves the site for assurance on their safety.  </p>

<p>I would like the customer banned from the office as I don't feel face to face interactions would be safe to continue for the moment.  </p>
"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Comments and recommendations"
              }
            ]
          }
        }
      ]
    }) }}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <h2 class="govuk-heading-m">Are you ready to submit your review?</h2>
          <p class="govuk-body">When you click Submit, we will send your review to a case reviewer and then to a decision maker.</p>
          <p class="govuk-body govuk-!-font-weight-bold">You will not be able to change anything in your review after you click Submit.</p>
          <div class="govuk-button-group">
            {{ govukButton(
                {
                  text: "Submit",
                  href: "13confirmation"
                }
              )
            }}
          </div>
        </fieldset>
      </div>
    </div>
  </div>

{% endblock %}
