<ul class="govuk-list govuk-list--bullet">
	<li>Decribe incident page uses breakdown of 7 questions only for In-person incidents</li>
	<li>Refactored content across journey for consistency of terminology	</li>
	<ul class="govuk-list govuk-list--bullet">
		<li>Dev story: <a href="https://dwpdigital.atlassian.net/browse/CITI-16742">Content Improvement</a></li>
		<li>Dev story: <a href="https://dwpdigital.atlassian.net/browse/CITI-16753">Content Improvements</a></li>
		<li>Dev story: <a href="https://dwpdigital.atlassian.net/browse/CITI-16764">Content Improvements</a></li>
	</ul>
</ul>

