<ul class="govuk-list govuk-list--bullet">
	<li><a href="/beta/report_incident/reportv12/c01when-date">c01 When</a> - Added concern date</li>
	<li><a href="/beta/report_incident/reportv12/12check_simple">Check your answers</a> - Simplified content in key column and updated hidden text to match. Added date</li>
	<li>Timeout <a href="/beta/report_incident/reportv12/00timeout_warning">pop-up</a> and <a href="/beta/report_incident/reportv12/00timeout_complete">page</a></li>
	<li><a href="/beta/report_incident/reportv12/04abusiness">04abusiness</a> - MI report business line</li>
	<li><a href="/beta/report_incident/reportv12/07where_location">07where_location</a> - Validate location from AD</li>
	<li><a href="/beta/report_incident/reportv12/02behalf">02behalf</a> - Simplify content/remove email</li>
	<li><a href="/beta/report_incident/reportv12/11a_upload">11a_upload</a> - Add MAPPA warning</li>
	<li><a href="/beta/report_incident/reportv12/c03assign">c03 assign</a> - Case reviewer assign concern</li>
</ul>
<a href="/public/images/user-flows/reporter_v12.png"><img src="/public/images/user-flows/reporter_v12.png" width="100%"></a>

