<ul class="govuk-list govuk-list--bullet">
	<li>Page order - Changed to time then type</li>
	<li><a href="/beta/report_incident/reportv3/00report">Confirm customer</a> - </li>
		<ul>
			<li>Simplified search to act as stub until Searchlight can be linked and its search functionality leveraged (do not replicate functionality)</li>
			<li>Link to searchlight in header removed because we cannot link directly back to a customer's profile</li>
		</ul>
	<li><a href="/beta/report_incident/reportv3/01report">Incident time</a> - Simplified hinting, removed verbose help</li>
	<li><a href="/beta/report_incident/reportv3/02report">Incident type</a> - Additional types</li>
	<li><a href="/beta/report_incident/reportv3/04report">Confirmation</a> -</li>
	<ul>
		<li>Copy change to mention Nominated Managers</li>
		<li>Subtitle and formatting added</li>
		<li>Back to searchlight removed as we cannot navigate back to the page that we left</li>
	</ul>
</ul>