{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Customer history - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "01landingpage1_multiple"
    }) }}
  </section>
{% endblock %}
{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">Customer history</h1>
		</div>
	</div>
  	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">
			{% include "./templates/customerhistoryhelp.njk" %}

			<!-- if both reports are actioned, or there is only one report which has been actioned, default to "Add measures" as green button -->
			{% if ((data['20240429_inc1_actioned'] == "yes") and (data['20240429_inc2_actioned'] == "yes")) or ((data['20240429_inc1_actioned'] == "yes") and (data['2reports'] == "no")) %}
				{% set actionClass = "govuk-button--secondary" %}
				{% set measureClass = "" %}
				{% set measureHref = "06measure" %}
			{% else %}
				{% set actionClass = "" %}
				{% set measureClass = "govuk-button--secondary" %}
				{% set measureHref = "06measure" %}
			{% endif %}
			<div class="govuk-button-group">
				<form class="form" action="20choosereport" method="post">
					{{ govukButton({
						text: "Prepare actions",
						classes: actionClass
					}) }}
					{{ govukButton({
						text: "Add measures",
						href: measureHref,
						classes: measureClass
					}) }}
					{{ govukButton({
						text: "Add a note",
						href: "#",
						classes: "govuk-button--secondary"
					}) }}
				</form>
			</div>
		</div>
	</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<style>
			.ds_link {
				  background:#fff;
				  border: 0;
				  display: inline;
				  font-weight: inherit;
				  line-height: initial;
				  margin: 0;
				  min-height: 0;
				  min-width: 0;
				  padding: 0;
				  text-align: left;
			  }
			  a, .ds_link {
				  color: #0065bd;
				  text-decoration: underline;
				  outline: 0px solid rgba(0, 0, 0, 0);
				  text-underline-offset: 1px;
				  transition: color .2s, background-color .2s, outline-color .2s;
				  box-shadow: 0 0px 0 #fff;
			  }
			  
			  .ds_link:hover {
				background:#fff;
				text-decoration: underline;
				text-underline-offset: 1px;
			  }
			
		  </style>		
				<ol class="dwp-timeline__events">
					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-0">
							{% if data['20240429_inc1_actioned'] == "yes" %}
								<strong class='govuk-tag--green govuk-tag'>Prepared</strong>
							{% elif data['20240429_inc1_status'] == "Decision pending" %}
								<strong class='govuk-tag'>{{data['20240429_inc1_status']}}</strong>
							{% endif %}
							<br>
							<a href="h_02incident1">{{data['20240429_inc2_interaction_type']}} incident</a>
						</h2>

							<p class="govuk-!-margin-bottom-0">{{ "today" | govukDate }}{{data['20240429_inc1_time']}}</p>
							<p class="govuk-body-s govuk-!-margin-bottom-1" style='color:#505a5f'>Reported by {{data['20240429_inc1_reporter']}}, {{ data['20240429_inc1_date_reported']}}{{ data['20240429_inc1_time_reported']}}</p>
							<p class="govuk-body-s govuk-!-margin-bottom-0" style='color:#505a5f'>
								<a href="03type">Prepare actions for this report</a>
							</p>						</li>
				</ol>
		</div>
	</div>


{% endblock %}
