{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  What was the most serious thing that happened during the incident? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="06when_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Tell us the most serious thing that happened",
            href: "#2404_incident_type"
          }
        ]
      }) }}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          <strong class='govuk-tag govuk-tag'>Decision pending</strong><br>
          <a href="h_02incident1">In person incident</a>
        </h2>
        <p class="govuk-!-margin-bottom-0">15 July 2025</p>
        <p class="govuk-body-s govuk-!-margin-bottom-0" style='color:#505a5f'>Reported by Richard Cliff on behalf of Steven Tran, 15 July 2025 at 8:30am</p>
        {{ govukRadios({
          idPrefix: "2404_incident_type",
          name: "2404_incident_type",
          value: data["2404_incident_type"],
          fieldset: {
            legend: {
              text: "What was the most serious thing that happened during the incident?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
          {
            value: "assault",
            text: "Physical assault"
          },
          {
            value: "attemptedassault",
            text: "Attempted physical assault"
          },
          {
            value: "attackequipment",
            text: "Attacked DWP equipment or property"
          },
          {
            value: "suicide",
            text: "Suicide or self-harm"
          },
          {
            value: "abuse",
            text: "Verbal or written abuse"
          },
          {
            value: "threat",
            text: "Threat"
          },
          {
            value: "noincident",
            text: "This report does not meet the definition of an incident"
          },
          {
            value: "other",
            text: "Other"
          }
        ],
          errorMessage: {
            text: "Tell us the most serious thing that happened"
          }
      }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            href: "04trigger"
          }) }}
      </form>
      </div>
    </div>
  </div>
    {% if not (checked("displaymode", "presentation") == "checked") %}
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
        <li><a href="03type">Default</a></li>
        <li><a href="03type_error">Error</a></li>
</ul>
    {% endif %}
{% endblock %}
