{% extends "layout_20241001_ur.html" %}

{% block pageTitle %}
  Complete decision - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-4">
        {% include "./templates/multi_caption3.njk" %}
      <h1 class='govuk-heading-l'>Comments for manager </h1>

      {% set notehintHTML %}
      Only Sarah Sencha will see what you enter here.
      {% endset %}
        <section aria-label="notes" role="region">
          {{ govukTextarea({
            name: "2401_note",
            id: "2401_note",
            value: data["2401_note"],
            rows: "15",
            label: {
              html: commentsHTML,
              classes: "govuk-label--l"
            },
            hint: {
              text: notehintHTML
            }
          }) }}
        </section>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            href: "11check_good"
          }) }}
      </form>
    </div>
  </div>

{% endblock %}
