{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
              {% include "./templates/govuk-caption-m-multiple.njk" %}<br>
        <a href="02history_complex_multiple8" class>View Customer history</a>
<h1 class="govuk-heading-xl">Check your answers</h1>
    <div class="govuk-!-margin-bottom-9">
      {% set actionListHTML2 %}
      <ul class="govuk-list govuk-list--bullet">
          {% include "./templates/action_list_manager2.njk" %}
      </ul>
      {% endset %}
      {% set actionListDMHTML2 %}
      <ul class="govuk-list govuk-list--bullet">
          {% include "./templates/action_list_dm2.njk" %}
      </ul>
      {% endset %}


      <style>
        .ds_link {
              background:#fff;
              border: 0;
              display: inline;
              font-size: inherit;
              font-weight: inherit;
              line-height: initial;
              margin: 0;
              min-height: 0;
              min-width: 0;
              padding: 0;
              text-align: left;
          }
          a, .ds_link {
              color: #0065bd;
              text-decoration: underline;
              outline: 0px solid rgba(0, 0, 0, 0);
              text-underline-offset: 1px;
              transition: color .2s, background-color .2s, outline-color .2s;
              box-shadow: 0 0px 0 #fff;
          }
          
          .ds_link:hover {
            background:#fff;
            box-shadow: 0 1px 0 #000;
            text-decoration: underline;
            text-underline-offset: 1px;
          }
        
      </style>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Measures
    </dt>
    <dd class="govuk-summary-list__value">
      <li>Must be seen in a screened area</li>
      <li>Must only interact with a named member of staff <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff member: whitney@dwp.gov.uk</li>
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="06measure" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Review date
    </dt>
    <dd class="govuk-summary-list__value">
      12 months
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="08reviewdate" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Actions for Sarah Sencha<br><span class="govuk-body">(Manager)</span>
    </dt>
    <dd class="govuk-summary-list__value">
        <li>Send a letter<br>First warning</li>
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="05actions" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Actions for David Cassidy<br><span class="govuk-body">(Decision maker)</span>
    </dt>
    <dd class="govuk-summary-list__value">
      <li>None</li>
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="05actions" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Who sends letter
    </dt>
    <dd class="govuk-summary-list__value">
      Manager
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="05d_wholetter" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Chosen manager
    </dt>
    <dd class="govuk-summary-list__value">
     Sarah Sencha
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="05d_wholetter" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Uploaded letter
    </dt>
    <dd class="govuk-summary-list__value">
     letter123
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="h_10upload" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reasons for measures
    </dt>
    <dd class="govuk-summary-list__value">
      The customer has involuntary physical movements and so should be seen in a screened environment with the same staff member. 
    </dd>
    <dd class="govuk-summary-list__actions">
      <form action="07measureaccount" class="form" method="post">
        {{ govukButton({
          text: "Change",
          classes: "govuk-button--secondary ds_link"
        }) }}
      </form>
    </dd>
  </div>


</dl>
</div>



          <span class="govuk-caption-m">
        <strong class='govuk-tag govuk-tag--green'>Prepared</strong> <br>
    <strong style='color:#000'> Telephone incident</strong><br>
    <span style='color:#000'>15 July 2025</span><br>
    <span class="govuk-body-s" style='color:#505a5f'>Reported by Steven Tran, 15 July 2025 at 9:30am</span>
     <p class="govuk-body-s" style="color:#505a5f">Manager: Sarah Sencha</p>
</span>
      <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-4">



        
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fast track</span>
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="06fast" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident type
          </dt>
          <dd class="govuk-summary-list__value">
            Verbal or written abuse
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="03type2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident cause
          </dt>
          <dd class="govuk-summary-list__value">
            An issue with payment
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="04trigger2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Note for manager
          </dt>
          <dd class="govuk-summary-list__value">
            Please arrange additional training for the work coach involved.
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="09prepare_single_man2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

      </dl>
    </div>

           <span class="govuk-caption-m">
        <strong class='govuk-tag govuk-tag'>Decision pending</strong> <br>
    <strong style='color:#000'> In person incident</strong><br>
    <span style='color:#000'>15 July 2025</span><br>
    <span class="govuk-body-s" style='color:#505a5f'>Reported by Richard Cliff on behave of Steven Tran, 15 July 2025 at 8:30am</span>
     <p class="govuk-body-s" style="color:#505a5f">Manager: Earl Gray</p>
</span>
      <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-4">



        
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Fast track</span>
          </dt>
          <dd class="govuk-summary-list__value">
            No information added yet
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident type
          </dt>
          <dd class="govuk-summary-list__value">
            No information added yet
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident cause
          </dt>
          <dd class="govuk-summary-list__value">
            No information added yet
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Note for manager
          </dt>
          <dd class="govuk-summary-list__value">
            No information added yet
          </dd>
        </div>


      </dl>
    </div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m">You still have at least one report to process.</h2>
    
        <p class="govuk-body">You must finish processing all reports before you can publish the decision. <br><br>If you need to change anything, select 'Change' next to each answer or use the back link near the top of this page.</p>
        <h2 class="govuk-heading-m">What you need to do?</h2>
        <p>Select 'Finish processing reports' to finish processing any remaining reports. <strong>This will not publish your decision.</strong></p>
        <p>Once any reports are processed, you will be able to add measures, publish the decision, and close your report.</p>
        <form action="12confirmation2" class="form" method="post">
          <input type="hidden" id="20240429_inc2_status" name="20240429_inc2_status" value="Prepared" >
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Publish actions and measures. Close decision",
              href: "12confirmation_multi",
              disabled: true
            }) }}
            {{ govukButton({
              text: "Finish processing reports",
              href: "02history_complex_multiple8",
              classes: "govuk-button--secondary"
            }) }}
          </div>
          <input type="hidden" id="20240429_inc2_actioned" name="20240429_inc2_actioned" value="yes">
        </form>

      </div>
    </div>
      {% if not (checked("displaymode", "presentation") == "checked") %}
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
        <li><a href="11check_good2">Defualt</a></li>
        <li><a href="11check_good2_notprepared">Not fully prepared</a></li>
        <li><a href="11check_good2_nomanageraction">No manager action</a></li>
        <li><a href="11check_good2_single">Single report</a></li>
</ul>
    {% endif %}
{% endblock %}