{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  We've recorded your actions and measures - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set html %}
      <h3 class="govuk-notification-banner__heading">
        This report is now <span class="govuk-tag govuk-tag--green">Processed</span>
      </h3>
    {% endset %}
    
    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}

      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          <strong class='govuk-tag govuk-tag--green'>Processed</strong><br>
          <a href="h_02incident1">In person incident</a>
        </h2>
        <p class="govuk-!-margin-bottom-0">15 July 2025</p>
        <p class="govuk-body-s govuk-!-margin-bottom-0" style='color:#505a5f'>Reported by Richard Cliff on behave of Steven Tran, 15 July 2025 at 8:30am</p>
      <br>
      <br>

      <h2 class="govuk-heading-m">What happens next?</h2>

      <p class="govuk-body">You may have more reports to process for this customer.</p>


      <p class="govuk-body">
        Return to the Customer history and make sure all live reports are <span class="govuk-tag govuk-tag--green">Processed</span>. Then make and publish your decision.
      </p>
      <p class="govuk-body"><strong>You can continue to change your decision until it is published.</strong> </p>

    </div>
  </div>
  {% if data['2reports'] == "no" %}
    {% set buttonUrlHTML = "02history_complex_multiple0" %}
  {% else %}
    {% set buttonUrlHTML = "02history_complex_multiple" %}
  {% endif %}

  {{ govukButton({
    text: "Return to customer history",
    classes: "govuk-button--primary",
    href: "02history_complex_multiple8_prepared"
  }) }}
      {% if not (checked("displaymode", "presentation") == "checked") %}
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
        <li><a href="12confirmation">Defualt</a></li>
</ul>
    {% endif %}
{% endblock %}
