{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Measures - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <!-- if there are measures show red banner else show blue -->
  {% if  (data["2401_applymeasures1"] | length == 0 and data["2401_applymeasures2"] | length == 0 and data["2401_applymeasures3"] | length == 0) %}
    {% include "./templates/key_details_robert_blue.njk" %}
  {% else %}
    {% include "./templates/key_details_red.njk" %}
  {% endif %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">Measures</h1>
  {% set measuresKeyHTML %}
    Measures 
    {% if not (data["2401_applymeasures1"] | length == 0 and data["2401_applymeasures2"] | length == 0 and data["2401_applymeasures3"] | length == 0) %}<strong class="govuk-tag govuk-tag--red">active</strong>{% endif %}
  {% endset %}
  {% set measuresHTML %}
      {% include "./templates/measures_list.njk" %} 
  {% endset %}
  {% set todayHTML %}
    {{ "today" | govukDate }}
  {% endset %}


  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: measuresKeyHTML
        },
        value: {
          html: measuresHTML
        }
      },
      {
        key: {
          text: "Date applied"
        },
        value: {
          text: todayHTML
        }
      },
      {
        key: {
          text: "Applied by"
        },
        value: {
          html: data['20240422_yourname']
        }
      },
      {
        key: {
          text: "Review date"
        },
        value: {
          html: data ["2401_review_date"]
        }
      }
    ]
  }) }}
  <div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-!-padding-bottom-7">{{data ["2401_measureaccount"]}}</p>
        {% include "./templates/measures_note.njk" %} 
        <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "javascript:history.back()"
        }) }}
				{{ govukButton({
					text: "Add a note to measures",
					href: "h_06infomessage",
					classes: "govuk-button--secondary"
				}) }}        
      </div>
    </div>
  </div>

{% endblock %}
