{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Action request - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <!-- if there are measures show red banner else show blue -->
  {% if  (data["2401_applymeasures1"] | length == 0 and data["2401_applymeasures2"] | length == 0 and data["2401_applymeasures3"] | length == 0) %}
  {% include "./templates/key_details_robert_blue.njk" %}
{% else %}
  {% include "./templates/key_details_red.njk" %}
{% endif %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-9">
          <h1 class="govuk-heading-xl">Action request</h1>
          {% set yournameHTML %}
             Action for {{data['20240422_yourname']}} <br><span class="govuk-body">(Decision maker)</span>
          {% endset %}
          {% set youractionsHTML %}
            <ul class="govuk-list govuk-list--bullet">
              {% include "./templates/action_list_dm_combined.njk" %}
            </ul>
          {% endset %}

          {% set man1HTML %}
            Action for {{data['20240429_inc1_manager']}} <br><span class="govuk-body">(Manager)</span>
            {% endset %}
          {% set man1ActionHTML %}
              {% include "./templates/action_list_manager.njk" %}
          {% endset %}

          {% set man2HTML %}
          Action for {{data['20240429_inc2_manager']}} <br><span class="govuk-body">(Manager)</span>
          {% endset %}
          {% set man2ActionHTML %}
              {% include "./templates/action_list_manager2.njk" %}
          {% endset %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date requested
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['20240429_inc1_date']}}
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Requested by
              </dt>
              <dd class="govuk-summary-list__value">
               {{ data['20240422_yourname']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action for {{data['20240429_inc1_manager']}} <br><span class="govuk-body">(Manager)</span>
              </dt>
              <dd class="govuk-summary-list__value">
                {% include "./templates/action_list_detail_man1.njk" %}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action for {{data['20240429_inc2_manager']}} <br><span class="govuk-body">(Manager)</span>
              </dt>
              <dd class="govuk-summary-list__value">
                {% include "./templates/action_list_detail_man2.njk" %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action for {{data['20240422_yourname']}} <br><span class="govuk-body">(Decision maker)</span>
              </dt>
              <dd class="govuk-summary-list__value">
                  {% include "./templates/action_list_detail_dm.njk" %}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <section aria-label="Files attached to action request" role="region">
        <div class="govuk-!-padding-bottom-9">
            <h2 class="govuk-heading-m" id="attached">There are no files attached to this action request
            </h2>
        </div>
    </section>  
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "javascript:history.back()"
        }) }}
      </div>

      {% endblock %}



