{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Action - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
      <h1 class="govuk-heading-xl">Action</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date requested"
            },
            value: {
              text: "1 March 2023"
            }
          },
          {
            key: {
              text: "Requested by"
            },
            value: {
              html: "Sadiq Assam"
            }
          },
          {
            key: {
              text: "Action"
            },
            value: {
            html: '<ul class="govuk-list govuk-list--bullet">
                    <li>Send a letter<br>Send interim ban letter to the customer</li>
                  </ul>'
            }
          },
          {
            key: {
              text: "Assigned to"
            },
            value: {
              text: "Sarah Sencha"
            }
          },
          {
            key: {
              text: "Completed"
            },
            value: {
              text: "2 March 2023"
            }
          },
          {
            key: {
              text: "Comment"
            },
            value: {
              text: "Sent letter as instructed. Expected delivery 5 March 2023"
            }
          }
        ]
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "02history_complex"
        }) }}
      </div>

  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/h_05action__notes.njk" %}
	{% endif %}
{% endblock %}
