<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/04measures__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="06measure">Measures</a></li>
		<li><a href="06measure_error">Measures error</a></li>
	</ul>
<h4 class="govuk-heading-s">v7 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>No change</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Insight (to be enacted): <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133180227680/Decision+makers+don+t+understand+applying+new+measures+negate+existing+measures">Decision makers don't understand applying new measures negate existing measures</a></li>
		<li>Insight (to be enacted): <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133180194938/Decision+makers+often+want+to+re-apply+measures">Decision makers often want to re-apply measures</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Make evidence-based decisions</li>
		</ul>
	</ul>
<h4 class="govuk-heading-s">Journey level notes</h3>
{% set journeyNotesHTMLDecision_v7 %}
	{% include "beta/decision/notes/v7__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v7 Journey level design notes",
	html: journeyNotesHTMLDecision_v7
}) }}	