<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
	<ul class="govuk-list govuk-list--bullet">
{% include "../../_versions/09prepare__versions.njk" %}
	</ul>
<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="09prepare_single_man">1. Complete decision - covering note</a></li>
		<li><a href="09prepare_nomeasures">2. Complete decision - covering note - no measures</a></li>
		<li><a href="09prepare_single_man_error">3. Error: Complete decision - covering note</a></li>
	</ul>
<h4 class="govuk-heading-s">v7 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Covering note is mandatory</li>
		<li>Large text entry as can be quite long - what is the data limit? Need GA on testing</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
	</ul>
{% set journeyNotesHTMLDecision %}
	{% include "beta/decision/notes/v7__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v7 Journey level design notes",
	html: journeyNotesHTMLDecision
}) }}	