<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/19infomessage__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="h_06infomessage">Message</a></li>
		<li><a href="h_06infomessage_error">Error: Message</a></li>
	</ul>
<h4 class="govuk-heading-s">v6 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Remove context caption - the only context is the customer - <strong>Has this been done?</strong></li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
	</ul>
	
{% set journeyNotesHTMLDecision_v6 %}
	{% include "beta/decision/notes/v6__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v6 Journey level design notes",
	html: journeyNotesHTMLDecision_v6
}) }}	


