{% extends "layout_ur.html" %}

{% block pageTitle %}
  Select measures - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="08discrimination_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "03actions"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-fieldset__legend--xl">  {% include "./templates/govuk-caption-m-ur.njk" %}Which measures have you applied to make interactions with this customer safer?</h1>
      <p class="govuk-hint">Select all that apply.</p>
      <form class="form" action="05measureaccount" method="post">
        {{ govukCheckboxes({
          idPrefix: "applymeasures12",
          name: "applymeasures12",
          fieldset: {
            legend: {
              text: "Location",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Home visits must be carried out by two members of staff",
              text: "Home visits must be carried out by two members of staff",
              checked: data['applymeasures12'].includes("Home visits must be carried out by two members of staff")
            },
            {
              value: "Must be interviewed by two members of staff",
              text: "Must be interviewed by two members of staff",
              checked: data['applymeasures12'].includes("Must be interviewed by two members of staff")
            },
            {
              value: "Interim ban from office (by DWP)",
              text: "Interim ban from office (by DWP)",
              checked: data['applymeasures12'].includes("Interim ban from office (by DWP)")
            },
            {
              value: "Ban from office (by Government Legal Department)",
              text: "Ban from office (by Government Legal Department)",
              checked: data['applymeasures12'].includes("Ban from office by Government Legal Department")
            },
            {
              value: "Must be seen in a screened area",
              text: "Must be seen in a screened area",
              checked: data['applymeasures12'].includes("Must be seen in a screened area")
            },
            {
              value: "No home visits",
              text: "No home visits",
              checked: data['applymeasures12'].includes("No home visits")
            },
            {
              value: "Court order (injunction or interdict) in place",
              text: "Court order (injunction or interdict) in place",
              checked: data['applymeasures12'].includes("Court order (injunction or interdict) in place")
            }
          ]
        }) }}
        {{ govukCheckboxes({
          idPrefix: "applymeasures22",
          name: "applymeasures22",
          fieldset: {
            legend: {
              text: "Communications",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Must not be dealt with by phone",
              text: "Must not be dealt with by phone"
            }
          ]
        }) }}
        {% set namedHtml %}
        {{ govukInput({
          id: "email",
          name: "email",
          label: {
            text: "Their email address"
          }
        }) }}
        {% endset %}
        {{ govukCheckboxes({
          idPrefix: "applymeasures32",
          name: "applymeasures32",
          fieldset: {
            legend: {
              text: "Personnel",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Must only interact with female staff members",
              text: "Must only interact with female staff members"
            },
            {
              value: "Must only interact with male staff members",
              text: "Must only interact with male staff members"
            },
            {
              value: "Must only interact with a named member of staff",
              text: "Must only interact with a named member of staff",
              conditional: {
                html: namedHtml
              }
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>  
    </div>
  </div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./templates/footer.njk" %}
	{% endif %}  
{% endblock %}
