{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{{ dwpKeyDetailsBar({
    primaryIdentifier: {
        text: 'Customer name:',
        value: 'Brendan Fox '
    },
    status: {
        text: 'Measures status:',
        value: 'Active measures',
        classes: 'govuk-tag--red'
    },
    secondaryIdentifier: {
        text: 'National Insurance number:',
        value: 'SY 67 17 55 U'
    },
    additionalData: [
        {
            text: "Date of birth:",
            value: "9 January 1977"
        }
    ]

}) }} 
<style>
    /* note "error" colour from GDS */
    .dwp-key-details-bar {
        background-color: #d4351c;
    }
</style>