{% extends "layout_20240422_ur.html" %}

{% block pageTitle %}
  Were you involved in this incident? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="02behalf_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="03acting_manager" method="post">
        {% set accessHTML %}
        {{ govukInput({
          id: "202204_onbehalf_email",
          name: "202204_onbehalf_email",
          value: data['202204_onbehalf_email'],
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          label: {
            text: "Their email address"
          }
        }) }}
        {% endset %}
        {% set noaccessHTML %}
        {{ govukInput({
          id: "202204_onbehalf_full-name",
          name: "202204_onbehalf_full-name",
          value: data['202204_onbehalf_full-name'],
          label: {
            text: "Their full name"
          }
        }) }}
        {% endset %}
        {{ govukRadios({
          idPrefix: "on-behalf",
          name: "on-behalf",
          fieldset: {
            legend: {
              text: "Were you involved in this incident?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: data['on-behalf'].includes("yes")
            },
            {
              value: "no_access",
              text: "No, I am reporting for a colleague who can access KCIS",
              checked: data['on-behalf'].includes("no_access"),
              conditional: {
                html: accessHTML
              }
            },
            {
              value: "no_noaccess",
              checked: data['on-behalf'].includes("no_noaccess"),
              text: "No, I am reporting for someone without access to KCIS",
              conditional: {
                html: noaccessHTML
              }
            }
          ],
          hint: {
            text: "Select one option."
          }
        }) }}
        <div>
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
