{% extends "layout_20240422_ur.html" %}

{% block pageTitle %}
  Do you feel the customer's behaviour was motivated by discrimination? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="08discrimination_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="09describe">
        {{ govukCheckboxes({
          id: "202404_discrimination",
          name: "202404_discrimination",
          fieldset: {
            legend: {
              text: "Do you feel the customer's behaviour was motivated by discrimination?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you feel the customer's behaviour was due to any of the following types of discrimination against other people, select all that apply."
          },
          items: [
            {
              value: "Age",
              text: "Age",
              checked: data["202404_discrimination"].includes("Age")
            },
            {
              value: "Being married or in a civil partnership",
              text: "Being married or in a civil partnership",
              checked: data["202404_discrimination"].includes("Being married or in a civil partnership")
            },
            {
              value: "Pregnancy or maternity",
              text: "Pregnancy or maternity",
              checked: data["202404_discrimination"].includes("Pregnancy or maternity")
            },
            {
              value: "Disability",
              text: "Disability",
              checked: data["202404_discrimination"].includes("Disability")
            },
            {
              value: "Gender reassignment",
              text: "Gender reassignment",
              checked: data["202404_discrimination"].includes("Gender reassignment")
            },
            {
              value: "Race including colour, nationality, ethnic or national origin",
              text: "Race including colour, nationality, ethnic or national origin",
              checked: data["202404_discrimination"].includes("Race including colour, nationality, ethnic or national origin")
            },
            {
              value: "Religion or belief",
              text: "Religion or belief",
              checked: data["202404_discrimination"].includes("Religion or belief")
            },
            {
              value: "Sex",
              text: "Sex",
              checked: data["202404_discrimination"].includes("Sex")
            },
            {
              value: "Sexual orientation",
              text: "Sexual orientation",
              checked: data["202404_discrimination"].includes("Sexual orientation")
            },
            {
              divider: "or"
            },
            {
              value: "None of the above",
              text: "None of the above",
              checked: data["202404_discrimination"].includes("None of the above"),
              behaviour: "exclusive"
            }
          ]
        }) }}
        <div>
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
