
{% block head %}
  {% if data['202404_interaction'].includes("In person")%}
    <meta http-equiv="refresh" content="0; url=09describe_inperson.html" />
  {% elseif data['202404_interaction'].includes("Social media")%}
    <meta http-equiv="refresh" content="0; url=09describe_social.html" />
  {% elseif data['202404_interaction'].includes("Telephone")%}
    <meta http-equiv="refresh" content="0; url=09describe_telephone.html" />
  {% elseif data['202404_interaction'].includes("Written")%}
    <meta http-equiv="refresh" content="0; url=09describe_written.html" />
  {% elseif data['202404_interaction'].includes("Video call")%}
    <meta http-equiv="refresh" content="0; url=09describe_video.html" />
  {% endif %}
{% endblock %}
