{% extends "layout_20240422_ur.html" %}
{% block pageTitle %}
  Add files - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="11g_upload_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
<script>
  function writeToContext(selectObj) { 
    const str = document.getElementById('documents').value;
    const words = str.split('\\');
    const last = words.pop();
    console.log(last);
	const insertAfter = (el, htmlString) =>
  		el.insertAdjacentHTML('afterend', htmlString);
	const fileTable = '<p>' + last + '<//p>';
		insertAfter(document.getElementById('20240422_filename'), last);
  } 
</script>
<form action="/safeguarding/incident/fileupload" method="post" autocomplete="off" novalidate="" class="casa-journey-form">
	<input
		type="hidden"
		name="_csrf"
		value="11985c59d6fd72ee7065898e9a4b6a24ead8b36dae60ee90eb71cf073c789b98aaf3519a1037b9aded113791a0dbd187fe01f8e6cd178b09309fe84c49cf232df5e18f05bf4dc3351d4deef9226c03dc111688052172ac76d7bb8e1640a7ac870a52a40853ce2808e3cbed849070e5533a3e5dcf242ac8864142f9ca6b2d69e9"
	/>

	<input type="hidden" name="contextid" value="default" />

	<div class="govuk-notification-banner govuk-notification-banner--success sg-banner-success moj-hidd" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" tabindex="0">
		<div class="govuk-notification-banner__header">
			<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				Success
			</h2>
		</div>
		<div class="govuk-notification-banner__content">
			<h3 class="govuk-notification-banner__heading sg-banner-success_info" id="20240422_filename_success">Added 1 file</h3>
		</div>
	</div>



	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">
				Add files
			</h1>

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
						Files must be smaller than 1MB
					</span>
				</summary>
				<div class="govuk-details__text">
					<p>If each file is smaller than 1MB, add files one at a time.</p>
					<p>To add a file that is bigger than 1MB, select Continue on this screen and complete your report. You can email the files to the email address shown in the final screen, after you submit your report.</p>
				</div>
			</details>

			<details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
						File names must only use letters and numbers
					</span>
				</summary>
				<div class="govuk-details__text">
					<p class="govuk-body">File names must only contain letters and numbers. They must not contain other characters. For example '_' or '-'.</p>
				</div>
			</details>
		</div>
	</div>

	<div class="govuk-warning-text">
		<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
		<strong class="govuk-warning-text__text">
			<span class="govuk-warning-text__assistive">Warning</span>
			Do not upload MAPPA files
		</strong>
	</div>

	<div class="moj-multi-file-upload moj-multi-file-upload--enhanced">
		<div class="moj-multi-file-upload">
			<div class="moj-multi-file__uploaded-files ">
			  <div class="moj-multi-file-upload">
				<div class="moj-multi-file__uploaded-files ">
				  <h2 class="govuk-heading-m">Files added</h2>
				  <div class="govuk-summary-list moj-multi-file-upload__list">
					<div class="govuk-summary-list__row moj-multi-file-upload__row">
					  <div class="govuk-summary-list__value moj-multi-file-upload__message">
						<svg class='moj-banner__icon filter-green' fill='currentColor' role='presentation' focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' height='25' width='25'>
						  <path d='M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z'></path>
						</svg>
						<span class='govuk-success-colour' id="20240422_filename"></span>
					  </div>
					  <div class="govuk-summary-list__actions moj-multi-file-upload__actions" style="">
						<a href="#" class="moj-multi-file-upload__delete govuk-link--no-visited-state" id="ffab9aef-c282-4972-a960-66428a0f3acf"> Delete <span class="govuk-visually-hidden">evidence.jpg</span></a>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>

		<div class="moj-multi-file-upload__upload" id="moj-multi-file-upload__upload">
			<div class="govuk-form-group">
				<label class="govuk-label govuk-label--m" for="documents">
					Choose files
				</label>



				<div class="moj-multi-file-upload__dropzone">
					<input class="govuk-file-upload moj-multi-file-upload__input moj-hidd" id="documents" name="documents" type="file" multiple="" accept="" limit="1048576" limitmb="1" onchange="writeToContext(this);"/>
					<p class="govuk-body">Drag and drop files here or</p>
					<label tabindex="0" for="documents" class="govuk-button govuk-button--secondary">Choose files</label>
					<div aria-live="polite" role="status" class="govuk-visually-hidden"></div>
				</div>
			</div>

			<button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
				Upload file
			</button>
		</div>
	</div>

	<div class="govuk-button-group casa-form-control-block">
		<button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button">
			Continue
		</button>
	</div>
</form>
{% endblock %}

