<ul class="govuk-list govuk-list--bullet">
  <li>UCD story <a href="https://dwpdigital.atlassian.net/browse/CITI-19112">CITI-19112 - Discover: Survey uptake </a></li>
  <li>Dev story <a href="https://dwpdigital.atlassian.net/browse/CITI-19019">CITI-19021 - Ask Reporter User Satisfaction </a></li>
  <li>Dev story <a href="https://dwpdigital.atlassian.net/browse/CITI-19021">CITI-19021 - Ask Witness Consent for Contact</a></li>
</ul>