<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/12prepared_bst__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="12prepared_bst">Reassign BST</a></li>
		<li><a href="12prepared_bst_error">Reassign BST x2 errors</a></li>
	</ul>
<h4 class="govuk-heading-s">v2 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Use only for finishing preparation of case by business support</li>
		<li>Validation only possible against decision maker and business support joint group </li>
		<li>Not being built on this version</li>
		<li>Navigate straight back to start page (for simplicity)</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li>Need: Work on multiple cases</li>
				<li>Pain: Manually managing their workflow</li>
				<li>Pain relievers: Automate workflow and task managing</li>
			</ul>
	</ul>
	
{% set journeyNotesHTMLDecision_v2 %}
	{% include "beta/decision/notes/v2__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v2 Journey level design notes",
	html: journeyNotesHTMLDecision_v2
}) }}	


