{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{{ dwpKeyDetailsBar({
    primaryIdentifier: {
        text: 'Customer name:',
        value: 'JOHN DOE  CIS-008'
    },
    status: {
        text: 'Measures status:',
        value: 'Active measures',
        classes: 'govuk-tag--red'
    },

    secondaryIdentifier: {
        text: 'National Insurance number:',
        value: 'CT 00 02 22 C'
    },
    additionalData: [
        {
            text: "Date of birth:",
            value: "3 April 1990"
        }
    ]
}) }}

<style>
    /* note "error" colour from GDS */
    .dwp-key-details-bar {
        background-color: #d4351c;
    }
</style>
