{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{{ dwpKeyDetailsBar({
    primaryIdentifier: {
        text: 'Customer name:',
        value: 'JOHN DOE  CIS-008'
    },

    secondaryIdentifier: {
        text: 'National Insurance number:',
        value: 'CT 00 02 22 C'
    },
    additionalData: [
        {
            text: "Date of birth:",
            value: "3 April 1990"
        }
    ]
}) }}

