{% set versions = [ 
  "../v5/17infotype",
  "../v6/20infotype"
] %}



{{ govukPagination({

  items: [
    {
      number: 5,
      href: versions[0]
    },
    {
      number: 6,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

