{% extends "layout.html" %}
{% block pageTitle %}
  Send letter - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="a02action_letter_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Send letter</h1>
          <div class="govuk-!-padding-bottom-4">
            <p class="govuk-body">Tell us the date you did this, and the outcome. </p>
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "From"
                  },
                  value: {
                    text: "Sadiq Assam (KCIS)"
                  }
                },
                {
                  key: {
                    text: "Action requested"
                  },
                  value: {
                    html: '
                          <ul class="govuk-list govuk-list--bullet">
                            <li>Send a letter<br>
                            Please send this letter attached<br>
                            v3 20240323 interim ban.doc</li>
                          </ul>  '
                  }
                }
              ]
            }) }}
          </div>
      <section aria-label="Files attached to action" role="region">
          <div class="govuk-!-padding-bottom-9">
              <h2 class="govuk-heading-m" id="attached">Letter to send</h2>
              {{ govukTable({
                captionClasses: "govuk-table__caption--l",
                head: [
                  {
                    text: "File name",
                  },
                  {
                    text: "Action"
                  }
                ],
                rows: [
                  [
                    {
                      html: "<span class='govuk-visually-hidden'>File name: </span>v3 20240323 interim ban.doc"
                    },
                    {
                      html: "<a href='/public/images/screen_shot.png' role='button' draggable='false' class='govuk-button govuk-button--secondary ' data-module='govuk-button' download>Download file<span class='govuk-visually-hidden'>ESA50.pdf</span></a>"
                    }
                  ]
                ]
              }) }}
          </div>
      </section>            
      {% set dateHtml %}
        {{ govukDateInput({
          id: "action-date-letter",
          namePrefix: "action-date-letter",
          hint: {
            text: "For example, 30 11 2021"
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "day",
              value: data['action-date-letter-day']
            },
            {
              classes: "govuk-input--width-2",
              name: "month",
              value: data['action-date-letter-month']
            },
            {
              classes: "govuk-input--width-4",
              name: "year",
              value: data['action-date-letter-year']
            }
          ]
        }) }}
      {% endset %}
      {{ govukRadios({
        idPrefix: "otherdate",
        name: "otherdate",
        items: [
          {
            value: "Today",
            text: "Today"
          },
          {
            value: "Yesterday",
            text: "Yesterday"
          },
          {
            value: "Another date",
            text: "Another date",
            conditional: {
              html: dateHtml
            }
          },
          {
            value: "I didn't do it",
            text: "I didn't do it"
          }
        ],
          fieldset: {
            legend: {
              text: "When did you do this?",
              classes: "govuk-fieldset__legend--m"
            }
          }
      }) }}
          {{ govukTextarea({
            name: "action-record-letter",
            id: "action-record-letter",
            value: data['action-record-letter'],
            hint: {
                        text: "Did you speak to the customer and if so, what was their reaction? If you didn’t speak to the customer (for example, if you sent them a letter), tell us when you expect the letter to arrive."
                      },
            label: {
              text: "Outcome",
              classes: "govuk-label--m"
            }
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Send",
              href: "01landingpage2_manager"
            }) }}
          </div>
    </div>
  </div>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/a02action_letter__notes.njk" %}
	{% endif %}
{% endblock %}
