{% extends "layout.html" %}

{% block pageTitle %}
  Were you involved in this incident? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="02behalf_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set accessHTML %}
      {{ govukInput({
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        label: {
          text: "Their email address"
        }
      }) }}
      {% endset -%}
      {% set noaccessHTML %}
      {{ govukInput({
        id: "full-name",
        name: "full-name",
        label: {
          text: "Their full name"
        }
      }) }}
      {{ govukInput({
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        label: {
          text: "Their email address"
        }
      }) }}
      {% endset -%}
      {{ govukRadios({
        idPrefix: "on-behalf",
        name: "on-behalf",
        fieldset: {
          legend: {
            text: "Were you involved in this incident?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No, I am reporting for a colleague",
            conditional: {
              html: accessHTML
            }
          },
          {
            value: "no",
            text: "No, I am reporting this on behalf of someone else",
            conditional: {
              html: noaccessHTML
            }
          }
        ],
        hint: {
          text: "Select one option."
        }
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "03acting_manager"
        }) }}
      </div>
    </div>
  </div>

{% endblock %}
