{% extends "layout.html" %}

{% block pageTitle %}
  When did the incident happen? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Phase banner" role="region">
  {{ govukPhaseBanner({
    tag: {
    text: "beta"
  },
    html: 'This is a new service – your <a class="govuk-link" href="06when-time_error">feedback</a> will help us to improve it.'
  }) }}
</section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <style>
        .govuk-date-input__item {
          font-size:20px !important;
        }
        #incident-time .govuk-date-input__item:first-child {
          margin:0px;
        }
        #incident-time .govuk-date-input__item:last-child {
          margin-left:10px;
        }
        #incident-time .govuk-date-input__item:first-child .govuk-form-group::after {
          content: ":";
          display: inline-block;
          padding-left: 5px;
        }
      </style>
      {{ govukDateInput({
        id: "incident-time",
        namePrefix: "incident-time",
        hint: {
          text: "Use the 24-hour clock. For example, 15:30"
        },
        fieldset: {
          legend: {
            text: "What time did the incident happen?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            classes: "govuk-input--width-2",
            name: "Hours",
            value: data['incident-date-day']
          },
          {
            classes: "govuk-input--width-2",
            name: "Minutes",
              value: data['incident-date-month']
          }
        ]
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "07where"
        }) }}
      </div>
    </div>
  </div>


{% endblock %}
