{% extends "layout.html" %}

{% block pageTitle %}
Prepare for interaction - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Phase banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
{% include "templates/v7/key_details_red.njk" %}
<section aria-label="Back" role="region">
{{ govukBackLink({
text: "Back to Searchlight home",
href: "/beta/_UR/20231121/"
}) }}
</section>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {{ govukCheckboxes({
    name: "waste",
    fieldset: {
      legend: {
        text: "Which measures do you think might not be suitable for this customer?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "2",
        html: "Home visits must be carried out by two members of staff"
      },
      {
        value: "screened",
        html: "Must be seen in a screened area"
      }
    ]
  }) }}

          {{ govukTextarea({
            name: "info-reply",
            id: "info-reply",
            value: data['info-reply'],

            label: {
              text: "Tell us why you think these measures might not be suitable for this customer",
              classes: "govuk-label--m"
            }
          }) }}

    {{ govukButton({
      text: "Back to Searchlight home",
      href: "/beta/_UR/20231121/"
    }) }}
  </div>
</div>


{% endblock %}
