<ul class="govuk-list govuk-list--bullet">
  <li><a href="/beta/common/footer/v1/00footer">00 footer</a> - First version with footer</li>
  <li><a href="/beta/common/footer/v1/01statement">01 statement</a> - Version 1 of accessibility statement</li>
  <li><a href="/beta/common/footer/v1/02statement">02 statement</a> - Version 2 of accessibility statement</li>
</ul>
