<div class="dwp-timeline {%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
>
{% if params.title %}<h1 class="govuk-heading-m">{{ params.title }}</h1>{% endif %}
	{% if params.events %}
    <ol class="dwp-timeline__events">
      {% for event in params.events %}
        <li class="dwp-timeline__events--entry">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{{ event.state | safe }}</h2>
          {% if event.date %}<p class="govuk-!-margin-bottom-1 govuk-!-margin-top-0 govuk-hint">{{ event.date }}</p>{% endif %}
          {% if event.description %}<p class="govuk-caption-m govuk-!-margin-top-0">{{ event.description | safe }}</p>{% endif %}
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No events to display.</p>
  {% endif %}
</div>
