<style>
    .grey {
        background-color: #f3f2f1;
        padding-top: 20px;
    }
    .greytext {
        color: #505a5f
    }
</style>
{{ govukTable({
caption: "Reviews ",
captionClasses: "",
firstCellIsHeader: true,
rows: [
    [
    {
        html: "",
        classes: "govuk-body-s govuk-!-font-weight-regular govuk-!-width-one-half"
    },
    {
        text: "Ban reviews",
        format: "numeric",
        classes: "govuk-body-s govuk-!-width-one-quarter"
    },
    {
        text: "Other reviews",
        format: "numeric",
        classes: "govuk-body-s govuk-!-width-one-quarter"
    }
    ],
    [
    {
        html: "Overdue",
        classes: "govuk-body-s govuk-!-font-weight-regular"
    },
    {
        html: '31',
        format: "numeric",
        classes: "govuk-body-s"
    },
    {
        html: '543',
        format: "numeric",
        classes: "govuk-body-s"
    }
    ],
    [
    {
        text: "Due this week",
        classes: "govuk-body-s govuk-!-font-weight-regular"
    },
    {
        html: '123',
        format: "numeric",
        classes: "govuk-body-s"
    },
    {
        html: '607',
        format: "numeric",
        classes: "govuk-body-s"
    }
    ],
    [
    {
        text: "Total",
        classes: "govuk-body-s "
    },
    {
        html: '154',
        format: "numeric",
        classes: "govuk-body-s"
    },
    {
        html: '1150',
        format: "numeric",
        classes: "govuk-body-s"
    }
    ]
]
}) }}