<style>
    .grey {
        background-color: #f3f2f1;
        padding-top: 20px;
    }
    .greytext {
        color: #505a5f
    }
</style>
{{ govukTable({
caption: "Outstanding reviews ",
captionClasses: "",
firstCellIsHeader: true,
rows: [
    [
    {
        html: "",
        classes: "govuk-body-s govuk-!-font-weight-regular"
    },
    {
        text: "Bans",
        format: "numeric",
        classes: "govuk-body-s govuk-!-width-one-quarter"
    },
    {
        text: "Others",
        format: "numeric",
        classes: "govuk-body-s govuk-!-width-one-quarter"
    }
    ],
    [
    {
        text: "Due",
        classes: "govuk-body-s govuk-!-font-weight-regular"
    },
    {
        html: '123',
        format: "numeric",
        classes: "govuk-body-s"
    },
    {
        html: '607',
        format: "numeric",
        classes: "govuk-body-s"
    }
    ]
]
}) }}