<span class="govuk-caption-m">
    <strong class='govuk-tag'>Decision pending - Current</strong><br>
    <strong style='color:#000'>Telephone incident</strong><br>
    <span class="govuk-visually-hidden">Incident date and time: </span><span class='' style='color:#000'>24 June 2024 at 3:43pm</span><br>
    <span class='govuk-body-s' style='color:#505a5f'>Reported by Ted Assam on behalf of Mike Black, 25 June 2024 at 9:27am</span>
</span>