<span class="govuk-caption-m">
    <strong class='govuk-tag--green'>Prepared</strong><br>
    Telephone incident<br>
    <span class="govuk-visually-hidden">Incident date and time: </span>24 June 2024 at 3:43pm<br>
    <span class='govuk-body-s' style='color:#505a5f'>Reported by Ted Assam, 24 June 2024 at 9:27am</span>
</span>
