<p class="govuk-body">You can reassign and change the status of a report.</p>
{% set instructionsHTML %}
{{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Report status"
    },
    {
      text: "Workflow location"
    },
    {
      text: "How to reassign",
      classes: "govuk-!-width-one-half"
    }
  ],
  rows: [
     [
      {
        text: "Submitted"
      },
      {
        html: "Business Support queue<br><span class='govuk-body-s' style='color:#505a5f'>(the report is unassigned)</span>"
      },
      {
        html: "Enter the email of a Business Support colleague and select 'Reassign'. <br><span class='govuk-body-s' style='color:#505a5f'>The status will be changed to 'Preparing'</span>"
      }
    ],
     [
      {
        text: "Preparing"
      },
      {
        html: "Assigned to a Business Support colleague"
      },
      {
        html: "Enter the email of a Business Support colleague and select 'Reassign'. <br><span class='govuk-body-s' style='color:#505a5f'>The status will not be changed</span>"
      }
    ],
     [
      {
        text: "Ready for decision"
      },
      {
        html: "Decision Maker queue<br><span class='govuk-body-s' style='color:#505a5f'>(the report is unassigned)</span>"
      },
      {
        html: "Enter the email of a Decision Maker colleague and select 'Reassign'. <br><span class='govuk-body-s' style='color:#505a5f'>The status will be changed to 'Decision pending'</span>"
      }
    ],
     [
      {
        text: "Decision pending"
      },
      {
        html: "Assigned to a Decision Maker colleague"
      },
      {
        html: "Enter the email of a Decision Maker colleague and select 'Reassign'. <br><span class='govuk-body-s' style='color:#505a5f'>The status will not be changed</span>"
      }
    ]
  ]
}) }}
{% endset %}

{{ govukDetails({
  summaryText: "Help on reassigning a report",
  html: instructionsHTML
}) }}