{% extends "layout_20240205_ur.html" %}
{% block pageTitle %}
  Note added - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Note added",
        id: "panel",
        name: "panel"
      }) }}
      <p class="govuk-body">We've added your note to this customer's history.</p>
      <h2 class="govuk-heading-m">We'd like your feedback</h2>


      <p class="govuk-body">
        To help us improve this service, we’d like to know
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">what you think of it.</a>
        It will only take 2 minutes to give us feedback.
      </p>
    </div>
  </div>
  {{ govukButton({
    text: "Back to customer history",
    classes: "govuk-button--primary",
    href: "02history_complex_walk2"
  }) }}

{% endblock %}
