<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/03type__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="03type">1. Incident type</a></li>
		<li><a href="03type_error">2. Error: Incident type</a></li>
	</ul>
<h4 class="govuk-heading-s">v5 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-19290">Set Incident Type</a></li>
		<li>Requires change to <a href="09check">check your answers page</a></li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Send letters to customers</li>
		</ul>
	</ul>
{% set journeyNotesHTMLDecision %}
	{% include "beta/decision/notes/v5__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v5 Journey level design notes",
	html: journeyNotesHTMLDecision
}) }}	