<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/13fast__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="13fast">Identify fast track</a></li>
		<li><a href="13fast_multi">Identify fast track - multiple incidents</a></li>
		<li><a href="13fast_error">Error</a></li>
	</ul>
<h4 class="govuk-heading-s">v5 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19289">Set Fast Track Identifier</a></li>
		<li>Muliple incidents.</li>
		<ul>
			<li>It is possible for seperate Business Support agents to pick up live incidents involving the same customer. This is likely to be rare. </li>
			<li>In this case, the agent who hands over last will overwrite the previous notes for both incidents. This caption warns of this context.</li>
			<li>Multi-incidents caption should also made available for the following: notes page, handover page</li>
		</ul>		
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
	</ul>
	
{% set journeyNotesHTMLDecision_v5 %}
	{% include "beta/decision/notes/v5__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v5 Journey level design notes",
	html: journeyNotesHTMLDecision_v5
}) }}	


