<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01landingpage__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="01landingpage1_witness">1. What a witness may see</a><br>
	<a href="01landingpage2_manager">2. What an incident manager might see (first time through)</a><br>
	<a href="01landingpage3_manager_complex">3. A Complex view that the incident manager might see</a><br>
	<a href="01landingpage4_empty">4. A view when there are no requests</a><br>
	<a href="01landingpage5_reopen">5. Reopen an incomplete report</a><br>
</ul>
<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>"Reopen an incomplete report" - Added state for returning from timeout. Story <a href="https://dwpdigital.atlassian.net/browse/CITI-15398">Reporter: Save, Return and Timeout</a></li>
		<ul>	
		<li>Examples:</li>
			<ul>	
				<li>Not yet reported - incident - incient date not yet recorded by the reporter</li>
				<li>4 June example - incident - date recorded, in person witnesses indicated</li>
				<li>5 June example - concern - report date displayed. Witnesses are not expected</li>
			</ul>	
			<li>Date - Incident date if knoown or Last modified date or created date for concerns. </li>
			<li>If no witnesses indicated for incident use "None indicated"</li>
			<li>if concern always "None" for witnesses</li>
			<li>Hidden text modified</li>
			<li>There will only ever be one report (incident or concern) saved</li>
			<li>If today is selected, the date will be reccorded and shown in "Another date" in the date screen</li>
		</ul>
		<li>Note: This is a different page from case reviewers landing page</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
	</ul>
{% set journeyNotesHTMLDecision %}
	{% include "beta/common/landing/notes/v3__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v3 Journey level design notes",
	html: journeyNotesHTMLDecision
}) }}	