<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/03line_manager__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
<a href="03line_manager">1. Who is your line manager?</a><br>
<a href="03line_manager_error2">2. Error: First name / last name / email</a><br>
<a href="03line_manager_error3">3. Error: email format</a><br>
<a href="03line_manager_error4">4. Error: Colleague cannot access service</a><br>
</ul>
<h4 class="govuk-heading-s">v10 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Refactored content</li>
		Text input lengths more appropriate 
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Incident</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v10__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v10 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	