<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/00error__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="00error">1. Default error page</a><br>
	<a href="00error_casereviewer">2. Default case reviewer error page</a><br>
	<a href="00error_comms">3. Comms error page</a><br>
</ul>
<h4 class="govuk-heading-s">v2 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Where classification possible display source (we're starting with 3 comms errors but will increase nuance as we go forward)</li>
		<li>Different default for Case reviewers and everyone else</li>
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-25695">Add details to error page</a></li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
	</ul>
{% set journeyNotesHTML %}
	{% include "beta/common/error/notes/v2__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v2 Journey level design notes",
	html: journeyNotesHTML
}) }}	