{% extends "layout.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Research</h1>
    <p class="govuk-body">9 Feb 2023</p>
    <div class="govuk-!-padding-bottom-7">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p>
                    <a href="/beta/_UR/20230209/1/00searchlight">Scenario 1</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/beta/_UR/20230209/2/00searchlight">Scenario 2</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/beta/_UR/20230209/3/00searchlight">Scenario 3</a>
                </p>
            </li>
        </ul>
    </div>

</p>{% endblock %}