<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/12check__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="12check_simple">1. Check your answers - simple</a><br>
	<a href="12check">2. Check your answers - complex</a><br>
</ul>
<h4 class="govuk-heading-s">v11 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Addin the "Change" link to the check your answers, also requires some reformatting caused by:
			<ul class="govuk-list govuk-list--bullet">
				<li>Change of description page (2 types)</li>
				<li>Time/date page split</li>
			</ul>
			<li>Reset headings</li>
			<li>Establish report type, interaction type and files would cause complexity so will be missed out until we have evidence that they are required. </li>
			<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19157">Reporter - Check Answers Change Pattern</a></li>
		</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Incident</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v11__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v11 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	