<ul class="govuk-list govuk-list--bullet">
  <li><a href="/beta/interaction/v1/01interaction">01interaction</a> - Strategic - SPL displays measures/li>
</ul>
<a href="/public/images/user-flows/interactor_v1.png"><img src="/public/images/user-flows/interactor_v1.png" width="100%"></a>
