<ul class="govuk-list govuk-list--bullet">
  <li><a href="/beta/interaction/v2/01interaction">01interaction</a> - Strategic - KCIS displays measures</li>
  <li><a href="/beta/interaction/v2/01interaction-vo">01interaction - VO</a> -VO - KCIS displays measures</li>
</ul>
<a href="/public/images/user-flows/interactor_v2.png"><img src="/public/images/user-flows/interactor_v2.png" width="100%"></a>
<a href="/public/images/user-flows/interactor_v2_vo.png"><img src="/public/images/user-flows/interactor_v2_vo.png" width="100%"></a>
