<ul class="govuk-list govuk-list--bullet">
  <li><a href="/beta/interaction/v3/01interaction-vo">01interaction - VO</a> -VO - KCIS displays measures - automated with CAPI</li>
</ul>
<a href="/public/images/user-flows/interactor_v3.png"><img src="/public/images/user-flows/interactor_v3.png" width="100%"></a>
<a href="/public/images/user-flows/interactor_v3_vo.png"><img src="/public/images/user-flows/interactor_v3_vo.png" width="100%"></a>
