{% extends "layout_ur.html" %}
{% block pageTitle %}
  Add information - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="10actionerror">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "../templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "../templates/govuk-caption-m-whitney.njk" %}
        <form class="form" action="/beta/_UR/20230707/2_info/07landingpage2_manager_empty" method="post">
          <h1 class="govuk-heading-xl">Add information</h1>
          <p class="govuk-body">This message is from the person who will make a decision about what to do following this incident. </p>
          <p class="govuk-body">Please reply to their question as soon as possible so that they can make a decision about the customer.</p>
          <p class="govuk-body">You can refer to <a href="04incident_best_simple_info">the original report</a> if you need to.</p>
          <br> <br>
          {{ govukSummaryList({
            rows: [

              {
                key: {
                  text: "Message"
                },
                value: {
                  text: "What were the exact words used?"
                }
              }
            ]
          }) }}
          {{ govukTextarea({
            name: "info-reply",
            id: "info-reply",
            value: data['info-reply'],

            label: {
              text: "Your reply",
              classes: "govuk-label--m"
            }
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Send"
            }) }}
          </div>
        </form>
    </div>
  </div>

{% endblock %}
