{% set versions = [ 
  "../v8/05d_wholetter"
] %}



{{ govukPagination({

  items: [
    {
      number: 8,
      href: versions[0]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

