{% set versions = [ 
  "../v1/09check_good",
  "../v2/07check_good",
  "../v3/07check_good",
  "../v4/09check_good",
  "../v5/09check_good",
  "../v6/11check_good",
  "../v7/11check_good"
] %}



{{ govukPagination({

  items: [
    {
      number: 1,
      href: versions[0]
    },
    {
      number: 2,
      href: versions[1]
    },
    {
      number: 3,
      href: versions[2]
    },
    {
      number: 4,
      href: versions[3]
    },
    {
      number: 5,
      href: versions[4]
    },
    {
      number: 6,
      href: versions[5]
    },
    {
      number: 7,
      href: versions[6]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

