{% set versions = [ 
  "../v6/09prepare_single_man",
  "../v7/09prepare_single_man"
] %}



{{ govukPagination({

  items: [
    {
      number: 6,
      href: versions[0]
    },
    {
      number: 7,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

