{% set versions = [ 
  "../v6/10incident_best_simple_info",
  "../v7/10incident_best_simple_info",
  "../v8/10incident_best_simple_info"
] %}



{{ govukPagination({

  items: [
    {
      number: 6,
      href: versions[0]
    },
    {
      number: 7,
      href: versions[1]
    },
    {
      number: 8,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

