{% set versions = [ 
  "../v6/10incident_best_simple_info"
] %}



{{ govukPagination({

  items: [
    {
      number: 6,
      href: versions[0]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

