{% set versions = [ 
  "../v6/11prepare",
  "../v6/11prepare"
] %}



{{ govukPagination({

  items: [
    {
      number: 6,
      href: versions[0]
    },
    {
      number: 7,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

