{% set versions = [ 
  "../v8/05c_upload",
  "../v9/11upload"
] %}



{{ govukPagination({

  items: [
    {
      number: 8,
      href: versions[0]
    },
    {
      number: 9,
      href: versions[1]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

