{% set versions = [ 
  "../v5/17infotype",
  "../v6/20infotype",
  "../v7/20infotype",
  "../v8/20infotype"
] %}



{{ govukPagination({

  items: [
    {
      number: 5,
      href: versions[0]
    },
    {
      number: 6,
      href: versions[1]
    },
    {
      number: 7,
      href: versions[2]
    },
    {
      number: 8,
      href: versions[3]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

