<ul class="govuk-list govuk-list--bullet">
  <li>UCD story <a href="https://dwpdigital.atlassian.net/browse/CITI-18246">CITI-18246 - Discover: Make Decision journey - Ideate</a></li>
	<li>Includes Business Support journey</li>
	<li>Separate journeys for recording actions and concluding case</li>
	<li>Includes contingencies and actions notes</li>
	<li>Start page shows Business Support journey in separate section from descision maker</li>
</ul>