<ul class="govuk-list govuk-list--bullet">
  <li>UCD story <a href="https://dwpdigital.atlassian.net/browse/CITI-18246">CITI-18246 - Discover: Make Decision journey - Ideate</a></li>
	<li>Includes Business Support journey, which will only get built if time this sprint</li>
	<li>If the customer has active measures, the Key Details bar should be red for consistency with Searchlight</li>
	<li>Measures and actions only recorded and appear on history when this journey is concluded</li>
	<li>After the history page, the caption shows details from the latest incident or concern to give context</li>
	<li>Removed contingencies and actions notes for simplicity</li>
	<li>Removed "conclude" path for simplicity</li>
	<li>Should the start page show incidents from the same customer as one row<br>
	<span class="govuk-body-s">It is possible that multiple incidents for a customer will come in separately. In the first product increment, with no business support functionality, they may be picked up by different decision makers. When the business support is added, a similar problem will occur for business support. This will eventually be dealt with by linking cases in the backlog. One proposal at this stage would be to add all incidents of a ready status related to a customer to be assigned to the decision maker when they request next case. Additionally, when a case is set to ready, the system should check to see if the customer has an open incident with a decision maker and assign to them.</li></span>
	<a href="/public/images/user-flows/make_decision_v2.png"><img src="/public/images/user-flows/make_decision_v2.png" width="100%"></a>
	<a href="/public/images/user-flows/make_decision_v2_statuses.png"><img src="/public/images/user-flows/make_decision_v2_statuses.png" width="100%"></a>
</ul>