<ul class="govuk-list govuk-list--bullet">
	<li><a href="/beta/decision/v4/h_02incident_best_simple">h02 Incident report</a> - Add trigger warning to incident > download files. Show Line Manager and Business Support sections even when no data added</li>
	<li><a href="/beta/decision/v4/h_03concern_best">h03 Concern report</a> - add reference number and Add trigger warning to incident > download files</li>
	<li><a href="/beta/decision/v4/04trigger">04 Trigger</a> - New page for MI - build placeholder</li>
	<li><a href="/beta/decision/v4/03type">03 Incident type</a> - New page for MI - investigation under way</li>
	<li><a href="/beta/decision/v4/13fast">13 Fast track</a> - New page for MI - investigation under way</li>
	<li><a href="/beta/decision/v4/19infomessage">19 Add note</a> / <a href="/beta/decision/v4/20infoconfirm">20 note confirm</a> / <a href="/beta/decision/v4/21note">21 note view</a> - Add notes to timeline</li>
</ul>
{# <h4 class="govuk-heading-s">Hypotheses and insights</h3>
<ul class="govuk-list govuk-list--bullet">
</ul> #}
