<ul class="govuk-list govuk-list--bullet">
  <li>Action requests</li>
  <ul>
    <li><a href="/beta/decision/v7/02history_complex">02 History</a> - Concatenate action requests</li>
    <li><a href="/beta/decision/v7/h_05action">h_05 Action request</a> - Show who is responsible for each action</li>
  </ul>
</ul>
<a href="/public/images/user-flows/make_decision_v7.png"><img src="/public/images/user-flows/make_decision_v7.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v7_concern.png"><img src="/public/images/user-flows/make_decision_v7_concern.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v7_history.png"><img src="/public/images/user-flows/make_decision_v7_history.png" width="100%"></a>
<a href="/public/images/user-flows/business_support_v7.png"><img src="/public/images/user-flows/business_support_v7.png" width="100%"></a>
