<ul class="govuk-list govuk-list--bullet">
  <li>Notes/uploads</li>
  <ul class="govuk-list govuk-list--bullet">
    <li>DM - Add note / upload file to incident</li>
    <li>DM - Add note / upload file to concern</li>
    <li>BS - Add note / upload file to incident</li>
    <li>BS - Add note / upload file to concern</li>
    <li>BS - Add note / upload file to customer</li>
    <li>Box 8 on concern</li>
  </ul>
</ul>
<a href="/public/images/user-flows/make_decision_v8_dm_incident.png"><img src="/public/images/user-flows/make_decision_v8_dm_incident.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v8_dm_concern.png"><img src="/public/images/user-flows/make_decision_v8_dm_concern.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v8_dm_review.png"><img src="/public/images/user-flows/make_decision_v8_dm_review.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v8_bs_incident.png"><img src="/public/images/user-flows/make_decision_v8_bs_incident.png" width="100%"></a>
