<ul class="govuk-list govuk-list--bullet">
  <li>Notes/upload locations considered</li>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/beta/decision/v8/h_10upload">Upload file to note</a> - DM and BS - Add note / upload file to incident or con</li>
    <li><a href="/beta/decision/v8/05b_add">05b add letter?</a> to letter action - new page</li>
    <li><a href="/beta/decision/v8/05c_upload">05c upload letter</a> - new page</li>
    <li><a href="/beta/decision/v8/05d_wholetter">05d who should send letter</a> - new page</li>
    <li><a href="/beta/decision/v8/h_03concern_best_migrated">Further details on concern details</a> - Display migrated data from "Review action"</li>
    <li><a href="/beta/decision/v8/01landingpage1_blank">KCIS Home </a> - Updated table of numbers of assigned/unassigned incidents and concerns</li>
    <li><a href="https://k-c-i-s.herokuapp.com/beta/decision/v8/03type">Type</a> - add not and incident</li>
    <li>Reassign manager - <a href="/beta/decision/v8/h_02incident_best_simple#contact_section">Access from incident</a> to <a href="/beta/decision/v8/h_02a_reassign">reassign</a></li>
  </ul>
</ul>
<a href="/public/images/user-flows/make_decision_v8_dm_incident.png"><img src="/public/images/user-flows/make_decision_v8_dm_incident.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v8_dm_concern.png"><img src="/public/images/user-flows/make_decision_v8_dm_concern.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v8_dm_review.png"><img src="/public/images/user-flows/make_decision_v8_dm_review.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v8_bs_incident.png"><img src="/public/images/user-flows/make_decision_v8_bs_incident.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v8_multiple.png"><img src="/public/images/user-flows/make_decision_v8_multiple.png" width="100%"></a>
