<ul class="govuk-list govuk-list--bullet">
  <li>Notes/upload locations considered</li>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/beta/decision/v9/03gather">Gather</a> reports</li>
  </ul>
</ul>
<a href="/public/images/user-flows/make_decision_v9_dm_incident.png"><img src="/public/images/user-flows/make_decision_v9_dm_incident.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v9_dm_incident_multiple.png"><img src="/public/images/user-flows/make_decision_v9_dm_incident_multiple.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v9_dm_concern.png"><img src="/public/images/user-flows/make_decision_v9_dm_concern.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v9_dm_review.png"><img src="/public/images/user-flows/make_decision_v9_dm_review.png" width="100%"></a>
<a href="/public/images/user-flows/make_decision_v9_bs_incident.png"><img src="/public/images/user-flows/make_decision_v9_bs_incident.png" width="100%"></a>
