{% extends "layout.html" %}

{% block pageTitle %}
  Your reports - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back to Searchlight home",
      href: "00searchlight"
    }) }}
  </section>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your reports</h1>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-padding-bottom-2">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">To do</h2>
      <p class="govuk-hint">
        Each row in the table below represents a report that needs action from you.
      </p>
      {{ govukButton({
        text: "Get next incident",
        href: "01landingpage1_nmready_walk"
      }) }}&nbsp;
      {{ govukButton({
        text: "Get next concern",
        href: "01landingpage1_nmready_walk",
        classes: "govuk-button--secondary"
      }) }}
    </div>
		<div class="govuk-grid-column-one-third grey">
      {% include "./templates/unassigned_report.njk" %}
		</div>
  </div>
  
  

	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/01landing__notes.njk" %}
	{% endif %}
{% endblock %}













