{% extends "layout.html" %}

{% block pageTitle %}
  Your reports - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back to Searchlight home",
      href: "00searchlight"
    }) }}
  </section>
{% endblock %}
{% block content %}
<style>
  .grey {
  background-color: #f3f2f1;
  padding-top: 20px;
  }
</style>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your reports</h1>
      </div>
    </div>
  <div class="govuk-grid-row govuk-!-padding-bottom-2">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">To do</h2>
      <p class="govuk-hint">
        Each row in the table below represents a report that needs action from you.
      </p>
      {{ govukButton({
        text: "Get next report",
        href: "01landingpage1_nmready"
      }) }}
    </div>
		<div class="govuk-grid-column-one-third grey">
      {% include "./templates/unassigned_report.njk" %}

		</div>
  </div>
  <div class="govuk-!-padding-bottom-7">
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          html: "Date"
        },
        {
          text: "Customer"
        },
        {
          text: "Original reporter"
        },
        {
          text: "Witnesses"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            html: "<span class='govuk-tag--yellow'>Multiple</span>"
          },
          {
            html: "<span class='govuk-visually-hidden'>Customer: </span>Ann Other"
          },
          {
            html: "<span class='govuk-visually-hidden'>Original reporter: </span>Multiple"
          },
          {
            html: "<span class='govuk-visually-hidden'>Witnesses: </span>Range"
          },
          {
            html: "<a href='19multiple'>Reassign</a>"
          }
        ],
        [
          {
            html: "<span class='govuk-tag--yellow'>Multiple</span>"
          },
          {
            html: "<span class='govuk-visually-hidden'>Customer: </span>Ann Other"
          },
          {
            html: "<span class='govuk-visually-hidden'>Original reporter: </span>Multiple"
          },
          {
            html: "<span class='govuk-visually-hidden'>Witnesses: </span>Range"
          },
          {
            html: "<a href='19multiple'>Reassign</a> | <a href='02history_complex' aria-label='Review and apply measures for multiple incidents'>Open</a>"
          }
        ]        
      ]
    }) }}
  </div>
  

	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/01landing__notes.njk" %}
	{% endif %}
{% endblock %}













