{% extends "layout.html" %}

{% block pageTitle %}
  Assign reports to a colleague - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_ann.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "01landingpage1_multiple"
    }) }}
  </section>
{% endblock %}
{% block content %}
<h1 class="govuk-heading-l">
    Assign reports to a colleague
  </h1>
  <div class="govuk-!-padding-bottom-7">
    <p class="govuk-body">The following "live" must be assigned to the same decision maker. </p>
    {{ govukTable({    
      head: [
        {
          html: "Number"
        },
        {
          html: "Date"
        },
        {
          text: "Customer"
        },
        {
          text: "Original reporter"
        },
        {
          text: "Status"
        },
        {
          text: "Assigned"
        }
      ],
      rows: [
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>12345678"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>13 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 8:06am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Ann Other"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Submitted"
        },
        {
          html: "Unassigned"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>87654321"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>12 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 6:00am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Ann Other"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Ted Lady"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Preparing"
        },
        {
          html: "ann@gov.uk"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>4444444"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>11 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 11:56am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Ann Other"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Sarah Sencha"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Ready for decision"
        },
        {
          html: "Unassigned"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>5555555"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>10 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 9:35am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Ann Other"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Bob Black"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Decision pending"
        },
        {
          html: "sadiq@gov.uk"
        }
      ]
    ]
  }) }}
  </div>                                
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "event-name",
        name: "eventName"
      }) }}
      {{ govukButton({
        text: "Assign reports to colleague",
        href: "19multiple_success"
      }) }}
    </div>
  </div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/19multiple__notes.njk" %}
	{% endif %}
{% endblock %}
