{% extends "layout.html" %}
{% block pageTitle %}
  Concern report - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "./templates/govuk-caption-m-mike-concern.njk" %}
  <h1 class="govuk-heading-xl">Concern report</h1>
  <section aria-label="Concern overview" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="h2-overview"><span class="govuk-warning-text__assistive">Concern </span>Overview</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Concern </span>Reported",
                  classes: "govuk-!-width-one-half"
                },
                value: {
                  text: "8 August 2022 at 2:31pm"
                }
              },
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Concern </span>Report reference"
                },
                value: {
                  html: "<span aria-hidden='true'>CON-</span>000-456-234"
                }
              },
              {
                key: {
                  html: "Who do you work for?"
                },
                value: {
                  html: "Centre for Health and Disability Assessments (CHDA)"
                }
              }
            ]
          }) }}
        </div>
      </div>
    </div>
  </section>

  <section aria-label="Concern details" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l"><span class="govuk-warning-text__assistive">Concern</span> Details</h2>
          <p class="govuk-hint">The following content is exactly as the original reporter wrote it.</p>
          <h3 class="govuk-heading-m">Tell us about the safety concern you want to report</h3>
          <p class="govuk-body">I have uploaded a form ESA50 p3-5 is relevant. This customer may sometimes present as aggressive. 
          </p>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Files attached to concern report" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="attached">Files attached to concern report</h2>
          {{ govukWarningText({
            text: "These attachments may contain inappropriate content or images",
            iconFallbackText: "Warning"
          }) }}
          {{ govukTable({
            captionClasses: "govuk-table__caption--l",
            head: [
              {
                text: "File name",
                classes: 'govuk-!-width-one-half'
              },
              {
                text: "Action"
              }
            ],
            rows: [
              [
                {
                  html: "<span class='govuk-visually-hidden'>File name: </span>ESA50.pdf"
                },
                {
                  html: "<a href='/public/images/screen_shot.png' role='button' draggable='false' class='govuk-button govuk-button--secondary ' data-module='govuk-button' download>Download file<span class='govuk-visually-hidden'>ESA50.pdf</span></a>"
                }
              ]
            ]
          }) }}
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Review action comments" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Review action comments</h2>
          <p class="govuk-body">10.02.24- Temporary ban measures applied due to ref 719271, 4 cases linked to parent case-AS<br>
            20.02.24 RAR redaction provided. KS</p>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Contact details" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Contact details</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Original reporter",
                  classes: "govuk-!-width-one-half"
                },
                value: {
                  html: "<span class='govuk-visually-hidden'>Original reporter: </span>Mike&nbsp;Black",
                  classes: "govuk-!-width-one-half"
                }
              },
              {
                key: {
                  text: "Reporter's email address"
                },
                value: {
                  text: "mike@dwp.gov.uk"
                }
              }
            ]
          }) }}
        </div>
      </div>
    </div>
  </section>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Back to customer history",
      href: "02history_complex"
    }) }}
  </div>

  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/h_03concern_best__notes.njk" %}
	{% endif %}
{% endblock %}
