{% extends "layout.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Decisions</h1>
    <p class="govuk-body">1 October 2024</p>


    <!-- send to self -->
    <form action="#" class="form" method="post">
        <p>Please enter the following information to tailor your profile. This information will not be stored or used outside this session.</p>
        <input type="hidden" id="20240429_inc1_date" name="20240429_inc1_date" value="{{ 'today' | govukDate }}">
        <input type="hidden" id="20240429_inc1_time" name="20240429_inc1_time" value=" at 8:15am">
        <input type="hidden" id="20240429_inc1_time_reported" name="20240429_inc1_time_reported" value=" at 8:30am">
        <input type="hidden" id="20240429_inc1_date_todo" name="20240429_inc1_date_todo" value=" <span class='govuk-visually-hidden'>Report date: </span>{{ 'today' | govukDate }}<br><span class='govuk-body-s' style='color:#505a5f'> {{ data['20240429_inc1_time']}}</span>" >
        <input type="hidden" id="20240429_inc1_date_details" name="20240429_inc1_date_details" value=" {{ data['20240429_inc1_date']}}{{ data['20240429_inc1_time']}}" >
        <input type="hidden" id="20240429_inc1_date_reported" name="20240429_inc1_date_reported" value="{{ 'today' | govukDate }}" >
        <input type="hidden" id="20240429_inc1_interaction_type" name="20240429_inc1_interaction_type" value="Telephone"  >
        <input type="hidden" id="20240429_inc1_location_type" name="20240429_inc1_location_type" value="The office you're based at"  >
        <input type="hidden" id="20240429_inc1_location" name="20240429_inc1_location" value="Southernchester JCP"  >
        <input type="hidden" id="20240429_inc1_reference" name="20240429_inc1_reference" value="123456789"  >
        <input type="hidden" id="20240429_inc1_reference_prefix" name="20240429_inc1_reference_prefix" value="INC-" >
        <input type="hidden" id="20240429_inc1_reference_chars" name="20240429_inc1_reference_chars" value="123-456-789" >
        <!-- set to prepared -->
        <input type="hidden" id="20240429_inc1_status" name="20240429_inc1_status" value="Prepared" >
        <input type="hidden" id="20240429_inc1_assigned" name="20240429_inc1_assigned" value="{{ data['20240422_youremail']}}{{ data['20240422_inc1_status']}}" >
        <input type="hidden" id="20240429_inc1_details" name="20240429_inc1_details" value="I contacted the customer as he wished to make a complaint regarding his recent appointment in the Job Centre. Customer felt that he had not been treated fairly as he was English and we are in Wales. Customer would not let me speak to explain the reason for the appointment and why the Work Coach had asked him to supply additional information.

        Customer continued to talk over me and called me racist, he advised that had he come over by boat he would be given better treatment or if he was a druggie he would be given additional money. I tried to calm the customer down but he continually spoke. I asked him to listen to me and what I was trying to tell him but he would not. I terminated the call. This isn't the first time I have had dealings with this customer both via telephone and face to face. He tries to intimidate by not letting you speak. I did feel a little intimidated by him but more frustration."  >
        <input type="hidden" id="20240429_inc1_discrimination" name="20240429_inc1_discrimination" value="Race including colour, nationality, ethnic or national origin"  >
        <input type="hidden" id="20240429_inc1_witnesses" name="20240429_inc1_witnesses" value="There are currently no witnesses to this incident."  >
        <input type="hidden" id="20240429_inc1_police" name="20240429_inc1_police" value="The relevant manager has not yet submitted a report."  >
        <input type="hidden" id="20240429_inc1_manager_report" name="20240429_inc1_manager_report" value="The relevant manager has not yet submitted a report."  >
        <input type="hidden" id="20240429_inc1_business_support_comments" name="20240429_inc1_business_support_comments" value="Business support have not yet commented. "  >
        <input type="hidden" id="20240429_inc1_reporter" name="20240429_inc1_reporter" value="Whitney Earl"  >
        <input type="hidden" id="20240429_inc1_reporters_email" name="20240429_inc1_reporters_email" value="whitney.earl@dwp.gov.uk"  >
        <input type="hidden" id="20240429_inc1_manager" name="20240429_inc1_manager" value="Sarah Sencha"  >
        <input type="hidden" id="20240429_inc1_managers_email" name="20240429_inc1_managers_email" value="sarah@dwp.gov.uk"  >
        <input type="hidden" id="20240429_inc1_business_support" name="20240429_inc1_business_support" value="Ashleigh Oolong"  >
        <input type="hidden" id="20240429_inc1_business_support_email" name="20240429_inc1_business_support_email" value="ashleigh@dwp.gov"  >
        <input type="hidden" id="2401_actions" name="2401_actions" value=""  >
        <input type="hidden" id="2401_inc1_newmanager_email" name="2401_inc1_newmanager_email" value=""  >
        <input type="hidden" id="20240429_inc1_busline" name="20240429_inc1_busline" value="Working Age">

        <!-- set to already actioned -->
        <input type="hidden" id="20240429_inc1_actioned" name="20240429_inc1_actioned" value="yes">
        <!-- set to manager -->
        <input type="hidden" id="who-sends" name="who-sends" value="Manager">

        <input type="hidden" id="20240429_inc2_date" name="20240429_inc2_date" value="{{ 'today' | govukDate }}">
        <input type="hidden" id="20240429_inc2_time" name="20240429_inc2_time" value=" at 9:33am">
        <input type="hidden" id="20240429_inc2_time_reported" name="20240429_inc2_time_reported" value=" at 9:40am">
        <input type="hidden" id="20240429_inc2_date_todo" name="20240429_inc2_date_todo" value=" <span class='govuk-visually-hidden'>Report date: </span>{{ 'today' | govukDate }}<br><span class='govuk-body-s' style='color:#505a5f'>{{ data['20240429_inc2_time']}}</span>" >
        <input type="hidden" id="20240429_inc2_date_details" name="20240429_inc2_date_details" value=" {{ data['20240429_inc2_date']}}{{ data['20240429_inc2_time']}}" >
        <input type="hidden" id="20240429_inc2_date_reported" name="20240429_inc2_date_reported" value="{{ 'today' | govukDate }}" >
        <input type="hidden" id="20240429_inc2_interaction_type" name="20240429_inc2_interaction_type" value="Telephone"  >
        <input type="hidden" id="20240429_inc2_location_type" name="20240429_inc2_location_type" value="The office you're based at"  >
        <input type="hidden" id="20240429_inc2_location" name="20240429_inc2_location" value="Northerny JCP"  >
        <input type="hidden" id="20240429_inc2_reference" name="20240429_inc2_reference" value="222222222"  >
        <input type="hidden" id="20240429_inc2_reference_prefix" name="20240429_inc2_reference_prefix" value="INC-" >
        <input type="hidden" id="20240429_inc2_reference_chars" name="20240429_inc2_reference_chars" value="222-222-222" >
        <!-- set to prepared -->
        <input type="hidden" id="20240429_inc2_status" name="20240429_inc2_status" value="Prepared" >
        <input type="hidden" id="20240429_inc2_assigned" name="20240429_inc2_assigned" value="{{ data['20240422_youremail']}}{{ data['20240422_inc2_status']}}" >
        <input type="hidden" id="20240429_inc2_details" name="20240429_inc2_details" value="Customer contacted us because he was upset with our last contact. He said we were picking on him because he was Welsh. That it is racist. I tried to calm him down He said he reckoned he’d be better off if he was an illegal boat person. Or a druggie. Then he told me to f*** off and ended the call. "  >
        <input type="hidden" id="20240429_inc2_discrimination" name="20240429_inc2_discrimination" value="None"  >
        <input type="hidden" id="20240429_inc2_witnesses" name="20240429_inc2_witnesses" value="There are currently no witnesses to this incident."  >
        <input type="hidden" id="20240429_inc2_police" name="20240429_inc2_police" value="The relevant manager has not yet submitted a report."  >
        <input type="hidden" id="20240429_inc2_manager_report" name="20240429_inc2_manager_report" value="This report is for the same customer, but is a separate incident."  >
        <input type="hidden" id="20240429_inc2_business_support_comments" name="20240429_inc2_business_support_comments" value="Business support have not yet commented. "  >
        <input type="hidden" id="20240429_inc2_reporter" name="20240429_inc2_reporter" value="Ted Lady"  >
        <input type="hidden" id="20240429_inc2_reporters_email" name="20240429_inc2_reporters_email" value="ted@dwp.gov.uk"  >
        <input type="hidden" id="20240429_inc2_manager" name="20240429_inc2_manager" value="Sartaq Matcha"  >
        <input type="hidden" id="20240429_inc2_managers_email" name="20240429_inc2_managers_email" value="sartaq@dwp.gov.uk"  >
        <input type="hidden" id="20240429_inc2_business_support" name="20240429_inc2_business_support" value="Ashleigh Oolong"  >
        <input type="hidden" id="20240429_inc2_business_support_email" name="20240429_inc2_business_support_email" value="ashleigh@dwp.gov"  >
        <input type="hidden" id="2401_actions2" name="2401_actions2" value=""  >
        <input type="hidden" id="2401_inc2_newmanager_email" name="2401_inc2_newmanager_email" value=""  >
        <input type="hidden" id="20240429_inc2_busline" name="20240429_inc2_busline" value="Working Age">
        <!-- set to already actioned -->
        <input type="hidden" id="20240429_inc2_actioned" name="20240429_inc2_actioned" value="yes">
        <!-- set to manager -->
        <input type="hidden" id="who-sends2" name="who-sends2" value="Manager">
        <!-- set to 2 reports -->
        <input type="hidden" id="2reports" name="2reports" value="yes">
        <!-- gather has happened -->
        <input type="hidden" id="reassigned" name="reassigned" value="y">
        <!-- default value for measures justification -->
        <input type="hidden" id="2401_measureaccount" name="2401_measureaccount" value="The customer has involuntary physical movements and so should be seen in a screened environment with carer">
          
        <p><a href="/beta/_UR/20241001/v8/01landingpage1_multiple0">Your reports</a></p>
        <p><a href="/beta/_UR/20241001/v8/11check_good">Check your answers incident1</a></p>
        <p><a href="/beta/_UR/20241001/v8/11check_good2">Check your answers incident2</a></p>
        <p><a href="/beta/_UR/20241001/v8/11check_good_multi">Check your answers multi</a></p>
        <p><a href="/beta/_UR/20241001/v8/02history_complex_multiple2">Customer history once completed </a></p>
        <p><a href="/beta/_UR/20241001/v8/02history_complex_multiple3">Customer history showing future states</a></p>
        <p><a href="/beta/_UR/20241001/v8/02history_complex_multiple4">Customer history showing future states - with expanded actions</a></p>
        <p><a href="/beta/_UR/20241001/v8/02history_complex_multiple5">Customer history showing future states - with expanded actions and notes</a></p>
        {{ govukInput({
          id: "20240422_yourname",
          name: "20240422_yourname",
          spellcheck: false,
          value: data['20240422_yourname'],
          label: {
            text: "Your full name"
          },
          hint: {
            text: "Enter your full name"
          }
        }) }}
      {{ govukInput({
          id: "20240422_youremail",
          name: "20240422_youremail",
          type: "email",
          autocomplete: "email",
          value: data['20240422_youremail'],
          spellcheck: false,
          label: {
            text: "Your email address"
          },
          hint: {
            text: "Enter your email address as it appears on the Global Address List"
          }
        }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
    </form>
{% endblock %}
