{% extends "layout.html" %}
{% block pageTitle %}
Report an incident - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Report an incident</h1>
    <p class="govuk-body">22 April 2024</p>


        
    <form action="/beta/_UR/20240422/reportv12/01report">
        <p>Please enter the following information to tailor your profile. This information will not be stored or used outside this session.</p>
        {{ govukInput({
          id: "20240422_yourname",
          name: "20240422_yourname",
          spellcheck: false,
          value: data['20240422_yourname'],
          label: {
            text: "Your full name"
          },
          hint: {
            text: "Enter your full name"
          }
        }) }}
      {{ govukInput({
          id: "20240422_youremail",
          name: "20240422_youremail",
          type: "email",
          autocomplete: "email",
          value: data['20240422_youremail'],
          spellcheck: false,
          label: {
            text: "Your email address"
          },
          hint: {
            text: "Enter your email address as it appears on the Global Address List"
          }
        }) }}
        {{ govukInput({
            id: "20240422_managername",
            name: "20240422_managername",
            spellcheck: false,
            value: data['20240422_managername'],
            label: {
              text: "Their full name"
            },
            hint: {
              text: "Enter their full name"
            }
          }) }}
        {{ govukInput({
            id: "20240422_email",
            name: "20240422_email",
            type: "email",
            autocomplete: "email",
            value: data['20240422_email'],
            spellcheck: false,
            label: {
              text: "Their email address"
            },
            hint: {
              text: "Enter their email address as it appears on the Global Address List"
            }
          }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
    </form>
{% endblock %}
