{% extends "layout.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Accessibility</h1>
    <p>Please enter the following information to tailor your profile. This information will not be stored or used outside this session.</p>


        
    <form action="/beta/_UR/20240422/reportv12/01report">
        {{ govukInput({
          id: "20240422_yourname",
          name: "20240422_yourname",
          spellcheck: false,
          value: data['20240422_yourname'],
          label: {
            text: "Your full name"
          }
        }) }}
      {{ govukInput({
          id: "20240422_youremail",
          name: "20240422_youremail",
          type: "email",
          autocomplete: "email",
          value: data['20240422_youremail'],
          spellcheck: false,
          label: {
            text: "Your email address"
          }
        }) }}
        {{ govukInput({
            id: "20240422_managername",
            name: "20240422_managername",
            spellcheck: false,
            value: data['20240422_managername'],
            label: {
              text: "Your Manager's full name"
            },
            hint: {
              text: "You can use a ficticious name"
            }
          }) }}
        {{ govukInput({
            id: "20240422_email",
            name: "20240422_email",
            type: "email",
            autocomplete: "email",
            value: data['20240422_email'],
            spellcheck: false,
            label: {
              text: "Their email address"
            }
          }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
    </form>
{% endblock %}
