{% extends "layout.html" %}

{% block pageTitle %}
  Prepare decision - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="08discrimination_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "10type"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <style>
        h1 {
            margin-block-start: 0em;
        }
      </style>
      {% include "./templates/govuk-caption-m-ted.njk" %}
      <div class="govuk-!-padding-bottom-4">
        <h1 class="govuk-fieldset__legend--xl">Finalise decision</h1>
        <p class="govuk-body">Measures and action are supplied for reference. Finalise your decision by adding a covering note to be sent to the manager.</p>
        <p class="govuk-body">You may wish to refer to <a href="12incident_best_simple_info">the original report</a>.</p>
      </div>
      <div class="govuk-!-padding-bottom-4">
        <h2 class="govuk-fieldset__legend--l">Measures </h2>
        <h3 class="govuk-fieldset__legend--m">To be applied now</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Interim ban from office (by DWP)</li>
        </ul>
        <h3 class="govuk-fieldset__legend--m ">Measures summary</h3>
        <p class="govuk-body">This is the measures summary. This is the measures summary. This is the measures summary. This is the measures summary. This is the measures summary. This is the measures summary. This is the measures summary. </p>
      </div>

      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-fieldset__legend--l">Actions </h2>
        <h3 class="govuk-fieldset__legend--m">Manager </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Send letter</li>
        </ul>
        <h3 class="govuk-fieldset__legend--m">Decision maker</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Request a banning order</li>
        </ul>
      </div>

      <div class="govuk-!-padding-bottom-9">
        <h2 class="govuk-fieldset__legend--l">Deliver decision</h2>
        {{ govukRadios({
          name: "recipient",
          fieldset: {
            legend: {
              text: "Send to",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "reporter",
              text: "Reporter: Ted Asssam",
              hint: {
                text: "Copied to Manager"
              }
            },
            {
              value: "manager",
              text: "Manager: Sartaq Matcha"
            }
          ]
        }) }}
      </div>

      {{ govukTextarea({
        name: "note",
        id: "note",
        label: {
          text: "Covering note",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Messages to managers will not be sent to reporters. "
        }
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "09multipleincident"
        }) }}
      </div>
    </div>
  </div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/11prepare__notes.njk" %}
	{% endif %}	
{% endblock %}
