<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01landing__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="01landingpage1_ready">Landing page - ready to make decision / ready to assign</a></li>
		<li><a href="01landingpage1_assigned">Landing page - all assigned</a></li>
		<li><a href="01landingpage1_rejected">Landing page - all rejected</a></li>
</ul>
<h4 class="govuk-heading-s">v1 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>UCD story <a href="https://dwpdigital.atlassian.net/browse/CITI-18246">CITI-18246 - Discover: Make Decision journey - Ideate</a></li>
		<li>Assumes Decision Makers and Business Support share same page</li>
		<li>Completed section to show recently closed cases - limited by time? Should this be covered elsewhere</li>
		<li>"To assign" section to seperate out functionality for Business Support</li>
		<li>Note: This is a different page from case reviewers landing page. They must be separate for technical performance</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain: Inefficient processes and missing SLAs</li>
			<li>Pain: The number of reviews needing doing</li>
		</ul>
	</ul>
{% set journeyNotesHTMLDecision_v1 %}
	{% include "beta/decision/notes/v1__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v1 Journey level design notes",
	html: journeyNotesHTMLDecision_v1
}) }}	