<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/03actions__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="03actions">Actions</a></li>
	</ul>
<h4 class="govuk-heading-s">v1 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>UCD story <a href="https://dwpdigital.atlassian.net/browse/CITI-18246">CITI-18246 - Discover: Make Decision journey - Ideate</a></li>
		<li>"None of the above" to ensure that action is specifically defined</li>
		<li>"Actions Taken" because this system will record actions taken rather than drive them as a simpler system</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Send letters to customers</li>
		</ul>
	</ul>
{% set journeyNotesHTMLDecision_v1 %}
	{% include "beta/decision/notes/v1__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v1 Journey level design notes",
	html: journeyNotesHTMLDecision_v1
}) }}	