<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h4>
{% include "../../_versions/21eventinfo__versions.njk" %}

<h4 class="govuk-heading-s">States</h4>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="h_08note">1. Note added</a></li>
		<li><a href="h_08note_files">2. Note added with files</a></li>
	</ul>
<h4 class="govuk-heading-s">v8 Design notes</h4>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-27415">Handle "500" error from ADFS</a></li>
		<ul>
			<li>Added error "No longer works here or ADFS communication error". We currently cant tell if it's "Not found" or an actual communication error (Always returning http 500)</li>
		</ul>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h4>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
	</ul>
	
{% set journeyNotesHTMLDecision_v8 %}
	{% include "beta/decision/notes/v8__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v8 Journey level design notes",
	html: journeyNotesHTMLDecision_v8
}) }}	


