<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/history/_versions/01history__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Built: <a href="01history_complex">Customer history: Best</a> - see notes</li>
		<li>Not built: <a href="01history_good">Customer history: Good</a> - Just incidents and concerns - not linked</li>
		<li>Not built: <a href="01history_better">Customer history: Better</a> - Include actions and measures - not linked</li>
	</ul>
<h4 class="govuk-heading-s">v6 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Development story: <a href="https://dwpdigital.atlassian.net/browse/CITI-16794">16794 Build: View Customer Safeguarding History</a></li>
		<li>All events linked to event display pages. </li>
		<li>Ongoing behaviours - shown but not developed yet</li>
		<li>Status of measures ACTIVE / (not active)</li>
		<li>Review date shown only if active measures exist</li>
		<li>Key details banner red with "Active measures" text if active Measures exist</li>
		<li>Note if there are active measures there will be a review date and the key details will be red and show text: "ACTIVE MEASURES"</li>
		<li>Continued development as part of Make Decision journey <a href="../../decision/v1/02history_complex">v1 History</a> </li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain: Inefficient processes and missing SLAs</li>
			<li>Pain: The number of reviews needing doing</li>
		</ul>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain relievers: Single source of truth</li>
		</ul>
	</ul>
	{% set journeyNotesHTML %}
		{% include "beta/history/notes/v6__notes.njk" %}
	{% endset %}
	{{ govukDetails({
		summaryText: "v6 Journey level design notes",
		html: journeyNotesHTML
	}) }}		