<span class="govuk-caption-m">
    <strong class='govuk-tag govuk-tag--green'>prepared</strong>
    <br>
    <a href="h_02incident1">{{data['20240429_inc2_interaction_type']}} Telephone incident</a><br>
    <span style='color:#000'>15 July 2025 at 8:30am</span><br>
    <span class="govuk-body-s" style='color:#505a5f'>Reported by Adam Smith, 15 July 2025 at 8:30am</span><br>
    <span class="govuk-body-s" style="color:#505a5f">Manager: Sarah Sencha</span>
</span>
