{% extends "layout_ur.html" %}
{% block pageTitle %}
  Error: Who is the most appropriate manager to review this report? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="05interaction" method="post">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "This person cannot access the service",
            href: "#acting-manager"
          }
        ]
      }) }}
      {% set managerDetailsHtml %}
        {{ govukInput({
          id: "first-name-review",
          name: "first-name-review",
          value: data['first-name-review'],
          value: data['first-name-review'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Their first name"
          }
        }) }}
        {{ govukInput({
          id: "last-name-review",
          name: "last-name-review",
          value: data['last-name-review'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Their last name"
          }
        }) }}
        {{ govukInput({
          id: "email-review",
          name: "email-review",
          value: data['email-review'],
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          label: {
            text: "Their email address"
          },
          errorMessage: {
            text: "This person cannot access the service"
          },
          hint: {
            text: "Enter their email address as it appears on the Global Address List"
          }
        }) }}
        {% endset -%}
        {{ govukRadios({
          idPrefix: "review-manager",
          name: "review-manager",
          fieldset: {
              legend: {
              text: "Who is the most appropriate manager to review this report?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "linemanager",
              text: "My line manager",
              checked: data['review-manager'].includes("linemanager")
            },
            {
              value: "anothermanager",
              text: "Another manager",
              checked: data['review-manager'].includes("anothermanager"),
              checked: true,
              hint: {
                text: "For example, a job centre manager or someone standing in for your line manager"
              },
              conditional: {
                html: managerDetailsHtml
              }
            }
          ],
          hint: {
          text: "Select one option."
          }
        }) }}
        <div>
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
    </form>
    </div>
  </div>

{% endblock %}
