{% extends "layout_ur.html" %}

{% block pageTitle %}
  Error: Where were you during the incident? - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="08discrimination" method="post">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Tell us where you were when it happened",
              href: "#somewhereelse-text"
            }
          ]
        }) }}
        {% set somewhereHtml %}
        {{ govukInput({
          id: "somewhereelse-text",
          name: "somewhereelse-text",
          value: data["somewhereelse-text"],
          errorMessage: {
            text: "Tell us where you were when it happened"
          },
          label: {
            text: "Incident location"
          }
        }) }}
        {% endset -%}
        {{ govukRadios({
          idPrefix: "location",
          name: "location",
          fieldset: {
            legend: {
              text: "Where were you during the incident?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "The office you're based at",
              text: "The office you're based at",
              checked: data['location'].includes("The office you're based at")
            },
            {
              value: "A different office",
              text: "A different office",
              checked: data['location'].includes("A different office")
            },
            {
              value: "An outreach location",
              text: "An outreach location",
              checked: data['location'].includes("An outreach location")
            },
            {
              value: "Your home",
              text: "Your home",
              checked: data['location'].includes("Your home")
            },
            {
              value: "The customer's home",
              text: "The customer's home",
              checked: data['location'].includes("The customer's home")
            },
            {
              value: "Somewhere else",
              text: "Somewhere else",
              checked: data['location'].includes("Somewhere else"),
              checked: true,
              conditional: {
                html: somewhereHtml
              }
            }
          ]
        }) }}
        <div>
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
