{% extends "layout.html" %}

{% block pageTitle %}
  Error: Tell us about the incident - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="01comments">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="10add" method="post">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Confirm you have reviewed all the required information",
              href: "#checklist"
            }
          ]
        }) }}
        {% set html %}
          <p class="govuk-notification-banner__heading">Keep to the facts and be as specific as possible.</p>
          <p class="govuk-notification-banner__heading">Do not include the names of any DWP staff in your answers.</p>
        {% endset %}
        {{ govukNotificationBanner({
          html: html
        }) }}
        {{ govukCharacterCount({
          id: "description",
          name: "Description",
          rows: "12",
          maxlength: 2000,
          value: data['Description'],
          label: {
            text: "Tell us about the incident",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}
        {{ govukCheckboxes({
          idPrefix: "checklist",
          name: "checklist",
          fieldset: {
            legend: {
              text: "Please confirm you have considered and included, where relevant:",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "1",
              text: "The exact words used in the incident.",
              checked: data['checklist'].includes("1")
        
            },
            {
              value: "2",
              text: "How the incident started. Was there a specific trigger?",
              checked: data['checklist'].includes("2")
            },
            {
              value: "3",
              text: "What the issues were with the customer's behaviour and how you tried to resolve the situation.",
              checked: data['checklist'].includes("3")
            },
            {
              value: "4",
              text: "How the interaction ended.",
              checked: data['checklist'].includes("4")
            },
            {
              value: "5",
              text: "How you felt during the incident.",
              checked: data['checklist'].includes("5")
            }
          ],
          errorMessage: {
            text: "Confirm you have reviewed all the required information"
          }
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
