
{% extends "layout_20240905_ur.html" %}
{% block pageTitle %}
  Customer history - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "01landingpage1_multiple"
    }) }}
  </section>
{% endblock %}
{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			<h1 class="govuk-heading-xl">Customer history</h1>
		</div>
	</div>
  	<div class="govuk-grid-row">
    	<div class="govuk-grid-column-two-thirds">
			<p>This page shows all incidents and safety concerns reported about this customer's behaviour, and any actions taken and measures applied as a result. </p>
			<p>They are in date and time order with the most recent at the top. </p>
			{% if data['20240429_inc1_actioned'] and data['20240429_inc2_actioned'] %}
				{% set actionClass = "govuk-button--secondary" %}
				{% set measureClass = "" %}
				{% set measureHref = "06measure" %}
			{% else %}
				{% set actionClass = "" %}
				{% set measureClass = "govuk-button--secondary" %}
				{% set measureHref = "06ameasure" %}
			{% endif %}
			<div class="govuk-button-group">
				{{ govukButton({
					text: "Prepare new actions",
					href: "20choosereport",
					classes: actionClass
				}) }}
				{{ govukButton({
					text: "Add new measures",
					href: measureHref,
					classes: measureClass
				}) }}
				{{ govukButton({
					text: "Add a note",
					href: "#",
					classes: "govuk-button--secondary"
				}) }}
			</div>
		</div>
	</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
				<ol class="dwp-timeline__events">
					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-0">
							{% if data['20240429_inc2_actioned'] == "yes" %}
								<strong class='govuk-tag--green govuk-tag'>Prepared</strong>
							{% elif data['20240429_inc2_status'] == "Decision pending" %}
								<strong class='govuk-tag'>{{data['20240429_inc2_status']}}</strong>
							{% endif %}
							<br>
							<a href="h_02incident2">{{data['20240429_inc2_interaction_type']}} incident</a>
						</h2>
						<p class="govuk-!-margin-bottom-0">{{ "today" | govukDate }}{{data['20240429_inc2_time']}}</p>
						<p class="govuk-body-s" style='color:#505a5f'>Reported by {{data['20240429_inc2_reporter']}}, {{ data['20240429_inc2_date_reported']}}{{ data['20240429_inc2_time_reported']}}</p>
					</li>
					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-0">
							{% if data['20240429_inc1_actioned'] == "yes" %}
								<strong class='govuk-tag--green govuk-tag'>Prepared</strong>
							{% elif data['20240429_inc1_status'] == "Decision pending" %}
								<strong class='govuk-tag'>{{data['20240429_inc1_status']}}</strong>
							{% endif %}
							<br>
							<a href="h_02incident1">{{data['20240429_inc2_interaction_type']}} incident</a>
						</h2>

							<p class="govuk-!-margin-bottom-0">{{ "today" | govukDate }}{{data['20240429_inc1_time']}}</p>
							<p class="govuk-body-s" style='color:#505a5f'>Reported by {{data['20240429_inc1_reporter']}}, {{ data['20240429_inc1_date_reported']}}{{ data['20240429_inc1_time_reported']}}</p>
						</li>
				</ol>
		</div>
	</div>


{% endblock %}
