{% extends "layout_20240905_ur.html" %}
{% block pageTitle %}
  What was the main cause of this incident? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="06when_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Set the buttons to return to Check your answers page it cam from else carry on with flow-->

      {% if data['Referrer'].includes('11check_good_multi') %}
      <form class="form" action="11check_good_multi?t={{data['Timenow']}}" method="post">
        {% set buttonHTML %}
        <button class="govuk-button" data-module="govuk-button">
          Save changes
        </button>
        {{ govukButton({
          text: "Cancel",
          href: "11check_good_multi",
          classes: "govuk-button--secondary"
        }) }}
        {% endset %}
      {% elif data['Referrer'].includes('11check_good') %}
      <form class="form" action="11check_good?t={{data['Timenow']}}" method="post">
        {% set buttonHTML %}
        <button class="govuk-button" data-module="govuk-button">
          Save changes
        </button>
        {{ govukButton({
          text: "Cancel",
          href: "11check_good",
          classes: "govuk-button--secondary"
        }) }}          
        {% endset %}          
      {% else %}
      <form class="form" action="05actions" method="post">
        {% set buttonHTML %}
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        {% endset %}          
      {% endif %}
      
      {% include "./templates/multi_caption1.njk" %}
        <form action="05actions" class="form" method="post">
          {{ govukRadios({
            idPrefix: "2404_incident_trigger",
            name: "2404_incident_trigger",
            value: data['2404_incident_trigger'],
            fieldset: {
              legend: {
                text: "What was the main cause of this incident?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
              items: [
                 {
                   value: "An issue with payment",
                   text: "An issue with payment",
                   hint: {
                     text: "For example, the customer believes they're entitled to more money"
                   }
                 },
    
              {
                value: "An issue with the service DWP provides",
                text: "An issue with the service DWP provides",
                hint: {
                  text: "For example, the customer complained about long waiting times"
                }
              },
    
              {
                value: "An error in DWP process or an error made by staff",
                text: "An error in DWP process or an error made by staff"
              },
    
              {
                value: "Customer did not accept rules of entry or rules of conduct",
                text: "Customer did not accept rules of entry or rules of conduct"
    
              },
    
              {
                value: "Customer appeared to be under the influence of alcohol or drugs",
                text: "Customer appeared to be under the influence of alcohol or drugs"
              },
              {
                value: "Customer appeared to have a physical or mental health condition",
                text: "Customer appeared to have a physical or mental health condition"
              },
              {
                value: "Customer targeted a specific member of staff",
                text: "Customer targeted a specific member of staff"
              },
              {
                value: "Other",
                text: "Other"
              }
            ]
          }) }}
          
          <div class="govuk-button-group">
            {{ buttonHTML|safe }}
        </form>
    </div>
  </div>
{% endblock %}
