{% extends "layout_20240905_ur.html" %}
{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "./templates/multi_caption.njk" %}
<h1 class="govuk-heading-xl">Check your answers</h1>

    <div class="govuk-!-margin-bottom-9">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Measures
          </dt>
          <dd class="govuk-summary-list__value">
            {% include "./templates/measures_list.njk" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="06measure" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for applying measures
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ["2401_measureaccount"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="07measureaccount" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Measures review date
          </dt>
          <dd class="govuk-summary-list__value">
            {{data ["2401_review_date"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="08reviewdate" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>
      </dl>
    </div>

    {% include "./templates/multi_caption2.njk" %}
    <p class="govuk-body-s" style="color:#505a5f">Manager: {{data["20240429_inc2_manager"]}}</p>
      <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-4">

  
      {% set typechangeHTML %}03type2.html?n={{ data['Timenow'] }}{% endset %}
        
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident type
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["2404_incident2_type"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="03type2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident cause
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["2404_incident2_trigger"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="04trigger2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Manager actions
          </dt>
          <dd class="govuk-summary-list__value">
              {% include "./templates/action_list_manager2.njk" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05actions2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision maker actions
          </dt>
          <dd class="govuk-summary-list__value">
            {% include "./templates/action_list_dm2.njk" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05actions2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Letter to be sent by
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['who-sends2']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05d_wholetter2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Note for manager
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["2401_note2"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="09prepare_single_man2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

      </dl>
    </div>

    {% include "./templates/multi_caption1.njk" %}
    <p class="govuk-body-s" style="color:#505a5f">Manager: {{data["20240429_inc1_manager"]}}</p>

    <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-4">

      <style>
        .ds_link {
              background:#fff;
              border: 0;
              display: inline;
              font-size: inherit;
              font-weight: inherit;
              line-height: initial;
              margin: 0;
              min-height: 0;
              min-width: 0;
              padding: 0;
              text-align: left;
          }
          a, .ds_link {
              color: #0065bd;
              text-decoration: underline;
              outline: 0px solid rgba(0, 0, 0, 0);
              text-underline-offset: 1px;
              transition: color .2s, background-color .2s, outline-color .2s;
              box-shadow: 0 0px 0 #fff;
          }
          
          .ds_link:hover {
            background:#fff;
            box-shadow: 0 1px 0 #000;
            text-decoration: underline;
            text-underline-offset: 1px;
          }
        
      </style>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident type
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["2404_incident_type"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="03type" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident cause
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["2404_incident_trigger"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="04trigger" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Manager actions
          </dt>
          <dd class="govuk-summary-list__value">
              {% include "./templates/action_list_manager.njk" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05actions" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision maker actions
          </dt>
          <dd class="govuk-summary-list__value">
            {% include "./templates/action_list_dm.njk" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05actions" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Letter to be sent by
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['who-sends']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05d_wholetter" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Note for manager
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["2401_note"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="09prepare_single_man" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

      </dl>
    </div>    
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Are you ready to add these actions and measures to this customer's record?</h2>
    
    <p class="govuk-body">If you need to change anything in your report, select Change next to each answer or use the back link near the top of this page.</p>
        <p class="govuk-body">When you click 'Record actions and measures', we will send your decision to the reporter and their manager.</p>
        <p class="govuk-body govuk-!-font-weight-bold">You will not be able to change anything about your decision after you click the button.</p>
        <form action="12confirmation_multi">
          <input type="hidden" id="20240429_inc1_status" name="20240429_inc1_status" value="" >
          <input type="hidden" id="20240429_inc2_status" name="20240429_inc2_status" value="" >
      
          <div class="govuk-button-group">
            {{ govukButton(
                {
                  text: "Complete report preparation"
                }
              )
            }}
          </div>
      </form>
      </div>
    </div>

{% endblock %}
