{% extends "layout_20240905_ur.html" %}
{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "09prepare_single_man2"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "./templates/multi_caption2.njk" %}
<h1 class="govuk-heading-xl">Check your answers</h1>
  <form action="12confirmation2" class="form" method="post">
    <input type="hidden" id="20240429_inc2_actioned" name="20240429_inc2_actioned" value="yes">
    <div class="govuk-!-margin-bottom-9">
      {% set actionListHTML2 %}
      <ul class="govuk-list govuk-list--bullet">
          {% include "./templates/action_list_manager2.njk" %}
      </ul>
      {% endset %}
      {% set actionListDMHTML2 %}
      <ul class="govuk-list govuk-list--bullet">
          {% include "./templates/action_list_dm2.njk" %}
      </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Incident type"
            },
            value: {
              html: data["2404_incident2_type"]
            },
            actions: {
              items: [
                {
                  href: "03type2",
                  text: "Change",
                  visuallyHiddenText: "Incident type"
                }
              ]
            }
          },
          {
            key: {
              text: "Incident cause"
            },
            value: {
              html: data["2404_incident2_trigger"]
            },
            actions: {
              items: [
                {
                  href: "04trigger2",
                  text: "Change",
                  visuallyHiddenText: "Incident cause"
                }
              ]
            }
          },
          {
            key: {
              text: "Manager actions"
            },
            value: {
              html: actionListHTML2
            },
            actions: {
              items: [
                {
                  href: "05actions2",
                  text: "Change",
                  visuallyHiddenText: "Actions"
                }
              ]
            }
          },
          {
            key: {
              text: "Decision maker actions"
            },
            value: {
              html: actionListDMHTML2
            },
            actions: {
              items: [
                {
                  href: "05actions2",
                  text: "Change",
                  visuallyHiddenText: "Actions"
                }
              ]
            }
          },
          {
            key: {
              text: "Letter to be sent by"
            },
            value: {
              html: data['who-sends2']
            },
            actions: {
              items: [
                {
                  href: "05d_wholetter2",
                  text: "Change",
                  visuallyHiddenText: "Actions"
                }
              ]
            }
          },
          {
            key: {
              text: "Note for manager"
            },
            value: {
              html: data["2401_note2"]
            },
            actions: {
              items: [
                {
                  href: "09prepare_single_man2",
                  text: "Change",
                  visuallyHiddenText: "Note for manager"
                }
              ]
            }
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Have you finished preparing this report?</h2>
    
        <p class="govuk-body">If you need to change anything, select Change next to each answer or use the back link near the top of this page.</p>
        <p class="govuk-body govuk-!-font-weight-bold">You can still change actions after you click the button to confirm actions.</p>
        <div class="govuk-button-group">
          {{ govukButton(
              {
                text: "Complete report preparation"
              }
            )
          }}
        </div>
      </div>
    </div>
  </form>

{% endblock %}
