{% extends "layout_20240905_ur.html" %}
{% block pageTitle %}
  Error: Add a note - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="10actionerror">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "17fast"
    }) }}
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You must add a note",
            href: "#actionaccounts"
          }
        ]
      }) }}
        {% include "templates/v7/govuk-caption-m.njk" %}
        {{ govukCharacterCount({
          name: "actionaccounts",
          id: "actionaccounts",
          maxlength: 3000,
          label: {
            text: "Add a note",
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
            hint: {
            html: "Describe what you've done: for example, 'I spoke to the reporter to get more information and chased up both witnesses.'"
          },
        errorMessage: {
          text: "You must add a note"
        }
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            href: "18prepared_bst"
          }) }}
        </div>
    </div>
  </div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/17note_bst__notes.njk" %}
	{% endif %}
{% endblock %}
