{% extends "layout_20240905_ur.html" %}
{% block pageTitle %}
  Original incident report - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  {% include "./templates/multi_caption1.njk" %}
  <h1 class="govuk-heading-xl">Original incident report</h1>
  <section aria-label="Incident overview" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="h2-overview"><span class="govuk-warning-text__assistive">Incident </span>Overview</h2>
          {% set assignHTML %}
          {% if data['20240429_inc1_actioned'] == "yes" %} Prepared{% else %}Decision pending{% endif %}: <br>{{data['20240422_youremail']}}

          {% endset %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Occurred",
                  classes: "govuk-!-width-one-half"
                },
                value: {
                  text: data['20240429_inc1_date'] + data['20240429_inc1_time'],
                  classes: "govuk-!-width-one-half"
                }
              },
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Reported"
                },
                value: {
                  text: data['20240429_inc1_date'] + data['20240429_inc1_time_reported']
                }
              },
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Interaction type" 
                },
                value: {
                  html:  data['20240429_inc1_interaction_type']
                }
              },
              {
                key: {
                  text: "Business line"
                },
                value: {
                  html: data['20240429_inc1_busline']
                }
              },
              {
                key: {
                  text: "Reporter is based at"
                },
                value: {
                  html: data['20240429_inc1_location']
                }
              },
              {
                key: {
                  text: "Where the incident happened"
                },
                value: {
                  html: data['20240429_inc1_location_type']
                }
              },
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Report reference"
                },
                value: {
                  html: "<span aria-hidden='true'>" + data['20240429_inc1_reference_prefix'] + "</span>"  + data['20240429_inc1_reference_chars']
                }
              },
              {
                key: {
                  html: "Assigned to"
                },
                value: {
                  html: assignHTML
                }
              }
            ]
          }) }}
          {% if not (data['20240429_inc1_discrimination'] == "None") %}
          {{ govukWarningText({
            text: "The reporter stated that the customer's behaviour involved discrimination.",
            iconFallbackText: "Warning"
          }) }}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section aria-label="Incident details" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l"><span class="govuk-warning-text__assistive">Incident</span> Details</h2>
          <p class="govuk-hint">The content in these sections is exactly as the original reporter wrote it.</p>
          <h3 class="govuk-heading-s">Tell us about the incident</h3>
          <p>{{data['20240429_inc1_details']}}</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true">
          <h3 class="govuk-heading-s">Do you feel the customer's behaviour was motivated by any type of discrimination?</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{data['20240429_inc1_discrimination']}}</li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true">
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Files attached to incident report" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-m" id="attached">There are no files attached to this incident report</h2>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Witnesses" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Witnesses</h2>
          <p>{{data['20240429_inc1_witnesses']}}</p>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Police action" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Police action</h2>
          <p class="govuk-body">{{data['20240429_inc1_police']}}</p>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Reviewing manager comments" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="manager_section">Reviewing manager comments and recommendations</h2>
          <p class="govuk-body">{{data['20240429_inc1_manager_report']}}</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true">
          <h3 class="govuk-heading-s">Contact manager</h3>
          {{ govukButton({
            html: 'Resend email request<span class="govuk-visually-hidden"> to manager ' + data['20240429_inc1_manager'] + '</span>',
            href: "#manager_section",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Business support comments" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Business support comments</h2>
          <p class="govuk-body">{{data['20240429_inc1_business_support_comments']}}</p>
        </div>
      </div>
    </div>
  </section>
  <script>
    
    Object.defineProperty(String.prototype, 'capitalize', {
  value: function() {
    var strLower = this.toLowerCase();
    return strLower.charAt(0).toUpperCase() + strLower.slice(1);
  },
  enumerable: false
});

  const str='asdOOOas.asdas@dfd';
  const namePart = str.split('@');

  const firstLastName = namePart[0].split('.');
  const readableName = firstLastName[0].capitalize() + " " + firstLastName[1].capitalize();
  console.log(readableName);
  </script>
  <section aria-label="Contact details" role="region">
    <div class="govuk-grid-row" id="contact_section">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Contact details</h2>
          {% if  not (data['2401_inc1_newmanager_email'] == '') %}        
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Original reporter",
                  classes: "govuk-!-width-one-half"
                },
                value: {
                  html: "<span class='govuk-visually-hidden'>Original reporter: </span>" + data['20240429_inc1_reporter'] + "<br>",
                  classes: "govuk-!-width-one-half"
                }
              },
              {
                key: {
                  text: "Reporter's email address"
                },
                value: {
                  text: data['20240429_inc1_reporters_email']
                }
              },
              {
                key: {
                  text: "Line manager"
                },
                value: {
                  html: data['20240429_inc1_manager']
                }
              },
              {
                key: {
                  text: "Line manager's email address"
                },
                value: {
                  html: data['20240429_inc1_managers_email']
                }
              },
              {
                key: {
                  text: "Acting manager"
                },
                value: {
                  html: data['2401_inc1_newmanager_email']
                }
              },
              {
                key: {
                  text: "Acting manager's email address"
                },
                value: {
                  html: data['2401_inc1_newmanager_email']
                }
              },
              {
                key: {
                  text: "Business support"
                },
                value: {
                  html: data['20240429_inc1_business_support']
                }
              },
              {
                key: {
                  text: "Business support's email address"
                },
                value: {
                  html: data['20240429_inc1_business_support_email']
                }
              }
            ]
          }) }}
          {% else %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Original reporter",
                  classes: "govuk-!-width-one-half"
                },
                value: {
                  html: "<span class='govuk-visually-hidden'>Original reporter: </span>" + data['20240429_inc1_reporter'] + "<br>",
                  classes: "govuk-!-width-one-half"
                }
              },
              {
                key: {
                  text: "Reporter's email address"
                },
                value: {
                  text: data['20240429_inc1_reporters_email']
                }
              },
              {
                key: {
                  text: "Manager"
                },
                value: {
                  html: data['20240429_inc1_manager']
                }
              },
              {
                key: {
                  text: "Manager's email address"
                },
                value: {
                  html: data['20240429_inc1_managers_email']
                }
              },
              {
                key: {
                  text: "Business support"
                },
                value: {
                  html: data['20240429_inc1_business_support']
                }
              },
              {
                key: {
                  text: "Business support's email address"
                },
                value: {
                  html: data['20240429_inc1_business_support_email']
                }
              }
            ]
          }) }}

          {% endif %}
          <form action="inc2_reassign"  class="form" method="post">
            <input type="hidden" name="20240429_current_report" value="incident2">
            {% include "./templates/assign1.njk" %}
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="govuk-button-group">
    <form action="03type" class="form" method="post">
      {{ govukButton({
      text: "Back to customer history",
      href: "02history_complex_multiple"
      }) }}&nbsp;
      {{ govukButton({
        text: "Prepare actions",
        classes: "govuk-button--secondary ds_link"
      }) }}
    </form>		
  </div>


{% endblock %}
