{% extends "layout_20240905_ur.html" %}
{% block pageTitle %}
  Action request - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-9">
          <h1 class="govuk-heading-xl">Action request</h1>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Date requested"
                },
                value: {
                  text: "1 March 2023"
                }
              },
              {
                key: {
                  text: "Requested by"
                },
                value: {
                  text: "Sadiq Assam"
                }
              },
              {
                key: {
                  text: "Action: Sarah Sencha"
                },
                value: {
                html: '<ul class="govuk-list govuk-list--bullet">
                        <li>Send a letter  <br>Send interim ban letter to the customer
                        </li>
                      </ul>
                      '
                }
              },
              {
                key: {
                  text: "Action: Sarah Sencha"
                },
                value: {
                html: '<ul class="govuk-list govuk-list--bullet">
                        <li>Issue a verbal warning</li>
                      </ul>'
                }
              },
              {
                key: {
                  text: "Action: Sadiq Assam"
                },
                value: {
                html: '<ul class="govuk-list govuk-list--bullet">
                        <li>Request a banning order</li>
                      </ul>'
                }
              }
            ]
          }) }}
        </div>
      </div>
      <section aria-label="Files attached to action" role="region">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
              <h2 class="govuk-heading-m" id="attached">There are no files attached to this action request</h2>

          </div>
        </div>
      </section>      
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "javascript:history.back()"
        }) }}
      </div>

  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/h_05action__notes.njk" %}
	{% endif %}
{% endblock %}
