{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
    
{% set ninoHTML %}
<span style='margin-right: .2em'>QQ</span><span style='margin-right: .2em'>12</span><span style='margin-right: .2em'>34</span><span style='margin-right: .2em'>56</span><span style='margin-right: .2em'>X</span>
{% endset %}

{{ dwpKeyDetailsBar({
    primaryIdentifier: {
        text: 'Customer name:',
        value: 'Robert De Silva'
    },

    secondaryIdentifier: {
        text: 'National Insurance number:',
        value: ninoHTML

    },
    additionalData: [
        {
            text: "Date of birth:",
            value: "4 June 1973"
        }
    ]
}) }}


