    <h2 class="govuk-heading-l">Making a report</h2>

    <p>Ask your manager or another colleague to report on your behalf.</p>
    <p>Or, go to <a href="">How do I report an incident on the Keep Customer Interactions Safe Service?</a> and complete the 'Clerical form to report an unsafe interaction' at the bottom of the page. Once complete, email this form to the email address on the form. </p>

    <p>You should be able to complete this form, even if you do not have the customer's National Insurance number or know their name. </p>
   
