<div>
    <h2 class="govuk-heading-m">Reporting form</h2>
    <p>To report an incident where you do not have the customer’s National Insurance number or you cannot search for the customer, you need to complete a <a href="https://intranet.dwp.gov.uk/file/1240521/download/Report%2520an%2520unsafe%2520interaction%2520clerical%2520form.docx/">clerical reporting form</a>. Open the form</a>, fill in the details of the incident, and send it to the email address at the bottom of the form.</p>
</div>
