<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">If you cannot identify the customer</h2>
    <p>Go to <a href="https://intranet.dwp.gov.uk/page/how-do-i-report-incident-keep-customer-interactions-safe-service">How do I report an incident on the Keep Customer Interactions Safe Service?</a> and complete the ‘Clerical form to report an unsafe interaction’ at the bottom of the page. Once complete, email this form to the email address on the form.</p>
    <p>You should complete this form, even if you do not have the customer’s National Insurance number or know their name.</p>
    </div>  
</div>
