{% set versions = [ 
  "../v2/c00overview",
  "../v3/00concern",
  "../v4/00concern",
  "../v5/00concern",
  "../v6/00concern",
  "../v7/00concern"
] %}



{{ govukPagination({

  items: [
    {
      number: 2,
      href: versions[0]
    },
    {
      number: 3,
      href: versions[1]
    },
    {
      number: 4,
      href: versions[2]
    },
    {
      number: 5,
      href: versions[3]
    },
    {
      number: 6,
      href: versions[4]
    },
    {
      number: 7,
      href: versions[5]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

