<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/13reassign_bst__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="13reassign_bst">Reassign BST</a> Used by business support to reassign to a business support colleague</li>
		<li><a href="13reassign_bst_error">Reassign BST</a> x3 errors </li>
	</ul>
<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Does not allow you to make a note - this will be dealt with by talking to colleague to hand over the case</li>
		<li>Use only to reassign to a business support colleague</li>
		<li>Must reassign directly to colleague (no status change required)</li>
		<li>Navigate straight back to start page (for simplicity)</li>
		<li>Must be a member of the Business support Task group (meaning the Searchlight group and 2 Tasks groups must be manually synchronised)</li>
		<li>Page title changed to lower case</li>
		<li>Dev story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19162">Discover: Business Support - Assign Case to Individual Business Support colleague</a></li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li>Need: Work on multiple cases</li>
				<li>Pain: Manually managing their workflow</li>
				<li>Pain relievers: Automate workflow and task managing</li>
			</ul>
	</ul>

{% set journeyNotesHTMLDecision_v3 %}
	{% include "beta/decision/notes/v3__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v3 Journey level design notes",
	html: journeyNotesHTMLDecision_v3
}) }}
