<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/h_04measures__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="h_04measures">View measures detail</a></li>
		<li><a href="h_04measures_notactive">View measures detail - not active (no review date)</a></li>
		<li><a href="h_04measures_none">View measures detail - none active</a></li>
		<li><a href="h_04measures_none_notactive">View measures detail - none not active</a></li>
	</ul>
<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Dev story: <a href="https://dwpdigital.atlassian.net/browse/CITI-17755">Safeguarding History - View Measures Detail</a></li>
		<li>If measures "not active" or "None" do not show review date</li>
		<li>Show captured email for one version for "Must only interact with a named member of staff"</li> 
		<li>Measures summary list full width</li>
		<li>Measures explanation 2/3 width</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
	</ul>
	
{% set journeyNotesHTMLDecision_v3 %}
	{% include "beta/decision/notes/v3__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v3 Journey level design notes",
	html: journeyNotesHTMLDecision_v3
}) }}	