<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/incident_manager_journey/_versions/01landingpage2_manager__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="01landingpage2_manager">1. Your reports	</a><br>
</ul>
<h4 class="govuk-heading-s">v4 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>A more <a href="/beta/common/landing/v3/01landingpage1_manager_complex">complete design for this page</a> is in the common section where more item types are shown</li>
		<li>See <a href="/beta/common/home_collection">Home page collection</a> for similar pages pointing out similarities and differences</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133320245598">Managers were unclear about which actions enumerated actions referred to</a>: <br>added one word description  (eg "letter")</li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133318738826">Managers understood the concept of 'To-do' and 'Completed' lists</a>: list removed</li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133320311063">Managers did not demonstrate a need to refer to items in the 'Completed' list</a>: list removed</li>		
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Submit Incident Manager Report</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/incident_manager_journey/notes/v4__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v4 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	