<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/incident_manager_journey/_versions/06sent__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
<a href="06sent-1colleague">1. Email sent to someone with access to the KCIS service to complete their own witness report</a><br>
<a href="06sent-2colleagueonbehalf">2. Email sent to someone with access to the KCIS service to complete witness report on behalf of somebody else</a><br>
<a href="06sent-3youonbehalf">3. Email sent to you to complete witness report on behalf of somebody else</a><br>
<a href="06sent-4you">4. Email sent to you</a><br>
</ul>
<h4 class="govuk-heading-s">v6 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>No Back link because it will not work (end of journey)</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Submit Incident Manager Report</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/incident_manager_journey/notes/v6__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v6 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	