<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/incident_manager_journey/_versions/d02decision__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="d02decision">1. View decision</a><br>
	<a href="d02decision_noactions">2. View decision - no actions</a><br>
	<a href="d02decision_letter">3. View decision - letter attached</a><br>
	<a href="d02decision_notactive">4. View decision - historic</a><br>
</ul>
<h4 class="govuk-heading-s">v6 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-23738">Manager: Display Decision Ban Location</a></li>
		<li>Added location/details for bans/interdict</li>
		<li>Incident date (as entered by the reporter - not the reported date) and Decision date to explain the Incident date being used in the KCIS list</li>
		<li>This page does not exist for concerns </li>
		<li>Historic view because another decision may have been made but it is only relevant to see the measures applied at this time but they will have been superseded. Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-22251">Manager: View historic decisions</a> - relates to historic measures</li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-23738">Manager: Attach Letter to Action Request 3 - Deliver Action & Decision</a></li>
		<li>Action format same for Decision Maker</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Pain reliever: Notify of outcome and explain</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/incident_manager_journey/notes/v6__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v6 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	