<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/history/_versions/02incident__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="02incident_best">Incident: best Complex</a></li>
		<li><a href="02incident_best_simple">Incident: best simple</a></li>
		<li><a href="02incident_good">Incident: good Complex</a></li>	</li>
		<li><a href="02incident_good_simple">Incident: good simple</a></li>
	</ul>
<h4 class="govuk-heading-s">v5 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Development story: <a href="https://dwpdigital.atlassian.net/browse/CITI-17742">17742 Build: View Concern Summary in Safeguarding History</a></li>
		<li>Extension to incident manager view incident page</li>
		<li>replaces <a href="/beta/examine/v7/00incident">v7 tabbed examine incident</a> - easier to understand / code / accessible / one thing per page</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain: Inefficient processes and missing SLAs</li>
			<li>Pain: The number of reviews needing doing</li>
		</ul>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain relievers: Single source of truth</li>
		</ul>
	</ul>
