{% extends "layout.html" %}

{% block pageTitle %}
Prepare for meeting with customer - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Phase banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
{% include "templates/v7/key_details_red.njk" %}
<section aria-label="Back" role="region">
{{ govukBackLink({
text: "Back to Searchlight home",
href: "/"
}) }}
</section>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl" id="page-title">Prepare for a meeting with a customer</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="page-title">Active measures</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Must be seen in a screened area</li>
      <li>No home visits</li>
    </ul>

    <h2 class="govuk-heading-l">Other customers with active measures who currently live at this postcode</h2>

{{ govukSummaryList({
  card: {
    title: {
      text: "John Doe"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "View history",
          visuallyHiddenText: "for John Doe"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Address"
      },
      value: {
        html: "129 Acascia Drive, Borehamchester, Surreyham SH1 SPD, UK"
      }
    }
  ]
}) }}
{{ govukSummaryList({
  card: {
    title: {
      text: "Anne Other"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "View history",
          visuallyHiddenText: "for Anne Other"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Address"
      },
      value: {
        html: "129 Acascia Drive, Borehamchester, Surreyham SH1 SPD, UK"
      }
    }
  ]
}) }}
{{ govukSummaryList({
  card: {
    title: {
      text: "Mea Too"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "View history",
          visuallyHiddenText: "For Mea Too"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Address"
      },
      value: {
        html: "1 Very Close, Muncham, Morely SH1 SPD, UK"
      }
    }
  ]
}) }}

    {{ govukButton({
      text: "Back to Searchlight home",
      href: "#"
    }) }}
  </div>
</div>

	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/01interaction__notes.njk" %}
	{% endif %}
{% endblock %}
