<span class="govuk-caption-m">
    <strong class='kcis-caption-incidenttype'>Incident type not available</strong><br>
    <span class='kcis-caption-incidenttype'>Incident date and time: Not available</span><br>
    <span class='govuk-body-s kcis-caption-reportedby'>Reported by name not available, date not available</span>
</span>