<ul class="govuk-list govuk-list--bullet">
	<li>Moved details of discrimination into details tab</li>
	<li>Continued view incident development on <a href="/beta/decision/v1/01landingpage1_ready">Make decision journey v1</a> removing tabs for simplicity</li>
	<ul>
		<li><a href="/beta/decision/v1/h_02incident_best">Incident v1</a></li>
		<li><a href="/beta/decision/v1/h_03concern_best">Concern v1</a></li>
	</ul>
</ul>