		<div class="govuk-width-container ">
			<br>
			<br>
			<br>
			<br>
			<br>
			<hr>
			<br>
			<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
			<h4 class="govuk-heading-s">Versions</h3>
			{% include "../../_versions/00footer__versions.njk" %}			
			<h4 class="govuk-heading-s">States</h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/common/footer/v1/00footer">00 footer</a> - First version with footer</li>
			</ul>
			<h4 class="govuk-heading-s">v1 Design notes</h3>
				<ul class="govuk-list govuk-list--bullet">
					<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-21237">KCIS User: Accessibility statement</a></li>
				</ul>
			<h4 class="govuk-heading-s">Hypotheses</h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#safeguarding_user">Safeguarding user canvas</a></li>
			</ul>
			{% set journeyNotesHTML %}
				{% include "beta/common/footer/notes/v1__notes.njk" %}
			{% endset %}
			{% from "govuk/components/details/macro.njk" import govukDetails %}
			{{ govukDetails({
				summaryText: "v1 Journey level design notes",
				html: journeyNotesHTML
			}) }}						

		</div>

