<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/incident_manager_journey/_versions/d02decision__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="d02decision">1. View decision</a><br>
	<a href="d02decision_noactions">2. View decision - no actions</a><br>
	<a href="d02decision_notactive">2. View decision - historic</a><br>
</ul>
<h4 class="govuk-heading-s">v4 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19183">Manager: Access Outcome of Decision</a> - do not include actions section on this story (another story will be raised).</li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-22536">Manager: Add Actions to View Decision</a> - include actions </li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-22251">Manager: View historic decisions</a> - measures at the time of decision</li>
		<li>Incident date (as entered by the reporter - not the reported date) and Decision date to explain the Incident date being used in the KCIS list</li>
		<li>This page does not exist for concerns </li>
		<li>Historic view because another decision may have been made but it is only relevant to see the measures applied at this time but they will have been superseded. </li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Pain reliever: Notify of outcome and explain</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/incident_manager_journey/notes/v4__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v4 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	