{% extends "layout.html" %}
{% block pageTitle %}
  Original incident report - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  {% include "./templates/govuk-caption-m-whitney.njk" %}
  <h1 class="govuk-heading-xl">Original incident report</h1>
  <section aria-label="Incident overview" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="h2-overview"><span class="govuk-warning-text__assistive">Incident </span>Overview</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Occurred",
                  classes: "govuk-!-width-one-half"
                },
                value: {
                  text: "1 March 2023 at 9:00am",
                  classes: "govuk-!-width-one-half"
                }
              },
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Reported"
                },
                value: {
                  text: "1 March 2023 at 9:30am"
                }
              },
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Interaction type"
                },
                value: {
                  html: "Telephone"
                }
              },
              {
                key: {
                  text: "Incident location"
                },
                value: {
                  html: "The office you're based at"
                }
              },
              {
                key: {
                  html: "<span class='govuk-visually-hidden'>Incident </span>Report reference"
                },
                value: {
                  html: "<span aria-hidden='true'>INC-</span>000-456-234"
                }
              }
            ]
          }) }}
          {{ govukWarningText({
            text: "The reporter stated that the customer's behaviour involved discrimination.",
            iconFallbackText: "Warning"
          }) }}
        </div>
      </div>
    </div>
  </section>

  <section aria-label="Incident details" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l"><span class="govuk-warning-text__assistive">Incident</span> Details</h2>
          <p class="govuk-hint">The content in these sections is exactly as the original reporter wrote it.</p>
          <h3 class="govuk-heading-s">Tell us about the incident</h3>
          <p class="govuk-body">I contacted the customer as he wished to make a complaint regarding his recent appointment in the Job Centre. Customer felt that he had not been treated fairly as he was English and we are in Wales. Customer would not let me speak to explain the reason for the appointment and why the Work Coach had asked him to supply additional information.
          </p>
          <p class="govuk-body">Customer continued to talk over me and called me racist, he advised that had he come over by boat he would be given better treatment or if he was a druggie he would be given additional money. I tried to calm the customer down but he continually spoke. I asked him to listen to me and what I was trying to tell him but he would not. I terminated the call. This isn't the first time I have had dealings with this customer both via telephone and face to face. He tries to intimidate by not letting you speak. I did feel a little intimidated by him but more frustration.
          </p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true">
          <h3 class="govuk-heading-s">Do you feel the customer's behaviour was motivated by any type of discrimination?</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Race including colour, nationality, ethnic or national origin</li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true">
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Files attached to incident report" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="attached">Files attached to incident report</h2>
          {{ govukWarningText({
            text: "These attachments may contain inappropriate content or images",
            iconFallbackText: "Warning"
          }) }}
          {{ govukTable({
            captionClasses: "govuk-table__caption--l",
            head: [
              {
                text: "File name",
                classes: 'govuk-!-width-one-half'
              },
              {
                text: "Action"
              }
            ],
            rows: [
              [
                {
                  html: "<span class='govuk-visually-hidden'>File name: </span>emailtome.doc"
                },
                {
                  html: "<a href='/public/images/screen_shot.png' role='button' draggable='false' class='govuk-button govuk-button--secondary ' data-module='govuk-button' download>Download file<span class='govuk-visually-hidden'>emailtome.doc</span></a>"
                }
              ],
              [
                {
                  html: "<span class='govuk-visually-hidden'>File name: </span>screen_shot.png"
                },
                {
                  html: "<a href='/public/images/screen_shot.png' role='button' draggable='false' class='govuk-button govuk-button--secondary ' data-module='govuk-button' download>Download file<span class='govuk-visually-hidden'>screen_shot.png</span></a>"
                }
              ],
              [
                {
                  html: "<span class='govuk-visually-hidden'>File name: </span>letter_l.pdf"
                },
                {
                  html: "<a href='/public/images/screen_shot.png' role='button' draggable='false' class='govuk-button govuk-button--secondary ' data-module='govuk-button' download>Download file<span class='govuk-visually-hidden'>letter_l.pdf</span></a>"
                }
              ]
            ]
          }) }}
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Witnesses" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Witnesses</h2>
          <p>There are currently no witnesses to this incident.</p>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Police action" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Police action</h2>
          <p class="govuk-body">The relevant manager has not yet submitted a report.</p>
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Reviewing manager comments" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="manager_section">Reviewing manager comments and recommendations</h2>
          <p class="govuk-body">The relevant manager has not yet submitted a report.</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true">
          <h3 class="govuk-heading-s">Contact manager</h3>
          {{ govukButton({
            html: 'Resend email request<span class="govuk-visually-hidden"> to manager Sarah Sencha</span>',
            href: "#manager_section",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </div>
    </div>
  </section>
  <section aria-label="Business support comments" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Business support comments</h2>
          <p class="govuk-body">Business support have not yet commented.</p>
        </div>
      </div>
    </div>
  </section>
    <section aria-label="Contact details" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Contact details</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Original reporter",
                  classes: "govuk-!-width-one-half"
                },
                value: {
                  html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney&nbsp;Earl<br>",
                  classes: "govuk-!-width-one-half"
                }
              },
              {
                key: {
                  text: "Reporter's email address"
                },
                value: {
                  text: "whitney.earl@dwp.gov.uk"
                }
              },
              {
                key: {
                  text: "Manager"
                },
                value: {
                  html: "Sarah Sencha"
                }
              },
              {
                key: {
                  text: "Manager's email address"
                },
                value: {
                  html: "sarah@dwp.gov.uk"
                }
              }
            ]
          }) }}
        </div>
      </div>
    </div>
  </section>
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Back to customer history",
      href: "02history_complex"
    }) }}
  </div>

  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/h_02incident_best_simple__notes.njk" %}
	{% endif %}
{% endblock %}
