<ul class="govuk-list govuk-list--bullet">
	<li>Initial journey allows for simultaneous reporting by primary reporter and witness</li>
	<li>Similar journey to reporting journey</li>
</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#witness">Witness user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Reactively submit witness report</li>
		</ul>
</ul>