<ul class="govuk-list govuk-list--bullet">
	<li>Add key details banner</li>
	<li>Change of page flow to require the manager to invite witnesses to existing incident siimplifies this journey
		<ul class="govuk-list govuk-list--bullet">
			<li>Add confirm details page</li>
			<li>Removed manual NINo page</li>
			<li>Removed simultaneous reporting page</li>
			<li>Removed line manager details</li>
			<li>Removed interaction type</li>
			<li>Removed location</li>
		</ul>
	</li>
</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#witness">Witness user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Reactively submit witness report</li>
		</ul>
</ul>