<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/emails/_versions/k__versions.njk" %}

<h4 class="govuk-heading-s">v2 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Removed reference to 48hours and additional information</li>
		<li>K - Ref: d1502e65-dc3f-4606-84b6-0eba2745e492</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
	</ul>
