<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01landing__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="01landingpage1_blank">1. Landing page - Decision makers/Business Support first time through - no incidents</a></li>
		<li><a href="01landingpage1_nmready">2. Landing page - Decision makers - ready to make decision vA</a></li>
		<li><a href="01landingpage1_nmready_warning">3. Warning: Landing page - Decision makers - vA timeout</a></li>
		<li><a href="01landingpage1_btsready">4. Landing page - Business Support - ready to prepare case</a></li>
		<li><a href="01landingpage1_jsfallback">5. Landing page - JS fallback if JS not enabled</a></li>
		<li><a href="01landingpage1_unavailable">6. Landing page - Task service unavailable</a></li>
</ul>
<h4 class="govuk-heading-s">v5 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/browse/CITI-19944">Decision Maker - See Number of Tasks</a> </li>
		<ul class="govuk-list govuk-list--bullet">
			<li><strong>Timeout / Inaccurate display</strong> - This page does not refresh. Therefore both the report list and the unassigned cases may go stale. Accessibility requires that the user stays in control so an automatic refresh cannot be used (push/http-equiv="refresh/JS timed refresh considered and rejected). This would also mean that this page will never time out which we cannot allow. A JavaScript timer can be used to alert the user but a fallback must be provided.	</li>
		<li>Note: This is a different page from case reviewers landing page. They must be separate for technical performance</li>
		</ul>		
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain: Inefficient processes and missing SLAs</li>
			<li>Pain: The number of reviews needing doing</li>
		</ul>
	</ul>
{% set journeyNotesHTMLDecision_v5 %}
	{% include "beta/decision/notes/v5__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v5 Journey level design notes",
	html: journeyNotesHTMLDecision_v5
}) }}	