<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h4>
{% include "../../_versions/21eventinfo__versions.njk" %}

<h4 class="govuk-heading-s">States</h4>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="21note">Add note</a></li>
		<br>
		<li><a href="21eventinfo-pending">Information update (pending)</a></li>
		<li><a href="21eventinfo">Information update</a></li>
		<br>
		<li><a href="21actionupdate-pending">Action update (pending)</a></li>
		<li><a href="21actionupdate">Action update</a></li>

		</li>
	</ul>
<h4 class="govuk-heading-s">v5 Design notes</h4>
	<ul class="govuk-list govuk-list--bullet">
		<li>First version</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h4>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
	</ul>
	
{% set journeyNotesHTMLDecision_v5 %}
	{% include "beta/decision/notes/v5__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v5 Journey level design notes",
	html: journeyNotesHTMLDecision_v5
}) }}	


