{% for item in data["2401_applymeasures1"] %}
  {{ item }}{% if not ((item == data["2401_applymeasures1"] | last) and (data["2401_applymeasures2"] == "") and (data["2401_applymeasures3"] == "")) %}, {% endif %}
{% endfor %}             
{% for item in data["2401_applymeasures2"] %}
  {{ item }}{% if not ((item == data["2401_applymeasures2"] | last) and (data["2401_applymeasures3"] == "")) %}, {% endif %}
{% endfor %}             
{% for item in data["2401_applymeasures3"] %}
  {{ item }}{% if not (item == data["2401_applymeasures3"] | last) %}, {% endif %}
{% endfor %}     
         
{% if data["2401_applymeasures1"] == "" and data["2401_applymeasures2"] == "" and data["2401_applymeasures3"] == "" %} 
  <li>None</li>
{% endif %} 