<ul class="govuk-list govuk-list--bullet">
	<li><a href="/beta/report_incident/reportv11/05when-date">Date</a> and <a href="/beta/report_incident/reportv11/06when-time">Time</a> - Split date and time page. Date can use "Today" for most cases to reduce transaction cost/time. (Check your answers needs to change to suit) </li>
	<li><a href="/beta/report_incident/reportv11/03acting_manager">Appropriate manager</a> - Remove line manager page to use Active Directory lookup instead. This means altering appropriate manager and Check your answers.</li>
	<li><a href="/beta/report_incident/reportv11/12check_simple">Check your answers</a> - to include full pattern "Change" link</li>
</ul>

