<ul class="govuk-list govuk-list--bullet">
	<li>Incident type -  removed from journey. </li>
	<li><a href="/beta/report_incident/reportv4/02report">Interaction type</a> - </li>
	<ul>
		<li>Reinstated to journey.</li>
		<li>Added hint text</li>
		<li>Changed order</li>
		<li>Changed to "In person"</li>
		<li>Page title</li>
	</ul>
</ul>