<ul class="govuk-list govuk-list--bullet">
	<li>Key details banner (similar to Searchlight) - Added to all pages</li>
	<li><a href="/beta/report_incident/reportv6/01report">Report type</a> - Page added</li>
	<li><a href="/beta/report_incident/reportv6/02report">On behalf of</a> - Page added</li>
	<li><a href="/beta/report_incident/reportv6/03report	">Line manager</a> - Page added</li>	
	<li><a href="/beta/report_incident/reportv6/acting_managerv1">Acting manager</a> - Page added</li>
	<li><a href="/beta/report_incident/reportv6/05report">Interaction type</a> - Reinstated (No change)</li>
	<li><a href="/beta/report_incident/reportv6/06report">Location</a> - Page added</li>
	<li><a href="/beta/report_incident/reportv6/07report">Discrimination</a> - Page added</li>
	<li><a href="/beta/report_incident/reportv6/08report">Description</a> - Removed swear words in examples as these made users uncomfortable (feedback at sprint review demo)</li>
	<li><a href="/beta/report_incident/reportv6/09report">Confirmation</a> - </li>
	<ul>
		<li>Reference number added</li>
		<li>Email contact enabled</li>
		<li>Added PAM assist</li>
		<li>Removed reference to Nominated Managers</li>
		<li>Revised time taken fill survey</li>
	</ul>

</ul>