<ul class="govuk-list govuk-list--bullet">
	<li>All pages - Refactored prototype code to use standard page layout - Header/footer, 2/3 width, service name change</li>
	<li>All pages - Refactored prototype code to use nunjucks (including continue button style, key details, back link)</li>
	<li>Customer confirmation - Remove identifying NINo page</li>
	<li><a href="/beta/report_incident/reportv9/00reporter">Your details</a> - page added</li>
	<li><a href="/beta/report_incident/reportv9/09describe">Describe</a> - Improved accessibility</li>
	<li><a href="/beta/report_incident/reportv9/12check">Check your answers</a> - page added</li>
	<li><a href="/beta/report_incident/reportv9/11a_upload">Upload files</a> - various minor enhancements</li>
</ul>