{# Incident type #}
{% set versions = [ 
  "../reportv1/01report",
  "../reportv2/01report",
  "../reportv3/02report",
 "../reportv5/02report"
] %}



{{ govukPagination({

  items: [
    {
      number: 1,
      href: versions[0]
    },
    {
      number: 2,
      href: versions[1]
    },
    {
      number: 3,
      href: versions[2]
    },
    {
      number: 5,
      href: versions[3]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

