{% set versions = [ 
  "../reportv6/02report",
  "../reportv7/02report",
  "../reportv8/02report",
  "../reportv9/02behalf",
  "../reportv10/02behalf",
  "../reportv11/02behalf",
  "../reportv12/02behalf"
] %}



{{ govukPagination({

  items: [
    {
      number: 6,
      href: versions[0]
    },
    {
      number: 7,
      href: versions[1]
    },
    {
      number: 8,
      href: versions[2]
    },
    {
      number: 9,
      href: versions[3]
    },
    {
      number: 10,
      href: versions[4]
    },
    {
      number: 11,
      href: versions[5]
    },
    {
      number: 12,
      href: versions[6]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

