{% set versions = [ 
  "../reportv6/03report",
  "../reportv7/03report",
  "../reportv8/03reportb",
  "../reportv9/03line_manager",
  "../reportv10/03line_manager"
] %}



{{ govukPagination({

  items: [
    {
      number: 6,
      href: versions[0]
    },
    {
      number: 7,
      href: versions[1]
    },
    {
      number: 8,
      href: versions[2]
    },
    {
      number: 9,
      href: versions[3]
    },
    {
      number: 10,
      href: versions[4]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

