{% set versions = [ 
  "../reportv1/02report",
  "../reportv2/02report",
  "../reportv3/01report",
  "../reportv4/01report",
  "../reportv5/01report",
  "../reportv6/04report",
  "../reportv7/04report",
  "../reportv8/04report",
  "../reportv9/06when",
  "../reportv10/06when",
  "../reportv11/05when-date",
  "../reportv12/05when-date"
] %}



{{ govukPagination({

  items: [
    {
      number: 1,
      href: versions[0]
    },
    {
      number: 2,
      href: versions[1]
    },
    {
      number: 3,
      href: versions[2]
    },
    {
      number: 4,
      href: versions[3]
    },
    {
      number: 5,
      href: versions[4]
    },
    {
      number: 6,
      href: versions[5]
    },
    {
      number: 7,
      href: versions[6]
    },
    {
      number: 8,
      href: versions[7]
    },
    {
      number: 9,
      href: versions[8]
    },
    {
      number: 10,
      href: versions[9]
    },
    {
      number: 11,
      href: versions[10]
    },
    {
      number: 12,
      href: versions[11]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

