{% set versions = [ 
  "../reportv8/attachv1",
  "../reportv9/11a_upload",
  "../reportv10/11a_upload",
  "../reportv11/11a_upload",
  "../reportv12/11a_upload"
] %}



{{ govukPagination({

  items: [
    {
      number: 8,
      href: versions[0]
    },
    {
      number: 9,
      href: versions[1]
    },
    {
      number: 10,
      href: versions[2]
    },
    {
      number: 11,
      href: versions[3]
    },
    {
      number: 12,
      href: versions[4]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

