{% set versions = [ 
  "../reportv9/12check",
  "../reportv10/12check_simple",
  "../reportv11/12check_simple",
  "../reportv12/12check_simple"
] %}



{{ govukPagination({

  items: [
    {
      number: 9,
      href: versions[0]
    },
    {
      number: 10,
      href: versions[1]
    },
    {
      number: 11,
      href: versions[2]
    },
    {
      number: 12,
      href: versions[3]
    }
  ]
}) }}


{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}

