{% extends "layout.html" %}
{% block pageTitle %}
    Start of journey
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">SPOCs</h1>
    <p class="govuk-body">27 February 2024</p>
    <h2 class="govuk-heading-l">Prepare for interaction</h2>
    <p class="govuk-body"><a href="/beta/_UR/20240227/1-nomeasures/00searchlight">1. Prepare - no measures</a></p>
    <p class="govuk-body"><a href="/beta/_UR/20240227/2-measures/00searchlight">2. Prepare - measures</a></p>
    <h2 class="govuk-heading-l">Customer history</h2>
    <p class="govuk-body"><a href="/beta/_UR/20240227/5-inc/00searchlight">3. Customer history - incident</a></p>
    <p class="govuk-body"><a href="/beta/_UR/20240227/6-dec/00searchlight">4. Customer history - decision</a></p>
    <p class="govuk-body"><a href="/beta/_UR/20240227/7-act/00searchlight">5. Customer history - action</a></p>
    <p class="govuk-body"><a href="/beta/_UR/20240227/8-complex/00searchlight">6. Customer history - complex</a></p>
    <p class="govuk-body">7. Customer history - Print to PDF</p>
    


{% endblock %}
