{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Which actions must be taken? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Set the buttons to return to Check your answers page it cam from else carry on with flow-->

      {% include "./templates/multi_caption2.njk" %}
      {% if data['Referrer'] %}
        {% if data['Referrer'].includes('11check_good_multi') %}
          <form class="form" action="11check_good_multi?t={{data['Timenow']}}" method="post">
            {% set buttonHTML %}
            <button class="govuk-button" data-module="govuk-button">
              Save changes
            </button>
            {{ govukButton({
              text: "Cancel",
              href: "11check_good_multi",
              classes: "govuk-button--secondary"
            }) }}
            {% endset %}
        {% elif data['Referrer'].includes('11check_good2') %}
          <form class="form" action="11check_good2?t={{data['Timenow']}}" method="post">
            {% set buttonHTML %}
              <button class="govuk-button" data-module="govuk-button">
                Save changes
              </button>
              {{ govukButton({
                text: "Cancel",
                href: "11check_good2",
                classes: "govuk-button--secondary"
              }) }}          
            {% endset %}          
        {% else %}
          <form class="form" action="05letter2" method="post">
            {% set buttonHTML %}
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            {% endset %}          
        {% endif %}
      {% endif %}



        {% set letterHtml %}
          {{ govukTextarea({
            name: "2401_letter_detail2",
            id: "2401_letter_detail2",
            value:  data['2401_letter_detail2'],
            label: {
              text: "Type of letter",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example: First warning letter about written abuse in journal."
            }
          }) }}
        {% endset -%}
      <!-- Set the checkbox true false to be null-tolerant -->

        {% if data['2401_actions2'] %}
          {% if data['2401_actions2'].includes("Send a letter") %}
            {% set letterChecked = true %}
          {% else %}
            {% set letterChecked = false %}
          {% endif %}

          {% if data['2401_actions2'].includes("Issue a verbal warning") %}
            {% set warningChecked = true %}
          {% else %}
            {% set warningChecked = false %}
          {% endif %}

          {% if data['2401_actions2'].includes("Interview by a manager") %}
            {% set interviewChecked = true %}
          {% else %}
            {% set interviewChecked = false %}
          {% endif %}

          {% if data['2401_actions2'].includes("Request solicitor to send a letter") %}
            {% set solicitorChecked = true %}
          {% else %}
            {% set solicitorChecked = false %}
          {% endif %}

          {% if data['2401_actions2'].includes("Request a banning order") %}
            {% set banChecked = true %}
          {% else %}
            {% set banChecked = false %}
          {% endif %}

        {% endif %}

        {{ govukCheckboxes({
          idPrefix: "2401_actions2",
          name: "2401_actions2",
          fieldset: {
            legend: {
              text: "Which actions must be taken?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all the actions that must be taken to keep your colleagues safe."
          },
          items: [
            {
              value: "Send a letter",
              text: "Send a letter",
              checked: letterChecked,
              conditional: {
                html: letterHtml
              }
            },
            {
              value: "Issue a verbal warning",
              text: "Issue a verbal warning",
              checked: warningChecked
            },
            {
              value: "Interview by a manager",
              text: "Interview by a manager",
              checked: interviewChecked
            },
            {
              value: "Request solicitor to send a letter",
              text: "Request solicitor to send a letter",
              checked: solicitorChecked
            },
            {
              value: "Request a banning order",
              text: "Request a banning order",
              checked: banChecked
            }
          ]
        }) }}


        <div class="govuk-button-group">
          {{ buttonHTML|safe }}
      </form>
    </div>
  </div>

{% endblock %}
