{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% include "./templates/multi_caption2_green.njk" %}<br>
<h1 class="govuk-heading-xl">Check your answers</h1>
    <div class="govuk-!-margin-bottom-9">


      <style>
        .ds_link {
              background:#fff;
              border: 0;
              display: inline;
              font-size: inherit;
              font-weight: inherit;
              line-height: initial;
              margin: 0;
              min-height: 0;
              min-width: 0;
              padding: 0;
              text-align: left;
          }
          a, .ds_link {
              color: #0065bd;
              text-decoration: underline;
              outline: 0px solid rgba(0, 0, 0, 0);
              text-underline-offset: 1px;
              transition: color .2s, background-color .2s, outline-color .2s;
              box-shadow: 0 0px 0 #fff;
          }
          
          .ds_link:hover {
            background:#fff;
            box-shadow: 0 1px 0 #000;
            text-decoration: underline;
            text-underline-offset: 1px;
          }
        
      </style>

      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Measures
          </dt>
          <dd class="govuk-summary-list__value">
            <li>Must be seen in a screened area</li>
            <li>Must only interact with a named member of staff <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff member: whitney@dwp.gov.uk</li>
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="03type2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasons for applying measures
          </dt>
          <dd class="govuk-summary-list__value">
            The customer has involuntary physical movements and so should be seen in a screened environment with the same staff member. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="03type2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Measures review date
          </dt>
          <dd class="govuk-summary-list__value">
            12 months
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="03type2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>
        <br><br>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident type
          </dt>
          <dd class="govuk-summary-list__value">
            Physical assault
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="03type2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident cause
          </dt>
          <dd class="govuk-summary-list__value">
            An issue with payment
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="04trigger2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Actions for Sarah Sencha<br><span class="govuk-body">(Manager)</span>
          </dt>
          <dd class="govuk-summary-list__value">
              <li>Send a letter</li>
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05actions2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Actions for David Cassidy <br><span class="govuk-body">(Decision maker)</span>
          </dt>
          <dd class="govuk-summary-list__value">
            {% include "./templates/action_list_dm2.njk" %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05actions2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Letter to be sent by
          </dt>
          <dd class="govuk-summary-list__value">
       Manager
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="05d_wholetter2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Note for {{data['20240429_inc2_manager']}}<br><span class="govuk-body">(Manager)</span>
          </dt>
          <dd class="govuk-summary-list__value">
            Please arrange additional training for the work coach involved.
          </dd>
          <dd class="govuk-summary-list__actions">
            <form action="09prepare_single_man2" class="form" method="post">
              {{ govukButton({
                text: "Change",
                classes: "govuk-button--secondary ds_link"
              }) }}
            </form>
          </dd>
        </div>

      </dl>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Have you finished preparing this report?</h2>
    
        <p class="govuk-body">If you need to change anything, select 'Change' next to each answer or use the back link near the top of this page.</p>
        <p>Select 'Complete report preparation' to complete the preparation of this report only. <strong>This will not publish your decision.</strong></p>
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>'Complete report preparation' for all live reports then add measures, publish and close your report. </p>
        <form action="12confirmation2" class="form" method="post">
          <input type="hidden" id="20240429_inc2_status" name="20240429_inc2_status" value="Prepared" >
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Publish actions and measures. Close decision",
              href: "19multiple?"
            }) }}
          </div>
          <input type="hidden" id="20240429_inc2_actioned" name="20240429_inc2_actioned" value="yes">
        </form>

      </div>
    </div>

{% endblock %}
