{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  Actions - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-9">
          <h1 class="govuk-heading-xl">Actions Request</h1>
          {% set yournameHTML %}
             Action for {{data['20240422_yourname']}} <br><span class="govuk-body">(Decision maker)</span>
          {% endset %}
          {% set youractionsHTML %}
            <ul class="govuk-list govuk-list--bullet">
              {% include "./templates/action_list_dm_combined.njk" %}
            </ul>
          {% endset %}

          {% set man1HTML %}
            Action for {{data['20240429_inc1_manager']}} <br><span class="govuk-body">(Manager)</span>
            {% endset %}
          {% set man1ActionHTML %}
              {% include "./templates/action_list_manager.njk" %}
          {% endset %}

          {% set man2HTML %}
          Action for {{data['20240429_inc2_manager']}} <br><span class="govuk-body">(Manager)</span>
          {% endset %}
          {% set man2ActionHTML %}
              {% include "./templates/action_list_manager2.njk" %}
          {% endset %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date requested
              </dt>
              <dd class="govuk-summary-list__value">
                16 July 2024
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Requested by
              </dt>
              <dd class="govuk-summary-list__value">
               David Cassidy
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action: Sarah Sencha 
              </dt>
              <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                      <h2 class="govuk-heading-s" style="margin-bottom: 0px">Interview by a manager</h2>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <h3 class="govuk-heading-s"  style="margin-bottom: 0px"><span class="govuk-tag">Requested:</span> </h3>
                      <p>16 July 2024</p>
                    </dd>
                  </div>
                </dl>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action for Sarah Sencha <br><span class="govuk-body">(Manager)</span>
              </dt>
              <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        <h2 class="govuk-heading-s" style="margin-bottom: 0px">Send a letter</h2>
                        <p class="govuk-body">First warning letter</p>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <h3 class="govuk-heading-s "  style="margin-bottom: 0px"><span class="govuk-tag govuk-tag--red">I didn't do it:</span> </h3>
                        <p>16 July 2024</p>
                        <h3 class="govuk-heading-s"  style="margin-bottom: 0px">Outcome: </h3>
                        <p>Could not send letter because we have not printing facilities</p>
                    </dd>
                  </div>
                </dl>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Action for David Cassidy <br><span class="govuk-body">(Decision maker)</span>
              </dt>
              <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                      <h2 class="govuk-heading-s" style="margin-bottom: 0px">Request a banning order</h2>
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <h3 class="govuk-heading-s"  style="margin-bottom: 0px">Completed: </h3>
                      <p>16 July 2024</p>
                      <h3 class="govuk-heading-s"  style="margin-bottom: 0px">Outcome: </h3>
                      <p>Sent to GLD. Expected outcome 2 weeks</p>
                    </dd>
                  </div>
                </dl>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <section aria-label="Files attached to action request" role="region">
        <div class="govuk-!-padding-bottom-9">
            <h2 class="govuk-heading-m" id="attached">There are no files attached to this action request
            </h2>
        </div>
    </section>  
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to Customer history",
          href: "javascript:history.back()"
        }) }}
      </div>


{% endblock %}
