{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
Are you sure you want to delete this concern report? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="06when_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">   
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="delete-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to delete this measure?
            </h1>
          </legend>
      
          <!-- Custom HTML inserted here -->
          <div class="govuk-inset-text">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
            <strong class="govuk-tag govuk-tag--red">active</strong><br>
            Measures 
          </h2>
          <p class="govuk-!-margin-bottom-0">16 July 2024</p>
          <p class="govuk-body-s govuk-!-margin-bottom-1" style="color:#505a5f">
            Must be seen in a screened area, Must only interact with a named member of staff
          </p>
        </div>
        </fieldset>
      </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Delete this item",
            href: "h_11delete_confirmation_measures",
            classes: "govuk-button--warning"
          }) }}
          {{ govukButton({
            text: "Cancel",
            href: "h_04measures_active",
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>
      </div>
    </div>
  </div>

  

{% endblock %}
