{% extends "layout_20241001_ur.html" %}
{% block pageTitle %}
  The deletion has failed - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">Deletion failed</h1>
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Deletion failed, go back to previous page.",
      href: "h_11delete_actionrequest"
    }
  ]
}) }}


  {{ govukButton({
    text: "Return to Customer history",
    classes: "govuk-button--primary",
    href: "02history_complex_multiple0"
  }) }}

{% endblock %}
