{% extends "layout.html" %}

{% block pageTitle %}
Prepare for meeting with customer - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Phase banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
{% include "templates/v7/key_details_red.njk" %}
<section aria-label="Back" role="region">
{{ govukBackLink({
text: "Back to Searchlight home",
href: "/"
}) }}
</section>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" id="page-title">Prepare for a meeting with a customer</h1>
    <h2 class="govuk-heading-l" id="page-title">Active measures</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Must be seen in a screened area</li>
      <li>No home visits</li>
    </ul>
    <p><a href="">View history<span class='govuk-visually-hidden'> for Robert Da Silva</span></a></p>
    <h2 class="govuk-heading-l">Other customers who live at this postcode</h2>
    {{ govukSummaryList({
      card: {
        title: {
          html: "<span class='govuk-visually-hidden'>Name:</span>Anne Other <span class='govuk-body-s'>- <span class='govuk-visually-hidden'>National insurance number:</span>AC 12 12 12 C</span>"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "View history",
              visuallyHiddenText: "for Anne Other"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            html: "Address<span class='govuk-visually-hidden'>for Anne Other</span>"
          },
          value: {
            html: "130 Acascia Drive, Borehamchester, Surreyham SH1 SPD"
          }
        },
        {
          key: {
            html: "Active measures<span class='govuk-visually-hidden'>for Anne Other</span>"
          },
          value: {
            html: "
            <ul class='govuk-list govuk-list--bullet'>
              <li>Must be seen in a screened area</li>
              <li>No home visits</li>
            </ul>
            "
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      card: {
        title: {
          html: "<span class='govuk-visually-hidden'>Name:</span>John Doe <span class='govuk-body-s'>- <span class='govuk-visually-hidden'>National insurance number:</span>AB 12 34 56 B</span>"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "View history",
              visuallyHiddenText: "for John Doe"
            }
          ]
        }
      },
      rows: [
      {
        key: {
          html: "Address <span class='govuk-visually-hidden'>for John Doe</span>"
        },
        value: {
          html: "129 Acascia Drive, Borehamchester, Surreyham SH1 SPD"
        }
      }
  ]
    }) }}
    {{ govukSummaryList({
      card: {
        title: {
          html: "<span class='govuk-visually-hidden'>Name:</span>Mea Too <span class='govuk-body-s'>- <span class='govuk-visually-hidden'>National insurance number:</span>CX 56 34 21 B</span>"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "View history",
              visuallyHiddenText: "For Mea Too"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            html: "Address<span class='govuk-visually-hidden'>for Mea Too</span>"
          },
          value: {
            html: "1 Very Close, Muncham, Morely SH1 SPD"
          }
        }
      ]
    }) }}
    {{ govukSummaryList({
      card: {
        title: {
          html: "<span class='govuk-visually-hidden'>Name:</span>Error (CIS) - Wait for a few seconds then refresh. If this continues to fail raise an issue on DWP place <span class='govuk-body-s'>- <span class='govuk-visually-hidden'>National insurance number:</span>Error (GUID) - Wait for a few seconds then refresh. If this continues to fail raise an issue on DWP place</span>"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "View history",
              visuallyHiddenText: "For Mea Too"
            }
          ]
        }
      },
      rows: [
      {
        key: {
          html: "Address<span class='govuk-visually-hidden'>for Error</span>"
        },
        value: {
          html: "Error (Residency) - Wait for a few seconds then refresh. If this continues to fail raise an issue on DWP place"
        }
      },
      {
        key: {
          html: "Active measures<span class='govuk-visually-hidden'>for Anne Other</span>"
        },
        value: {
          html: "Error (Measures) - Wait for a few seconds then refresh. If this continues to fail raise an issue on DWP place"
        }
      }
]

    }) }}
    {{ govukWarningText({
      html: "This list may not display all customers with a KCIS history who live at same post code. Contact <a href='mailto:kcis.feedback@dwp.gov.uk'>kcis.feedback@dwp.gov.uk</a> for more information",
      iconFallbackText: "Warning"
    }) }}    
    {{ govukButton({
      text: "Back to Searchlight home",
      href: "#"
    }) }}
  </div>
</div>

	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/01interaction__notes.njk" %}
	{% endif %}
{% endblock %}
