{% extends "layout_202311_demo.html" %}
{% block pageTitle %}
  We've recorded your actions and measures - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set refHTML %}
      <div class="govuk-panel__body">Reference number:
        <br>
        <strong>
          <span aria-hidden="true">INC-</span><span aria-hidden="false">000-000-002</span>
        </strong>
      </div>
      {% endset %}
      {{ govukPanel({
        titleText: "We've recorded your actions and measures",
        html: refHTML,
        id: "panel",
        name: "panel"
      }) }}
      <h2 class="govuk-heading-m">We'd like your feedback</h2>


      <p class="govuk-body">
        To help us improve this service, we’d like to know
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">what you think of it.</a> 
        It will only take 2 minutes to give us feedback.
      </p>
    </div>
  </div>
  {{ govukButton({
    text: "Return to start",
    classes: "govuk-button--primary",
    href: "01landingpage1_blank2"
  }) }}

{% endblock %}
