<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/witness/_versions/01details__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
<a href="01details">1. Details - simple</a><br>
<a href="01details2">2. Details - on behalf of</a><br>
<a href="01detailserror">3. Error - details</a><br>
<a href="01details2error">4. Error - on behalf of</a><br>
</ul>
<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Improved date/time formatting</li>
		<li>Added reference number as this will be sent on email</li>
		<li>Improved format for button</li>
		<li>Hint text added to add context so that the witness can unerstand why they are at this page (max 2/3 width)</li>
		<li>Added witness name to enable "on behalf of" functionality</li>

	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>  </li>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/witness/notes/v3__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v3 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	