<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/witness/_versions/02comments__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
<a href="03comments">1. Comments</a><br>
<a href="03commentserror">2. Error</a><br>
</ul>
<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#witness">Witness user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Reactively submit witness report</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/witness/notes/v3__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v3 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	