<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/incident_manager_journey/_versions/i03incident_best_simple_info__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="i03incident_best_simple_info">1. View incident</a><br>
</ul>
<h4 class="govuk-heading-s">v4 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19455">Manager: Provide More Information</a></li>
		<li>No "resend email request" button</li>
		<li>No "request further information" button</li>
		<li>Refer to <a href="/beta/common/view_incident">view incident collection</a> for similar pages</li>
		<li>Button at bottom of page and back button both navigate back to "Add information"</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Submit Incident Manager Report</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/incident_manager_journey/notes/v4__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v4 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	