{% extends "layout.html" %}

{% block pageTitle %}
  Gather reports - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "01landingpage1_multiple"
    }) }}
  </section>
{% endblock %}
{% block content %}
{% set html %}
<p class="govuk-body">The reports have been reassigned.</p>
{% endset %}
{% if data['reassigned'] %}
{{ govukNotificationBanner({
  html: html,
  type: "success"
  }) }}
 {% endif %}

 {{ govukNotificationBanner({
  html: html,
  type: "success"
  }) }}

<h1 class="govuk-heading-l">
   Gather reports
  </h1>
  <form action="03gather_success">
    <div class="govuk-!-padding-bottom-7">
      <p class="govuk-body">The following "live" reports must be assigned to the same decision maker. </p>

      {{ govukTable({
        head: [
          {
            html: "Number"
          },
          {
            html: "Date"
          },
          {
            text: "Customer"
          },
          {
            text: "Original reporter"
          },
          {
            text: "Status"
          },
          {
            text: "Assigned"
          }
        ],
        rows: [
        [
          {
            html: "<span class='govuk-visually-hidden'>Report number: </span>11111111"
          },
          {
            html: "<span class='govuk-visually-hidden'>Date: </span>20 June 2024"
          },
          {
            html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
          },
          {
            html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
          },
          {
            html: "<span class='govuk-visually-hidden'>Status: </span> Decision pending"
          },
          {
            html: "<span class='govuk-visually-hidden'>Assigned: </span> sadiq@gov.uk"
          }
          ],
          [
          {
            html: "<span class='govuk-visually-hidden'>Report number: </span>22222222"
          },
          {
            html: "<span class='govuk-visually-hidden'>Date: </span>20 June 2024"
          },
          {
            html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
          },
          {
            html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
          },
          {
            html: "<span class='govuk-visually-hidden'>Status: </span> Decision pending"
          },
          {
            html: "<span class='govuk-visually-hidden'>Assigned: </span> sadiq@gov.uk"
          }
        ],
        [
            {
              html: "<span class='govuk-visually-hidden'>Report number: </span>12345678"
            },
            {
              html: "<span class='govuk-visually-hidden'>Date: </span>20 June 2024"
            },
            {
              html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
            },
            {
              html: "<span class='govuk-visually-hidden'>Original reporter: </span>Bob Black"
            },
            {
              html: "<span class='govuk-visually-hidden'>Status: </span> Decision pending"
            },
            {
              html: "<span class='govuk-visually-hidden'>Assigned: </span> sadiq@gov.uk"
            }
          ]
        ]
      }) }}
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukButton({
          text: "Gather and assign reports to me",
          disabled: true
        }) }}&nbsp;
        {{ govukButton({
          text: "Back to your reports",
          href: "01landingpage1_nmready"
        }) }}
      </div>
    </div>
  </form>
  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/03gather__notes.njk" %}
	{% endif %}
{% endblock %}
