{% extends "layout.html" %}

{% block pageTitle %}
  Your reports - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "26review"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Who do you want to assign this report to?
      </h1>
      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "event-name",
        name: "eventName",
        classes: "govuk-input--width-40"
      }) }}
      {{ govukButton({
        text: "Assign report",
        href: "06reassign_confirmation"
      }) }}
    </div>
  </div>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/01landing__notes.njk" %}
	{% endif %}
{% endblock %}













