{% extends "layout.html" %}
{% block pageTitle %}
Error: Which actions must be taken? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="08discrimination_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "#"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Tell us what type of letter must be sent",
            href: "#more-detail"
          }
        ]
      }) }}
      {% include "./templates/govuk-caption-m-whitney.njk" %}
      <form class="form" action="route_cont" method="post">
        {% set letterHtml %}
          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              text: "Type of letter",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example: First warning letter about written abuse in journal."
            },
            errorMessage: {
              text: "Tell us what type of letter must be sent"
            }
          }) }}
        {% endset -%}
        {{ govukCheckboxes({
          idPrefix: "actions",
          name: "Actions",
          fieldset: {
            legend: {
              text: "Which actions must be taken?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all the actions that must be taken to keep your colleagues safe."
          },
          items: [
            {
              value: "writtenwarning",
              text: "Send a letter",
              conditional: {
                html: letterHtml
              },
              checked: true
            },
            {
              value: "verbalwarning",
              text: "Issue a verbal warning"
            },
            {
              value: "interviewed",
              text: "Interview by a manager"
            },
            {
              value: "requestforsolicitortowrite",
              text: "Request solicitor to send a letter"
            },
            {
              value: "requesttosolicitorforbanningorder",
              text: "Request a banning order"
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            href: "10add"
          }) }}
        </div>
      </form>
    </div>
  </div>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/09actions__notes.njk" %}
	{% endif %}
{% endblock %}
