{% extends "layout.html" %}
{% block pageTitle %}
Error: Do you want to upload the letter to be sent? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="10add_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select yes if you want to add files to your letter action request",
            href: "#add-files"
          }
        ]
      }) }}
      {% include "./templates/govuk-caption-m-mike.njk" %}
      {{ govukRadios({
        idPrefix: "add-files",
        name: "add-files",
        fieldset: {
          legend: {
            text: "Do you want to upload the letter to be sent?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ],
        hint: {
          text: "You can add the letter for future reference or for the manager to send."
        },
        errorMessage: {
          text: "Select yes if you want to add files to your letter action request"
        }
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "11upload"
        }) }}
      </div>
    </div>
  </div>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/10add.njk" %}
	{% endif %}
{% endblock %}
