{% extends "layout.html" %}
{% block pageTitle %}
  Who should send the letter? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="10add_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select Manager if you want the manager to send the letter. Select Decision Maker if you will send it",
            href: "#add-files"
          }
        ]
      }) }}
      {% include "./templates/govuk-caption-m-mike.njk" %}
      {{ govukRadios({
        idPrefix: "add-files",
        name: "add-files",
        fieldset: {
          legend: {
            text: "Who should send the letter?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        errorMessage: {
          text: "Select Manager if you want the manager to send the letter. Select Decision Maker if you will send it"
        },
        items: [
          {
            value: "manager",
            text: "Manager"
          },
          {
            value: "decisionmaker",
            text: "Decision Maker"
          }
        ]
      }) }}
      <div>
        {{ govukButton({
          text: "Continue",
          href: "06measure"
        }) }}
      </div>
    </div>
  </div>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/05d_wholetter.njk" %}
	{% endif %}
{% endblock %}
