{% extends "layout.html" %}

{% block pageTitle %}
  Your reports - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back to Searchlight home",
      href: "00searchlight"
    }) }}
  </section>
{% endblock %}
{% block content %}
<h1 class="govuk-heading-l">
    Reviews
  </h1>
  <p class="govuk-body">This shows the 20 oldest reviews</p>


  <div class="govuk-!-padding-bottom-0">
    {{ govukTable({    
      head: [
        {
          html: "Customer"
        },
        {
          html: "Measures"
        },
        {
          text: "Due Date"
        },
        {
          text: "Assigned to"
        },
        {
          text: "Action"
        }
      ],
      rows: [
      [
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<span class='govuk-visually-hidden'>Measures: </span>
          <ul>
            <li>Interim ban from office (by DWP)<br>Banned from: Bromley JCP</li>
            <li>Ban from office (by Government Legal Department)<br>Banned from: Droitwich JCP</li>
          </ul>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Due date: </span>14 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 9:00am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Assigned to: </span>Adam Smith"
        },
        {
          html: "<a href='05email'>Review</a><br><a href='05email'>Reassign</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<span class='govuk-visually-hidden'>Measures: </span>
          <ul>
            <li>Interim ban from office (by DWP)<br>Banned from: Bromley JCP</li>
            <li>Ban from office (by Government Legal Department)<br>Banned from: Droitwich JCP</li>
          </ul>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Due date: </span>13 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 8:06am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Assigned to: </span>Adam Smith"
        },
        {
          html: "<a href='05email'>Review</a><br><a href='05email'>Reassign</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<span class='govuk-visually-hidden'>Measures: </span>
          <ul>
            <li>Interim ban from office (by DWP)<br>Banned from: Bromley JCP</li>
            <li>Ban from office (by Government Legal Department)<br>Banned from: Droitwich JCP</li>
          </ul>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Due date: </span>11 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 2:23pm</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Assigned to: </span>Adam Smith"
        },
        {
          html: "<a href='05email'>Review</a><br><a href='05email'>Reassign</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<ul>
            <li>Interim ban from office (by DWP)<br>Banned from: Bromley JCP</li>
            <li>Ban from office (by Government Legal Department)<br>Banned from: Droitwich JCP</li>
            <li>Must be seen in a screened area</li>
            <li>Court order (injunction or interdict) in place<br>Refer to GLD</li>
            <li>No home visits</li>
            <li>Must only interact with a named member of staff<br>Staff member: whitney@dwp.gov</li>
          </ul>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Due date: </span>11 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 8:56am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Assigned to: </span>Adam Smith"
        },
        {
          html: "<a href='05email'>Review</a><br><a href='05email'>Reassign</a>"
        }
      ]
    ]
  }) }}
  </div>         
  <div class="govuk-button-group govuk-!-padding-bottom-7">
    {{ govukButton({
      text: "Reassign all items",
      href: "05email",
      classes: "govuk-button--secondary ds_link"
    }) }}
  </div>                       

  <h2 class="govuk-heading-m">
    Recently completed decisions
  </h2>
  <p class="govuk-body">This only shows the most recent 40 decisions for this individual.</p>
  <div class="govuk-!-padding-bottom-7">
    {{ govukTable({    
      head: [
        {
          html: "Number"
        },
        {
          html: "Date"
        },
        {
          text: "Customer"
        },
        {
          text: "Original reporter"
        },
        {
          text: "Status"
        },
        {
          text: "Action"
        }
      ],
      rows: [
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>12345678"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>13 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 8:06am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Completed"
        },
        {
          html: "<a href='05email'>View details</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>87654321"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>12 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 6:00am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Completed"
        },
        {
          html: "<a href='05email'>View details</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>4444444"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>11 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 11:56am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Completed"
        },
        {
          html: "<a href='05email'>View details</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Report number: </span>5555555"
        },
        {
          html: "<span class='govuk-visually-hidden'>Report date: </span>10 June 2022<br><span class='govuk-body-s' style='color:#505a5f'>  at 9:35am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert De Silva"
        },
        {
          html: "<span class='govuk-visually-hidden'>Original reporter: </span>Whitney Earl"
        },
        {
          html: "<span class='govuk-visually-hidden'>Status: </span> Completed"
        },
        {
          html: "<a href='05email'>View details</a>"
        }
      ]
    ]
  }) }}
  </div>                                

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Back",
      href: "03person"
    }) }}
  </div>
  
  

	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/01landing__notes.njk" %}
	{% endif %}
{% endblock %}













