{% extends "layout.html" %}
{% block pageTitle %}
  Note - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
      <div class="govuk-!-padding-bottom-9">
        <h1 class="govuk-heading-xl">Note</h1>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Date"
              },
              value: {
              html: '5 March 2023 at 2:00pm'
              }
            },
            {
              key: {
                text: "Written by"
              },
              value: {
                html: 'Sadiq Assam'
              }
            },
            {
              key: {
                text: "Note text"
              },
              value: {
                html: "Sent coaching notes regarding verbal warnings to manager"
              }
            }
          ]
        }) }}
      </div>
  <section aria-label="Files attached to note" role="region">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l" id="attached">Files attached to note</h2>
          {{ govukWarningText({
            text: "These attachments may contain inappropriate content or images",
            iconFallbackText: "Warning"
          }) }}
          {{ govukTable({
            captionClasses: "govuk-table__caption--l",
            head: [
              {
                text: "File name",
                classes: 'govuk-!-width-one-half'
              },
              {
                text: "Action"
              }
            ],
            rows: [
              [
                {
                  html: "<span class='govuk-visually-hidden'>File name: </span>ESA50.pdf"
                },
                {
                  html: "<a href='/public/images/screen_shot.png' role='button' draggable='false' class='govuk-button govuk-button--secondary ' data-module='govuk-button' download>Download file<span class='govuk-visually-hidden'>ESA50.pdf</span></a>"
                }
              ]
            ]
          }) }}
        </div>
      </div>
    </div>
  </section>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "javascript:history.back()"
        }) }}
      </div>

  {% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/h_08note__notes.njk" %}
	{% endif %}
{% endblock %}
