{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

    {% if (data['2401_applymeasures1'] == '' and data['2401_applymeasures2'] == '' and data['2401_applymeasures3'] == '') %}
    {% set bannerClass %}govuk-visually-hidden{% endset %}
    {% else %}
    {% set bannerClass %}govuk-tag--red{% endset %}
    <style>
    /* note "error" colour from GDS */
    .dwp-key-details-bar {
        background-color: #d4351c;
    }
</style>
    {% endif %}



{{ dwpKeyDetailsBar({
    primaryIdentifier: {
        text: 'Customer name:',
        value: 'Robert De Silva'
    },
    status: {
        text: 'Measures status:',
        value: 'Active measures',
        classes: bannerClass
    },
    secondaryIdentifier: {
        text: 'National Insurance number:',
        value: 'QQ 12 34 56 X'
    },
    additionalData: [
        {
            text: "Date of birth:",
            value: "4 June 1972"
        }
    ]
}) }}

