<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/02history__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="04history_complex_simple">History</a> - Simplest single live reports</li>
		<li><a href="04history_complex_typical">History</a> - Typical second report reports</li>
		<li><a href="04history_complex_multiple">History</a> - Multiple live reports</li>
		<li><a href="04history_complex_filter">History</a> - Filter possibilities</li>
		<li><a href="04history_complex_vo">History</a> - Visiting officer <span class="govuk-tag">TO BE UPDATED</span></li>
		<li><a href="04history_complex_empty">History</a> - Empty</li>
		<li><a href="21history_bst">History</a> - Business support <span class="govuk-tag">TO BE UPDATED</span></li>
	</ul>
<h4 class="govuk-heading-s">v9 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>VO cannot see incident statuses</li>
		<li>Incident statuses show on all "Live" statuses. If there is only one live report only one will show. </li>
		<li>In single report mode, there will be no "Prepared" pseudo status</li>
		<li>If all "Actions" have been returned from the "Action request", hide "Action request" from the timeline. <a href="04history_complex_simple">Simple</a> view shows 3 actions requested by only 2 carried out so the request still shows</li>
		<li>The date a Concern is recorded on KCIS is the date used to order this view. It is the only date that we can be sure is relevant/provided.</li>
		<li>Hidden text needs amending for better explanation of links. Story <a href="https://dwpdigital.atlassian.net/browse/CITI-22227">Case Reviewer: Customer History Hidden Text</a></li>
		<li>Sort order should be action requests then measures so that measures appears at the top of the timeline (Fixed in thi story: <a href="https://dwpdigital.atlassian.net/browse/CITI-22818">Case Reviewer: History Sort Order</a>)</li>
		<li>As a Business support should have access to note in both BS and review journeys</li>
		<li>As a case reviewer Add statuses to "live incidents" </li>
		<li>As a case reviewer display time</li>
		<li>The <a href="04history_complex_empty">empty history</a> message is currently "No incidents to display" which is incorrect. In this case, the "They are in date and time order..." paragraph is also removed.</li>

	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Insight: <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133179082061/Decision+makers+can+navigate+customer+history+timeline">Decision makers can navigate customer history timeline</a></li>
		<li>Insight (to be enacted): <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133180227671/Decision+makers+want+details+of+historical+actions">Decision makers want details of historical actions</a>		</li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain: Inefficient processes and missing SLAs</li>
			<li>Pain: The number of reviews needing doing</li>
		</ul>
	</ul>
{% set journeyNotesHTMLDecision_v9 %}
	{% include "beta/decision/notes/v9__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v9 Journey level design notes",
	html: journeyNotesHTMLDecision_v9
}) }}	

