<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/05measureaccount__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="15measureaccount">Account for measures</a> (note: dynamic list of applied measures)</li>
		<li><a href="15measureaccount_none">Account for measures - none</a> - different hint </li>
		<li><a href="15measureaccount_error_explain">Account for measures error</a> explain measures</li>
	</ul>
<h4 class="govuk-heading-s">v9 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Caption contains status for Incident and Concern not Review</li>
		<li>Add ban locations to measures</li>
		<li>Single and multiple incidents - see flow diagram</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Make evidence-based decisions</li>
			<li>Need: Review if applied measures suitable</li>
			<li>Need: Pass cases to solicitors</li>
		</ul>
	</ul>
<h4 class="govuk-heading-s">Journey level notes</h3>
{% set journeyNotesHTMLDecision_v9 %}
	{% include "beta/decision/notes/v9__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v9 Journey level design notes",
	html: journeyNotesHTMLDecision_v9
}) }}	