<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/13reassign_bst__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="15reassign_bst">Reassign BST</a> Used by business support to reassign to a business support colleague</li>
		<li><a href="13reassign_bst_error">Reassign BST</a> x3 errors </li>
	</ul>
<h4 class="govuk-heading-s">v8 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>No change</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#business_support">Business support user canvas</a></li>
			<ul class="govuk-list govuk-list--bullet">
				<li>Need: Work on multiple cases</li>
				<li>Pain: Manually managing their workflow</li>
				<li>Pain relievers: Automate workflow and task managing</li>
			</ul>
	</ul>

{% set journeyNotesHTMLDecision_v8 %}
	{% include "beta/decision/notes/v8__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v8 Journey level design notes",
	html: journeyNotesHTMLDecision_v8
}) }}
