<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/07check__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="18check_good">Check your answers - complex</a></li>
		<li><a href="18check">Check your answers - simple</a></li>
		<li><a href="18check_good_multi">Check your answers - multiple</a></li>
	</ul>
<h4 class="govuk-heading-s">v9 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Single reports only</li>
		<li><a href="11upload">Change</a> to link to <a href="11upload">Add files</a> page</li>
		<li>Caption contains status for Incident and Concern not Review</li>
		<li>Page only to be shown if "send letter" action requested</li>
		<li><a href="18check_good">18check_good</a> illustrates page when letter action is selected</li>
		<li>If letter action not selected, this row will not be shown</li>
		<li>Flow shows that the “Choose” page does not appear for concerns or review so it wont appear in CYA</li>
		<li>Add both uploaded letter and who sends to allow easier access from CYA. Currently need to use back links</li>
		<li>Change content on button to be more descriptive/align with user terminology</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Review if applied measures suitable</li>
		</ul>
	</ul>
{% set journeyNotesHTMLDecision_v9 %}
	{% include "beta/decision/notes/v9__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v9 Journey level design notes",
	html: journeyNotesHTMLDecision_v9
}) }}
