<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>NA</li>
	</ul>
<h4 class="govuk-heading-s">States</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="xxprepare">1. Prepare incident list</a></li>
	</ul>
<h4 class="govuk-heading-s">v8 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>New page</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
	</ul>
{% set journeyNotesHTMLDecision %}
	{% include "beta/decision/notes/v8__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v8 Journey level design notes",
	html: journeyNotesHTMLDecision
}) }}	