<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/07a_location__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="07a_location">1. Location</a><br>
	<a href="07a_location_error">2. Error Location</a><br>
	<a href="07a_location_button">3. Location Button - only to be used if "No results found" cannot be made selectable</a><br>
</ul>
<h4 class="govuk-heading-s">v12 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-24493">Reporter: Capture Location via Lookup</a></li>
		<li>No default text in text field</li>
		<li>Even when shown, we know that there may be problems with the data</li>
		<li>Should allow selection of "No results found"</li>
		<li>If "No results found" cannot be made clickable, reporter can proceed by using <a href="07a_location_button">"Office not found" button design</a>. </li>
		<ul>
			<li>It is possible for user to select a location from the list but then click "Office not found" button. In this case the office would not be recorded</li>
		</ul>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Incident</li>
		</ul>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133736923194">Location should be in Reporter journey not Manager</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133736857695">Location often wrong but can be deduced by CRs</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133736890457">Specific location needed for sending out letters </a></li>
		
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v12__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v12 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	