<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/12check__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="12check_simple">1. Check your answers - simple</a><br>
	<a href="12check">2. Check your answers - complex</a><br>
</ul>
<h4 class="govuk-heading-s">v12 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Updated key text to reduce amount of content on page</li>
		<li>Display the actual anaswer to "Appropriate manager question" (rather than email address)</li>
		<li>Split date and time to match new pages</li>
		<li>Updated hidden text to match key text</li> 
		 <ul>
			<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-20113">Reporter - Check your answers content and hidden content</a></li>
			<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-21336">Reporter: Concern Date</a> </li>
		 </ul>
		</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Incident</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v12__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v12 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}
