<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/c00agentsource__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="c00agentsource">1. Who do you work for?</a><br>
	<a href="c00agentsource_error">2. Error: Who do you work for?</a><br>
</ul>
<h4 class="govuk-heading-s">v12 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>MI - determine source</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Concern</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v12__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v12 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}
