<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/c04check__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<li><a href="c04check">1. Check your answers</a><br></li>
	<li><a href="c04check_other">2. Check your answers - Case reviewer - assigned</a><br></li>
	<li><a href="c04check_unassigned">3. Check your answers - Case reviewer  - unassigned</a><br></li>
</ul>
<h4 class="govuk-heading-s">v12 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-20113">Reporter: Check Your Answers: Fix Hidden Content</a></li>
		<li>Made Incident description consistent</li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-21336">Reporter: Concern Date </a></li>
		<li>Add date - not implemented</li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-25345">Assign from Concern Reporting Journey</a> </li>
		<li>Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-26444">Allow Business Support to Skip Assign Concern page</a> </li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Remove validation so that report can be sent to queue</li>
			<li>Value set in <a href="c03assign">Assign report</a></li>
		</ul>
		</ul>

<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133292492011">UR: The concern journey needs a date</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Concern</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v12__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v12 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}
