{% extends "layout.html" %}

{% block pageTitle %}
  Who do you want to assign this report to? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "04list"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Who do you want to assign this report to?
      </h1>
      <p class="govuk-body">Enter the email address of the person you want to assign the report to.
Only assign reports to someone who can access and act on them in their current state:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Decision pending reports should only be assigned to a decision maker.</li>
  <li>Preparing reports should only be assigned to a business supporter.</li>
</ul>
<p class="govuk-!-padding-bottom-3">If a report is assigned to someone who isn’t the right type of user for its current state, it won’t appear on their dashboard.</p>
      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "event-name",
        name: "eventName",
        classes: "govuk-input--width-40"
      }) }}
      {{ govukButton({
        text: "Assign report",
        href: "06reassign_confirmation"
      }) }}
    </div>
  </div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
    {% include "./notes/05email__notes.njk" %}
	{% endif %}    
{% endblock %}
