{% extends "layout.html" %}

{% block pageTitle %}
  Who do you want to assign this report to? - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "04list"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Who do you want to assign this report to?
      </h1>
      <p class="govuk-body">Enter the email address of the person you want to assign the report to. Only assign reports to someone who can access them in their current status:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Assign ‘Decision pending’ reports to decision makers</li>
  <li>Assign ‘Preparing’ reports to business support</li>
</ul>
      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "event-name",
        name: "eventName",
        classes: "govuk-input--width-40"
      }) }}
      {{ govukButton({
        text: "Assign report",
        href: "06reassign_confirmation"
      }) }}
    </div>
  </div>
  {% if not (checked("displaymode", "presentation") == "checked") %}
    {% include "./notes/05email__notes.njk" %}
	{% endif %}    
{% endblock %}
