{% extends "layout.html" %}
{% block pageTitle %}
  Customer history - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v7/key_details_red.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">Customer history</h1>
		</div>

	</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>This page shows all incidents and safety concerns reported about this customer's behaviour, and any measures applied as a result. </p><p>They are in date / time order with the most recent at the top. </p>

			<ol class="dwp-timeline__events">

					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Actions</h2>
						<p class="govuk-!-margin-bottom-1 govuk-hint">9 August 2022</p>
						<p class="govuk-caption-m"><a href="05action2">Written warning</a></p>
					</li>


					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Actions</h2>
						<p class="govuk-!-margin-bottom-1 govuk-hint">8 August 2022</p>
						<p class="govuk-caption-m"><a href="05action">Verbal warning</a></p>
					</li>


					<li class="dwp-timeline__events--entry">
						<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Incident</h2>
						<p class="govuk-!-margin-bottom-1 govuk-hint">7 August 2022</p>
						<p class="govuk-caption-m"><a href="02incident_best">Mike Black: In-person</a></p>
					</li>

			</ol>
		</div>
		<div class="govuk-grid-column-one-third">
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" aria-hidden="true" style="margin:0px">
			{{ govukSummaryList({
				rows: [
					{
						key: {
							text: "Behaviour review due",
							classes: "govuk-!-width-one-half"
						},
						value: {
							text: "30 May 2023",
							classes: "govuk-!-width-one-half"
						}
					}
				]
			}) }}
		</div>
	</div>
<br>
<br>
<br>
<br>
<br>
<hr>
<a href="01history_complex4">Next ->	</a>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./menus/__menu.html" %}
	{% endif %}
{% endblock %}
