{% extends "layout_20241001_ur.html" %}

{% block pageTitle %}
  Complete decision - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-padding-bottom-4">
        {% include "./templates/multi_caption1.njk" %}
        <h1 class="govuk-heading-xl">Complete decision</h1>
        <p class="govuk-body">Review the actions and measures you have selected, and add comments for the relevant manager.</p>
        <p class="govuk-body">You can refer to <a href="h_02incident1">the original report</a>.</p>
      </div>
      <section aria-label="measures" role="region">
        <div class="govuk-!-padding-bottom-4">
          <h2 class="govuk-heading-l">Measures </h2>
          <h3 class="govuk-heading-m">Measures to be applied</h3>
          {% include "./templates/measures_list.njk" %} 
          </ul>
          <h3 class="govuk-heading-m">Reasons for applying measures</h3>
          <p class="govuk-body">{{ data["2401_measureaccount"] }} </p>
        </div>
      </section>

      <section aria-label="actions" role="region">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Action requests</h2>
          <h3 class="govuk-heading-m">Manager </h3>
          <ul class="govuk-list govuk-list--bullet">
            {% include "./templates/action_list_manager.njk" %} 
          </ul>
          <h3 class="govuk-heading-m">Decision maker</h3>
          <ul class="govuk-list govuk-list--bullet">
            {% include "./templates/action_list_dm.njk" %} 
          </ul>

        </div>
      </section>


      <form class="form" action="11check_good" method="post">
        <section aria-label="notes" role="region">
          {{ govukTextarea({
            name: "2401_note",
            id: "2401_note",
            value: data["2401_note"],
            rows: "15",
            label: {
              html: "<h2 class='govuk-heading-l'>Comments for manager</h2>",
              classes: "govuk-label--l"
            },
            hint: {
              text: "Only the manager can see what you enter here. "
            }
          }) }}
        </section>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
