{% extends "layout_EVS.html" %}

{% block pageTitle %}
  Eligibility Verification Measure
{% endblock %}
{% block beforeContent %}

{% endblock %}
{% block content %}
<style>
  .grey {
  background-color: #f3f2f1;
  padding-top: 20px;
  }
</style>


        <h1 class="govuk-heading-xl">Eligibility Verification Measure</h1>


  <div class="govuk-grid-row govuk-!-padding-bottom-2">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Data explorer</h2>
      <p class="govuk-hint">
        Select a data set to query
      </p>


    </div>
  </div>
  

{% endblock %}













