<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/incident_manager_journey/_versions/04add_witness__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
<a href="04add_witness">1. Add witnesses </a><br>
<a href="04add_witness_change">2. Change witnesses </a><br>
<a href="04add_witnesserror_tellus">1. Error: Tell us who</a><br>
<a href="04add_witnesserror2_email">2. Error: Tell us email</a><br>
<a href="04add_witnesserror3_access">3. Error: Cannot access</a><br>
<a href="04add_witnesserror4_emailformat">4. Error: Not valid email address</a><br>
<a href="04add_witnesserror5_fullname">5. Error: Tell us name</a><br>
</ul>
<h4 class="govuk-heading-s">v5 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>UCD Story: <a href="https://dwpdigital.atlassian.net/browse/CITI-19452">Discover: Improve Manage Report on Behalf of Witness</a></li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Insight: <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133169119473/Incident+managers+navigate+long+pages+with+ease">Incident managers navigate long pages with ease</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Submit Incident Manager Report</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/incident_manager_journey/notes/v5__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v5 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	