<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/incident_manager_journey/_versions/a02action_letter__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="a02action_letter">1. Take action </a><br>
	<a href="a02action_letter_deliver">2. Take action - letter attached</a><br>
	<a href="a02action_letter_error">3. Error: Take action </a><br>
</ul>
<h4 class="govuk-heading-s">v5 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-25658">Attach Letter to Action Request3 - Deliver to Manager</a></li>
		<li>Confirmation that manager has taken action is via the item being removed from the to do list</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses and insights</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133320245598">Managers were unclear about which actions enumerated actions referred to</a>: <br>added one word description for each action (eg "letter") instead of numbers</li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133320082356">Managers did not understand the difference between the 'record action' pages</a>: <br>added one word description for each action (eg "letter")instead of numbers</li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager user canvas</a></li>
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/133320212869">Managers expected better information on how to access the letter</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Pain reliever: Notify of outcome and explain</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/incident_manager_journey/notes/v5__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v5 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	