<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01interaction__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="01interaction">1. Interaction - Prepare for interaction</a></li>
		<li><a href="01interaction_simple">2. Interaction - Prepare for interaction simple</a></li>
		<li><a href="01interaction-vo_none">3. Interaction - Visiting officer - no active measures</a></li>
		<li><a href="01interaction-vo">4. Interaction - Visiting officer - Prepare for interaction</a></li>
</ul>
<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-25768">Surface measures at postcode</a></li>
		<li>Removed "first time through" automated lookup</li>
		<li>Note: VO discussed being able to access the current customer history via an additional "View history" link</li>
		<li>What if the middleware calls fails. There are 4 errors possible. </li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Name: CIS</li>
			<li>NINo: GUID</li>
			<li>Address: Residency</li>
			<li>Active measures: KCIS Measures service</li>
		</ul>
		<li>Order of results would ideally be distance but that requires better location resolution than postcode - Use alphabetical with active mesasures at top</li>
		<li>Pagination with be required for large lists. To be completed next version under: <a href="https://dwpdigital.atlassian.net/browse/CITI-26679">Surface measures at postcode - Paginate</a>. Currently limited to arbitary number and shows warning message</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter canvas</a></li>
		<li>The interactor would prefer to navigate back to Searchlight</li>
		<li>The interactor needs no further information than the applied measures (As consistent with SPL)</li>
		<li>Hidden text for screen readers required</li>
	</ul>
{% set journeyNotesHTMLinteract_v3 %}
	{% include "beta/interaction/notes/v3__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v3 Journey level design notes",
	html: journeyNotesHTMLinteract_v3
}) }}	