<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/02behalf__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
		<a href="02behalf">1. Were you?</a><br>
		<a href="02behalf_error2">2. Error: Select yes</a><br>
		<a href="02behalf_error3">3. Error: Full name / email</a><br>
		<a href="02behalf_error4">4. Error: email format</a><br>
</ul>
<h4 class="govuk-heading-s">v12 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Timeout implementation requires "Back to Searchlight" link to be "Back" when reopening an incomplete report </li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Incident</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v12__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v12 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}	