<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "beta/report_incident/_versions/04acting_manager__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
	<a href="03acting_manager">1. Reviewing manager?</a><br>
	<a href="03acting_manager_error2">2. Error: Tell us</a><br>
	<a href="03acting_manager_error3">3. Error: Enter email address</a><br>
	<a href="03acting_manager_error4">4. Error: email format</a><br>
	<a href="03acting_manager_error5">5. Error: Colleague cannot access service</a><br>
	<a href="03acting_manager_error6">6. Error: Tell us who should review this report (No longer works here)</a><br>
</ul>
<h4 class="govuk-heading-s">v12 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>No change</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Report Incident</li>
		</ul>
	</ul>
{% set journeyNotesHTMLincidentreport %}
	{% include "beta/report_incident/notes/v12__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v12 Journey level design notes",
	html: journeyNotesHTMLincidentreport
}) }}
