
{% extends "layout.html" %}

{% block pageTitle %}
Prototype index - Keep Customer Interactions Safe
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">Final prototype index<span class="govuk-caption-m">Prototype kit {{releaseVersion}}</span></h1>
		<ul class="govuk-list govuk-list--bullet">
			<li><a href="#interaction">Prepare for interaction</a></li>
			<li><a href="#incident">Report incident or concern</a></li>
			<li><a href="#manager">Manager report</a></li>
			<li><a href="#witness">Witness report</a></li>
			<li><a href="#decision">Make decision </a></li>
			<li><a href="#customer">Customer history</a></li>
			<li><a href="#admin">Administration tools</a></li>
		</ul>
		<hr>


		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l" id="interaction">Prepare for interaction</h2>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Final</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/interaction/v3/01interaction">Prepare for interaction</a><br><br>
				{{ govukDetails({
					summaryText: "Page index",
					html: '
								<ul class="govuk-list">
									<li><a href="/beta/interaction/v3/01interaction">01interaction - Prepare for interaction</a></li>
								</ul>'
				}) }}
				{% set journeyNotesHTMLinteract_v3 %}
					{% include "./beta/interaction/notes/v3__notes.njk" %}
				{% endset %}
				</li>
			</ul>
						<hr>
		</div>




		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l" id="incident">Report incident or concern</h2>

			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Final</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/report_incident/reportv12/00searchlight">Report incident or concern</a><br><br>
				{{ govukDetails({
					summaryText: "Page index",
					html: '
								<ul class="govuk-list">
									<li><a href="/beta/report_incident/reportv12/00timeout_warning">00 Timeout - warning</a></li>
									<li><a href="/beta/report_incident/reportv12/00searchlight">00 Searchlight</a></li>
									<li><a href="/beta/report_incident/reportv12/01report">01report - establish report type</a></li>
								</ul>
								<p class="govuk-body">Incident</p>
								<ul class="govuk-list">
									<li><a href="/beta/report_incident/reportv12/02behalf">02behalf</a></li>
									<li><a href="/beta/report_incident/reportv12/03acting_manager">03acting_manager</a></li>
									<li>(<a href="/beta/report_incident/reportv12/04aorganisation">04aorganisation</a>- Not required - obtained from office location)</li>
									<li><a href="/beta/report_incident/reportv12/04bbusiness">04bbusiness</a></li>
									<li><a href="/beta/report_incident/reportv12/04interaction">04interaction</a></li>
									<li><a href="/beta/report_incident/reportv12/05when-date">05when-date</a></li>
									<li><a href="/beta/report_incident/reportv12/06when-time">06when-time</a></li>
									<li><a href="/beta/report_incident/reportv12/07a_location">07a_location - office location</a></li>									
									<li><a href="/beta/report_incident/reportv12/07where">07where - location type</a></li>
									<li><a href="/beta/report_incident/reportv12/07where_location">(07location - simple text box)</a></li>
									<li><a href="/beta/report_incident/reportv12/08discrimination">08discrimination</a></li>
									<li><a href="/beta/report_incident/reportv12/09describe">09describe</a></li>
									<li><a href="/beta/report_incident/reportv12/10add">10add</a></li>
									<li><a href="/beta/report_incident/reportv12/11a_upload">11a_upload</a></li>
									<li><a href="/beta/report_incident/reportv12/12check">12check</a></li>
									<li><a href="/beta/report_incident/reportv12/13confirm">13confirm</a></li>
								</ul>
								<p class="govuk-body">Concern</p>
								<ul class="govuk-list">
									<li><a href="/beta/report_incident/reportv12/c00agentsource">c00agentsource</a></li>
									<li><a href="/beta/report_incident/reportv12/c01comments">c01 comments</a></li>
									<li><a href="/beta/report_incident/reportv12/c02fileuploadcheck">c02 fileuploadcheck</a></li>
									<li><a href="/beta/report_incident/reportv12/c03assign">c03 assign</a></li>
									<li><a href="/beta/report_incident/reportv12/c04check">c04 check</a></li>
									<li><a href="/beta/report_incident/reportv12/c05confirm">c05 confirm</a></li>
								</ul>
								<p class="govuk-body">Concern - not used</p>
								<ul class="govuk-list">
									<li><a href="/beta/report_incident/reportv12/cxxwhen-date">cxx date</a></li>
								</ul>
								
								'
				}) }}
				{% set journeyNotesHTMLreport_v12%}
					{% include "./beta/report_incident/notes/v12__notes.njk" %}
				{% endset %}
				</li>
			</ul>
			<hr>
		</div>

		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l" id="manager">Manager report</h2>

			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Final</strong></<h3></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/incident_manager_journey/v6/00searchlight">Manager journeys</a><br><br>
				{{ govukDetails({
					summaryText: "Page index",
					html: '
								<ul class="govuk-list">
									<li><a href="/beta/incident_manager_journey/v6/00searchlight">00 Searchlight menu</a></li>
									<li><a href="/beta/incident_manager_journey/v6/01landingpage2_manager">01 home page</a></li>
									<li><a href="/beta/incident_manager_journey/v6/02incident_simple">02 Incident</a></li>
									<li><a href="/beta/incident_manager_journey/v6/03witnessdisplay-1nowitnesses">03 witness list</a></li>
									<li><a href="/beta/incident_manager_journey/v6/wit01add_witness">WIT01 Add witness</a></li>
									<li><a href="/beta/incident_manager_journey/v6/wit02comments">WIT02 Comment witness</a></li>
									<li><a href="/beta/incident_manager_journey/v6/04add_witness">04 Add witness</a></li>
									<li><a href="/beta/incident_manager_journey/v6/05confirm_witness_onbehalf">05 confirm witness on behalf</a></li>
									<li><a href="/beta/incident_manager_journey/v6/06sent-1colleague">06 sent</a></li>
									<li><a href="/beta/incident_manager_journey/v6/07witness_report_simple">07 witness report</a></li>
									<li><a href="/beta/incident_manager_journey/v6/08deletewitness">08 delete witness</a></li>
									<li><a href="/beta/incident_manager_journey/v6/09location">09 location</a></li>
									<li><a href="/beta/incident_manager_journey/v6/10agentsource">10 agent source</a></li>
									<li><a href="/beta/incident_manager_journey/v6/11police">11 police</a></li>
									<li><a href="/beta/incident_manager_journey/v6/12action">12 police action</a></li>
									<li><a href="/beta/incident_manager_journey/v6/13comments">13 comments</a></li>
									<li><a href="/beta/incident_manager_journey/v6/14check">14 check</a></li>
									<li><a href="/beta/incident_manager_journey/v6/15confirmation">15 confirmation</a></li>
								</ul>
								<p class="govuk-body">Further information request</p>
								<ul class="govuk-list">
									<li><a href="/beta/incident_manager_journey/v6/01landingpage2_manager">01 home page</a></li>
									<li><a href="/beta/incident_manager_journey/v6/i02moreinfo">i02 moreinfo</a></li>
									<li><a href="/beta/incident_manager_journey/v6/i03incident_best_simple_info">i03 Original incident report</a></li>
								</ul>
								<p class="govuk-body">Deliver decision</p>
								<ul class="govuk-list">
									<li><a href="/beta/incident_manager_journey/v6/01landingpage2_manager">01 home page</a></li>
									<li><a href="/beta/incident_manager_journey/v6/d02decision">d02 view decison</a></li>
									<li><a href="/beta/incident_manager_journey/v6/d03incident_best_simple_info">d03 Original incident report</a></li>
								</ul>
								<p class="govuk-body">Take action</p>
								<ul class="govuk-list">
									<li><a href="/beta/incident_manager_journey/v6/01landingpage2_manager">01 home page</a></li>
									<li><a href="/beta/incident_manager_journey/v6/a02action_letter">a02 record action (letter)</a></li>
								</ul>'
				}) }}
				{% set journeyNotesHTMLDecision %}
					{% include "beta/incident_manager_journey/notes/v6__notes.njk" %}
				{% endset %}
</li>
			</ul>
			
			</ul>
			<hr>
		</div>




		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l" id="witness">Witness report</h2>

			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Final</strong></h3>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/witness/witnessv4/01details_simple">Witness report v4</a><br><br>
				{{ govukDetails({
					summaryText: "Page index",
					html: '
								<ul class="govuk-list">
									<li><a href="/beta/witness/witnessv4/01details_simple">01 Confirm witnessed incident</a></li>
									<li><a href="/beta/witness/witnessv4/02comments-simple">02 Comments</a></li>
									<li><a href="/beta/witness/witnessv4/03check">03 Check</a></li>
									<li><a href="/beta/witness/witnessv4/04confirm-you">04 Confirmation</a></li>
								</ul>'
				}) }}
				{% set journeyNotesHTMLDecision %}
					{% include "beta/witness/notes/v4__notes.njk" %}
				{% endset %}
				</li>
			</ul>
			<hr>
		</div>


		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l" id="decision">Make Decision Journey</h3>

			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Final</strong></h4>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/decision/v9/00searchlight">Make decision v9</a><br><br>
				{{ govukDetails({
					summaryText: "Page index",
					html: '
								<p class="govuk-body">Decision maker - Single</p>
								<ul class="govuk-list">
									<li><a href="/beta/decision/v9/00searchlight">00 Searchlight</a></li>
									<li><a href="/beta/decision/v9/01landingpage1_blank">01 landing page</a></li>
									<li><a href="/beta/decision/v9/02reassign">02 reassign</a></li>
									<li><a href="/beta/decision/v9/04history_complex_simple">04 history</a></li>
									<li><strong><a href="/beta/decision/v9/06fast">06 fast</a></strong></li>
									<li><a href="/beta/decision/v9/07type">07 type</a></li>
									<li><a href="/beta/decision/v9/08trigger">08 trigger</a></li>
									<li><a href="/beta/decision/v9/09actions">09 actions</a></li>
									<li><a href="/beta/decision/v9/10add">10 add letter</a></li>
									<li><a href="/beta/decision/v9/11upload">11 upload letter</a></li>
									<li><a href="/beta/decision/v9/12wholetter">12 who should send letter</a></li>
									<li><strong><a href="/beta/decision/v9/13prepare_single_man">13 finalise actions</a></strong></li>
									<li><a href="/beta/decision/v9/14measure">14 measures</a></li>
									<li><a href="/beta/decision/v9/15measureaccount">15 account for measures</a></li>
									<li><a href="/beta/decision/v9/16reviewdate">16 review date</a></li>
									<li><a href="/beta/decision/v9/17incident_best_simple_info">17 original incident report</a></li>
									<li><a href="/beta/decision/v9/18check">18 check</a></li>
									<li><a href="/beta/decision/v9/19confirmation">19 confirmation</a></li>
									<br><br>
									<p class="govuk-body">Decision maker - Multiple</p>
									<ul class="govuk-list">
										<li><a href="/beta/decision/v9/00searchlight">00 Searchlight</a></li>
										<li><a href="/beta/decision/v9/01landingpage1_blank">01 landing page</a></li>
										<li><a href="/beta/decision/v9/02reassign">02 reassign</a></li>
										<li><strong><a href="/beta/decision/v9/03gather">03 gather</a></strong></li>
										<li><a href="/beta/decision/v9/04history_complex_multiple">04 history</a></li>
										<li><a href="/beta/decision/v9/05choosereport">05 choosereport</a></li>
										<li><strong><a href="/beta/decision/v9/06fast">06 fast</a></strong></li>
										<li><a href="/beta/decision/v9/07type">07 type</a></li>
										<li><a href="/beta/decision/v9/08trigger">08 trigger</a></li>
										<li><a href="/beta/decision/v9/09actions">09 actions</a></li>
										<li><a href="/beta/decision/v9/10add">10 add letter</a></li>
										<li><a href="/beta/decision/v9/11upload">11 upload letter</a></li>
										<li><a href="/beta/decision/v9/12wholetter">12 who should send letter</a></li>
										<li><strong><a href="/beta/decision/v9/13prepare_single_man">13 finalise actions</a></strong></li>
										<li><strong><a href="/beta/decision/v9/25confirmation_prepare1">25 action confirmation</a></strong></li>
										<li><a href="/beta/decision/v9/14measure">14 measures</a></li>
										<li><a href="/beta/decision/v9/15measureaccount">15 account for measures</a></li>
										<li><a href="/beta/decision/v9/16reviewdate">16 review date</a></li>
										<li><a href="/beta/decision/v9/17incident_best_simple_info">17 original incident report</a></li>
										<li><a href="/beta/decision/v9/18check">18 check</a></li>
										<li><a href="/beta/decision/v9/19confirmation">19 confirmation</a></li>
	
								</ul>
								<p class="govuk-body">Business support</p>
								<ul class="govuk-list">
									<li><a href="/beta/decision/v9/01landingpage1_btsready">01 landing page - Business Support</a></li>
									<li><a href="/beta/decision/v9/20reassign_bst">20 re-assign bst</a></li>
									<li><a href="/beta/decision/v9/21history_bst">21 history BST</a></li>
									<li><a href="/beta/decision/v9/22fast">22 fast track incident BST</a></li>
									<li><a href="/beta/decision/v9/23note_bst">23 note BST</a></li>
									<li><a href="/beta/decision/v9/24handover_bst">24 handover BST</a></li>
								</ul>
								<p class="govuk-body">Events accessed from customer history</p>
								<ul class="govuk-list">
									<li><a href="/beta/decision/v9/h_02incident_best_simple">h_02 incident from history</a></li>
									<li><a href="/beta/decision/v9/h_11_reassign">h_11 reassign</a></li>
									<li><a href="/beta/decision/v9/h_03concern_best">h_03 concern from history</a></li>
									<li><a href="/beta/decision/v9/h_04measures">h_04 measures from history</a></li>
									<li><a href="/beta/decision/v9/h_05action">h_05 Action request/Action  from history</a></li>
									<li><a href="/beta/decision/v9/h_06infomessage">h_06 add a note</a></li>
									<li><a href="/beta/decision/v9/h_07_add">h_07 add a note - add file</a></li>
									<li><a href="/beta/decision/v9/h_08infoconfirm">h_08 add a note - confirmation</a></li>
									<li><a href="/beta/decision/v9/h_09note">h_09 note - from history</a></li>
									<li><a href="/beta/decision/v9/h_10infomessage">h_10 request further information regarding live incident</a></li>
								</ul>
								<p class="govuk-body">Multiple incidents pages</p>
								'
				}) }}
				{% set journeyNotesHTMLDecision_v9 %}
					{% include "beta/decision/notes/v9__notes.njk" %}
				{% endset %}
			</li>

			</ul>
			<hr>
		</div>


		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l" id="customer">Csutomer History</h3>

			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Final</strong></h4>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/decision/v9/00searchlight">Make decision v9</a><br><br>
				{{ govukDetails({
					summaryText: "Page index",
					html: '
								<p class="govuk-body">Decision maker - Single</p>
								<ul class="govuk-list">
									<li><a href="/beta/decision/v9/00searchlight">00 Searchlight</a></li>
									<li><a href="/beta/decision/v9/01landingpage1_blank">01 landing page</a></li>
									<li><a href="/beta/decision/v9/02reassign">02 reassign</a></li>
									<li><a href="/beta/decision/v9/04history_complex_simple">04 history</a></li>
									<li><strong><a href="/beta/decision/v9/06fast">06 fast</a></strong></li>
									<li><a href="/beta/decision/v9/07type">07 type</a></li>
									<li><a href="/beta/decision/v9/08trigger">08 trigger</a></li>
									<li><a href="/beta/decision/v9/09actions">09 actions</a></li>
									<li><a href="/beta/decision/v9/10add">10 add letter</a></li>
									<li><a href="/beta/decision/v9/11upload">11 upload letter</a></li>
									<li><a href="/beta/decision/v9/12wholetter">12 who should send letter</a></li>
									<li><strong><a href="/beta/decision/v9/13prepare_single_man">13 finalise actions</a></strong></li>
									<li><a href="/beta/decision/v9/14measure">14 measures</a></li>
									<li><a href="/beta/decision/v9/15measureaccount">15 account for measures</a></li>
									<li><a href="/beta/decision/v9/16reviewdate">16 review date</a></li>
									<li><a href="/beta/decision/v9/17incident_best_simple_info">17 original incident report</a></li>
									<li><a href="/beta/decision/v9/18check">18 check</a></li>
									<li><a href="/beta/decision/v9/19confirmation">19 confirmation</a></li>
									<br><br>
									<p class="govuk-body">Decision maker - Multiple</p>
									<ul class="govuk-list">
										<li><a href="/beta/decision/v9/00searchlight">00 Searchlight</a></li>
										<li><a href="/beta/decision/v9/01landingpage1_blank">01 landing page</a></li>
										<li><a href="/beta/decision/v9/02reassign">02 reassign</a></li>
										<li><strong><a href="/beta/decision/v9/03gather">03 gather</a></strong></li>
										<li><a href="/beta/decision/v9/04history_complex_multiple">04 history</a></li>
										<li><a href="/beta/decision/v9/05choosereport">05 choosereport</a></li>
										<li><strong><a href="/beta/decision/v9/06fast">06 fast</a></strong></li>
										<li><a href="/beta/decision/v9/07type">07 type</a></li>
										<li><a href="/beta/decision/v9/08trigger">08 trigger</a></li>
										<li><a href="/beta/decision/v9/09actions">09 actions</a></li>
										<li><a href="/beta/decision/v9/10add">10 add letter</a></li>
										<li><a href="/beta/decision/v9/11upload">11 upload letter</a></li>
										<li><a href="/beta/decision/v9/12wholetter">12 who should send letter</a></li>
										<li><strong><a href="/beta/decision/v9/13prepare_single_man">13 finalise actions</a></strong></li>
										<li><strong><a href="/beta/decision/v9/25confirmation_prepare1">25 action confirmation</a></strong></li>
										<li><a href="/beta/decision/v9/14measure">14 measures</a></li>
										<li><a href="/beta/decision/v9/15measureaccount">15 account for measures</a></li>
										<li><a href="/beta/decision/v9/16reviewdate">16 review date</a></li>
										<li><a href="/beta/decision/v9/17incident_best_simple_info">17 original incident report</a></li>
										<li><a href="/beta/decision/v9/18check">18 check</a></li>
										<li><a href="/beta/decision/v9/19confirmation">19 confirmation</a></li>
	
								</ul>
								<p class="govuk-body">Business support</p>
								<ul class="govuk-list">
									<li><a href="/beta/decision/v9/01landingpage1_btsready">01 landing page - Business Support</a></li>
									<li><a href="/beta/decision/v9/20reassign_bst">20 re-assign bst</a></li>
									<li><a href="/beta/decision/v9/21history_bst">21 history BST</a></li>
									<li><a href="/beta/decision/v9/22fast">22 fast track incident BST</a></li>
									<li><a href="/beta/decision/v9/23note_bst">23 note BST</a></li>
									<li><a href="/beta/decision/v9/24handover_bst">24 handover BST</a></li>
								</ul>
								<p class="govuk-body">Events accessed from customer history</p>
								<ul class="govuk-list">
									<li><a href="/beta/decision/v9/h_02incident_best_simple">h_02 incident from history</a></li>
									<li><a href="/beta/decision/v9/h_11_reassign">h_11 reassign</a></li>
									<li><a href="/beta/decision/v9/h_03concern_best">h_03 concern from history</a></li>
									<li><a href="/beta/decision/v9/h_04measures">h_04 measures from history</a></li>
									<li><a href="/beta/decision/v9/h_05action">h_05 Action request/Action  from history</a></li>
									<li><a href="/beta/decision/v9/h_06infomessage">h_06 add a note</a></li>
									<li><a href="/beta/decision/v9/h_07_add">h_07 add a note - add file</a></li>
									<li><a href="/beta/decision/v9/h_08infoconfirm">h_08 add a note - confirmation</a></li>
									<li><a href="/beta/decision/v9/h_09note">h_09 note - from history</a></li>
									<li><a href="/beta/decision/v9/h_10infomessage">h_10 request further information regarding live incident</a></li>
								</ul>
								<p class="govuk-body">Multiple incidents pages</p>
								'
				}) }}
				{% set journeyNotesHTMLDecision_v9 %}
					{% include "beta/decision/notes/v9__notes.njk" %}
				{% endset %}
			</li>

			</ul>
			<hr>
		</div>




		<div class="govuk-!-padding-bottom-7 govuk-!-padding-top-7">
			<h2 class="govuk-heading-l" id="admin">Administration tools</h2>
			<h3 class="govuk-heading-s"><strong class="govuk-tag govuk-tag--green">Final</strong></h4>
			<ul class="govuk-list govuk-list--bullet">
				<li><a href="/beta/administrator/v1/00home">Administration tools v1</a><br><br>
				{{ govukDetails({
					summaryText: "Page index",
					html: '
							<p class="govuk-body">Decision maker</p>
							<ul class="govuk-list">
								<li><a href="/beta/administrator/v1/00home">00 home</a></li>
							</ul>
							'
				}) }}
				{% set journeyNotesHTMLadmin_v1 %}
					{% include "beta/administrator/notes/v1__notes.njk" %}
				{% endset %}
				</li>
			</ul>
			<hr>
		</div>


	</div>
</div>
{% endblock %}
