
{% extends "layout.html" %}

{% block pageTitle %}
Prototype index - Keep Customer Interactions Safe
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Prototype Instructions</h1>
		<h2 class="govuk-heading-l">Navigating to journeys</h2>
		<p class="govuk-body">This prototype is quite large and is used for a number of reasons, but primarily for iterating design, user research and communicating designs to developers. </p>
		<p class="govuk-body">The service overview diagram below shows how reports flow through the service.  </p>

		<p class="govuk-body"><a href="/public/images/instructions/service_overview.png"><img src="/public/images/instructions/service_overview.png" width="100%"></a></p>

		<p class="govuk-body">Each <a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/User+Role+Model">user role</a> has a journey in this prototype. Each journey is referenced at the top of the index page (1-4, where "4 Make Decision journey" includes Decision Makers and Business Support journeys). </p>

		<p class="govuk-body">Following these links will take you to the relevant part of the index page, which will reference one, two or maybe more versions of the journey.</p>

		<p class="govuk-body"><a href="/public/images/instructions/prototype_index.png"><img src="/public/images/instructions/prototype_index.png" width="50%"></a></p>

		<h2 class="govuk-heading-l">Navigating versions</h2>
		<p class="govuk-body">For example, the "Report incident or concern" journey has following features. </p>
		<p class="govuk-body"><a href="/public/images/instructions/report_incident_section.png"><img src="/public/images/instructions/report_incident_section.png" width="50%"></a></p>
		<ul class="govuk-list govuk-list--bullet">
			<li><b>A. "UCD - IN PROGRESS"</b><br>
			Section containing the latest designs. A mix of pages being design and those already released so that the new pages have context.<br><br></li>
			<li><b>B. Link to the latest version of the journey</b><br>
			Follow link to view the journey in order (Press "continue" mainly<br><br></li>			
			<li><b>C. Page index</b><br>
			Expand details to link to an individual page.<br><br></li>			
			<li><b>D. Journey-level notes</b><br>
			Expand details to display a summary of the work undertaken on this version of the journey. Latest versions will contain wireflow diagrams. </li>			
		</ul>
		<h2 class="govuk-heading-l">Page design notes</h2>

		<p class="govuk-body">There are a number of features on each page which hold further information of page designs (which can be turned off by changing to Presentation mode on the index page). </p>
		<p class="govuk-body"><a href="/public/images/instructions/design_notes.png"><img src="/public/images/instructions/design_notes.png" width="70%"></a></p>		

		<ul class="govuk-list govuk-list--bullet">
			<li><b>E. Versions</b><br>
			You are at the highlighted version. Click back to see the development of the design<br><br></li>

			<li><b>F. States</b><br>
			Different states of the page. Most often there is an error page showing warning messages for validation. There may also be  alternative presentations based on different input to the same page.
			<br><br></li>

			<li><b>G. Design notes</b><br>
			Very brief notes from design/content to explain features where necessary
			<br><br></li>

			<li><b>H. Hypothesis and insights</b><br>
			Where appropriate, links to UR that drives design decisions
			<br><br></li>

			<li><b>I. Journey level notes</b><br>
			A repeat of the brief summary of design changes on this journey
			<br><br></li>
		</ul>
		<h2 class="govuk-heading-l">Questions?</h2>

		<p>Any questions? Contact me: tim.cooper@digital.engineering.dwp.gov.uk</p>
		<p class="govuk-body">
			{{ govukButton({
				text: "Back to index",
									href: "index"
			}) }}
		</p>
	</div>
</div>
{% endblock %}
