<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01interaction__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="01interaction">1. Interaction - Prepare for interaction</a></li>
		<li><a href="01interaction_simple">2. Interaction - Prepare for interaction simple</a></li>
		<li><a href="01interaction-vo_none">3. Interaction - Visiting officer - no active measures</a></li>
		<li><a href="01interaction-vo">4. Interaction - Visiting officer - Prepare for interaction</a></li>
</ul>
<h4 class="govuk-heading-s">v2 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-23385">Interactor: Display Ban Location</a></li>
		<li>The measures are help in reference data and may contain legacy/migrated data so the content may be different however they should all show.</li>
		<li>We would prefer to link back to customer profile page but this is not currently possible</li>
		<li>Story <a href="https://dwpdigital.atlassian.net/browse/CITI-23761">Interactor: Postcode search</a></li>
		<li>Postcode search for Visiting officer</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#reporter">Reporter canvas</a></li>
		<li>The interactor would prefer to navigate back to Searchlight</li>
		<li>The interactor needs no further information than the applied measures (As consistent with SPL)</li>
		
	</ul>
{% set journeyNotesHTMLinteract_v2 %}
	{% include "beta/interaction/notes/v2__notes.njk" %}
{% endset %}
{{ govukDetails({
	summaryText: "v2 Journey level design notes",
	html: journeyNotesHTMLinteract_v2
}) }}	