<div>
    <h1 class="govuk-heading-xl" id="page-title"><span style="color: red">Placeholder for offline instructions</span></h1>
    <p>Note: Can we show this only if has Non-NINO access role - CIS-032</p>
</div>
