{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="11g_upload_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l" id="page-title">
    Check your answers
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
          Overview
        </h2>
        <div class="govuk-grid-column-full govuk-summary-list__row">
      </div>
    </div>
  </div>
  <div class="govuk-!-padding-bottom-9">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Reporter",
            classes: "govuk-!-width-one-third"
          },
          value: {
            html: "<span class='govuk-visually-hidden'>Reporter: </span>Whitney Earl"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Reporter"
              }
            ]
          }
        },
        
        {
          key: {
            text: "Manager who should review this report"
          },
          value: {
            html: "Sarah Sencha <span class='govuk-body-s' style='color:#505a5f'>(sarah@dwp.gov.uk)</span>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Manager who should review this report"
              }
            ]
          }
        },
        {
          key: {
            text: "Interaction type"
          },
          value: {
            html: "In person"
          }
        },
        {
          key: {
            text: "Incident date"
          },
          value: {
            html: "13 June 2022"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Incident date"
              }
            ]
          }
        },
        {
          key: {
            text: "Incident time"
          },
          value: {
            html: "3:30pm"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Incident time"
              }
            ]
          }
        },
        {
          key: {
            text: "Your location during the incident"
          },
          value: {
            html: "The office you're based at"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Your location during the incident"
              }
            ]
          }
        },
        {
          key: {
            text: "Discrimination type"
          },
          value: {
            html: "<p class='govuk-body'>I feel the customer's behaviour was motivated by the following types of discrimination:</p><ul class='govuk-list govuk-list--bullet'><li>None</li></ul>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Discrimination type"
              }
            ]
          }
        }
      ]
    }) }}
  </div>

  <div class="govuk-grid-row  govuk-!-padding-bottom-9">
    <div class="govuk-grid-column-full">
      <div class="govuk-summary-list govuk-!-margin-0">
        <div class="govuk-summary-list__row">
          <h2 class="govuk-heading-m govuk-summary-list__key">
            Incident description
          </h2>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" href="">Change
              <span class="govuk-visually-hidden"> Incident description</span>
            </a>
          </div>
        </div>
      </div>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Tell us about the incident",
              classes: "govuk-!-width-one-third"
            },
            value: {
            html: "clt called the service centre re his payment being nil, advised him that there is a sanction on his claim and he needs to re-engage at the job centre and make a new appointment. <br><br>he then became abuse over the telephone, swearing at me saying you bitch, you moran , making comments how easy it is for me to be sat there and to make comments, i advised the clt to stop swearing and that we don't tolerate this language, he became more abusive over the phone he said you must love this you bitch and advised him the call will be terminated, he made comments about myself my voice and that im i old enough to work there, i advised him i am going to end the call and the call was then terminated i spoke to my manager about the incident and advised i was fine."
            }
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
      <h2 class="govuk-heading-m">
        There are no files attached to this incident report
      </h2>
    </div>
  </div>
  <form class="form" action="13confirm" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Are you ready to submit your report?</h2>
        <p class="govuk-body">If you need to change anything in your report, use the back link near the top of this page.</p>
        <p class="govuk-body">When you click Submit, we will send your report to the appropriate manager to review.</p>
        <p class="govuk-body govuk-!-font-weight-bold">You will not be able to change anything in your report after you click Submit.</p>
      </div>
    </div>
    <div>
      {{ govukButton(
        {
          text: "Submit"
        }
      ) }}
    </div>
  </form>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/12check__notes.njk" %}
	{% endif %}
{% endblock %}
