{% extends "layout.html" %}
{% block pageTitle %}
  Note - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
      <h1 class="govuk-heading-xl">Note</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
            html: '10 November 2023 at 2:00pm'
            }
          },
          {
            key: {
              text: "Written by"
            },
            value: {
              html: 'Sartaq Matcha'
            }
          },
          {
            key: {
              text: "Note text"
            },
            value: {
              html: "Followed up with GLD - Banning order not agreed"
            }
          }
        ]
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to customer history",
          href: "javascript:history.back()"
        }) }}
      </div>


{% endblock %}
