{% extends "layout_ur.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Your reports - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Phase banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
<section aria-label="Back" role="region">

{{ govukBackLink({
text: "Back to Searchlight home",
href: "02searchlight"
}) }}
</section>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl" id="page-title">Your reports</h1>
{% set todoHTML %}
<h2 class="govuk-heading-l">To do</h2>
<p class="govuk-body">
  This section will show reports that need action from you.
</p>
{% endset %}
{% set action1dateHTML %}
{% if (data['otherdate'].includes("Another date")) %}
      {{ data['action-date-letter-day'] }}
      {{ data['action-date-letter-month'] }}
      {{ data['action-date-letter-year'] }}
{% else %}
      {{ data['otherdate']}}
{% endif %}
{% endset %}
{% set action2dateHTML %}
            {% if (data['date-interview'].includes("Another date")) %}
              {{data['action-date-interview-day']}}
              {{ data['action-date-interview-month'] }}
              {{ data['action-date-interview-year']}}
            {% else %}
                  {{ data['date-interview']}}
            {% endif %}
{% endset %}

{% set completedHTML %}
<h2 class="govuk-heading-l">Completed</h2>
  {{ govukTable({
    firstCellIsHeader: true,

    head: [
      {
        html: "Date"
      },
      {
        text: "Customer"
      },
      {
        text: "Original reporter"
      },
      {
        text: "Witnesses"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
        {
          html: "<span class='govuk-visually-hidden'>Date: </span>7 July 2023<br><span class='govuk-body-s' style='color:#505a5f'> at 9:50am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert Da Silva"
        },
        {
          html: "Not applicable"
        },
        {
          html: "Not applicable"
        },
        {
          html: "<a href='13decision' aria-label='View decision made on 7 July 2023 at 9:50am'>View decision</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Date: </span>" + action1dateHTML + "<br><span class='govuk-body-s' style='color:#505a5f'> at 9:55am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert Da Silva"
        },
        {
          html: "Not applicable"
        },
        {
          html: "Not applicable"
        },
        {
          html: "<a href='14action_letter' aria-label='Take action on an incident on 7 July 2023 at 9:20am'>View action 1</a>"
        }
      ],
      [
        {
          html: "<span class='govuk-visually-hidden'>Date: </span>" + action2dateHTML + "<br><span class='govuk-body-s' style='color:#505a5f'> at 9:57am</span>"
        },
        {
          html: "<span class='govuk-visually-hidden'>Customer: </span>Robert Da Silva"
        },
        {
          html: "Not applicable"
        },
        {
          html: "Not applicable"
        },
        {
          html: "<a href='15action_interview' aria-label='Take action on an incident on 7 July 2023 at 9:20am'>View action 2</a>"
        }
      ]
    ]
  }) }}
 {% endset %}
{{ govukTabs({
  items: [
    {
      label: "To do",
      id: "to-do",
      panel: {
        html: todoHTML
      }
    },
    {
      label: "Completed",
      id: "completed",
      panel: {
        html: completedHTML
      }
    }
  ]
}) }}

<a href="../index">Click to end this part of our testing session</a>.

{% endblock %}
