{% extends "layout_ur.html" %}
{% block pageTitle %}
  View action 1 - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="10actionerror">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "../templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/beta/_UR/20230707/3_decision/12landingpage2_manager_decision3" method="post">
          <h1 class="govuk-heading-xl">View action 1</h1>
            {% set dateHTML %}
            {% if (data['otherdate'].includes("Another date")) %}
                  {{ data['action-date-letter-day'] }}
                  {{ data['action-date-letter-month'] }}
                  {{ data['action-date-letter-year'] }}
            {% else %}
                  {{ data['otherdate']}}
            {% endif %}
          {% endset %}

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Date"
                },
                value: {
                  text: "7 July 2023"
                }
              },
              {
                key: {
                  text: "From"
                },
                value: {
                  text: "Sadiq Assam"
                }
              },
              {
                key: {
                  text: "Action requested"
                },
                value: {
                  html: '
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Send letter<br>
                          Please send the first warning letter, template T01</li>
                        </ul>  '
                }
              },
              {
                key: {
                  text: "Date completed"
                },
                value: {
                  text: dateHTML
                }
              },
              {
                key: {
                  text: "Outcome"
                },
                value: {
                  text: data['action-record-letter']
                }
              }
            ]
          }) }}
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Back to Home page",
              href: "javascript:history.back()"
            }) }}
          </div>
        </form>
    </div>
  </div>

{% endblock %}
