{% extends "layout.html" %}

{% block pageTitle %}
View incident collection - Keep Customer Interactions Safe
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">View incident collection</h1>
		{{ govukTable({
			firstCellIsHeader: true,
			head: [
				{
					text: ""
				},
				{
					html: '<a href="/beta/incident_manager_journey/v4/02incident_simple_inperson">v4 Manager - review and comment </a> '
				},
				{
					html: '<a href="/beta/incident_manager_journey/v4/i03incident_best_simple_info">v4 Manager - further information request v4</a>'
				},
				{
					html: '<a href="/beta/incident_manager_journey/v4/d03incident_best_simple_info">v4 Manager - view decision </a>'
				},
				{
					html: '<a href="/beta/incident_manager_journey/v4/d03incident_best_simple_info">v4 VO - view history </a>'
				},
				{
					html: '<a href="/beta/decision/v6/h_02incident_best_simple_existing">v6 Case reviewer (decision - timeline)</a>'
				},
				{
					html: '<a href="/beta/decision/v6/10incident_best_simple_info">v6 Decision maker (decision - complete decision) </a> '
				}
			],
			rows: [
				[
					{
						text: ""
					},
					{
						html: '<a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Managers</a> first sight of report in order to add their comments'
					},
					{
						html: '<a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager</a> asked for more information'
					},
					{
						html: '<a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#manager">Manager</a> views decision '
					},
					{
						html: 'Visiting officer view history '
					},
					{
						html: '<a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#case_reviewer">Case reviewer</a> from timeline'
					},
					{
						html: '<a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker</a> when completing decision (cover note)'
					}
				],
				[
					{
						text: "Witness section"
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						text: "Police section"
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						text: "Manager report"
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						text: "Correspondence - witness and manager"
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						html: 'Business support <br><span class="govuk-body govuk-!-font-weight-regular govuk-body-s">handover notes</span>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						text: "Reporter/manager contact details"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						html: 'Business support contact details <br><span class="govuk-body govuk-!-font-weight-regular govuk-body-s">(not yet implemented)</span>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						html: 'Witness/manager resend email button <span class="govuk-body govuk-!-font-weight-regular govuk-body-s">(always available)</span>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						html: 'Request info button <span class="govuk-body govuk-!-font-weight-regular govuk-body-s">(always available)</span>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						html: '<strong class="govuk-tag govuk-tag--red">N</strong>'
					},
					{
						text: "Y"
					},
					{
						text: "Y"
					}
				],
				[
					{
						text: "Continue/back button "
					},
					{
						text: "Continue"
					},
					{
						text: "Back to Add information"
					},
					{
						text: "Back to customer history"
					},
					{
						text: "Back to decision"
					},
					{
						text: "Back to customer history"
					},
					{
						text: "Back to Complete decision"
					}
				]
			]
		}) }}
	</div>
</div>
{% endblock %}
