{% extends "layout_20240129_ur.html" %}
<!-- Set active submenu item -->
{% set menuItemOne = " aria-current=page" %}
{% set subMenuItemOne = " app-subnav__section-item--current" %}

{% block pageTitle %}
Your reports - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
<section aria-label="Phase banner" role="region">

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
</section>
<section aria-label="Back" role="region">

{{ govukBackLink({
text: "Back to Searchlight home",
href: "../"
}) }}
</section>
{% endblock %}

{% block content %}

<!-- <p>action-record-letter: <br>{{data['action-record-letter']}}</p>
<p>2401_information_answer: <br>{{data['2401_information_answer']}}</p> -->
<h1 class="govuk-heading-xl" id="page-title">Your reports</h1>
<h2 class="govuk-heading-l">To do</h2>
{% if (not data['action-record-letter'] or not data['2401_information_answer']) %}
<div class="govuk-hint">
  Each row in this table represents a report that needs action from you
</div>
<div class="govuk-!-padding-bottom-7">
  {% set dateHtml %}
  <span class='govuk-visually-hidden'>Date: </span>{{ data['2401_incident_date'] }}<br><span class='govuk-body-s' style='color:#505a5f'>  at 9:00am</span>
{% endset %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Customer</th>
      <th scope="col" class="govuk-table__header">Original reporter</th>
      <th scope="col" class="govuk-table__header">Witnesses</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% if not data['action-record-letter'] %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><span class="govuk-visually-hidden">Not applicable</span>-</th>
        <td class="govuk-table__cell"><span class="govuk-visually-hidden">Customer: </span>Robert De Silva</td>
        <td class="govuk-table__cell"><span class="govuk-visually-hidden">Not applicable</span>-</td>
        <td class="govuk-table__cell"><span class="govuk-visually-hidden">Not applicable</span>-</td>
        <td class="govuk-table__cell"><a href="a02action_letter" aria-label="for customer Robert Da Silva">Send letter</a></td>
      </tr>
    {% endif %}
    {% if not data['2401_information_answer'] %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <span class="govuk-visually-hidden">Date: </span>  <span class='govuk-visually-hidden'>Date: </span>{{ data['2401_incident_date'] }}<br><span class='govuk-body-s' style='color:#505a5f'>  at 9:00am</span>
        </th>
        <td class="govuk-table__cell"><span class="govuk-visually-hidden">Customer: </span>Robert De Silva</td>
        <td class="govuk-table__cell"><span class="govuk-visually-hidden">Original reporter: </span>Ruby Conn</td>
        <td class="govuk-table__cell"><span class="govuk-visually-hidden">Witnesses: </span>None indicated</td>
        <td class="govuk-table__cell"><a href="i02moreinfo" aria-label="for customer Robert Da Silva">Add information</a></td>
      </tr>
    {% endif %}
  </tbody>
</table>

  
  {% else  %}

<div class="govuk-hint">
  This section will show reports that need action from you.
</div>
<div class="govuk-!-padding-bottom-7">

  {% endif %}

</div>


{% endblock %}
