{% extends "layout.html" %}
{% block pageTitle %}
  Add information - Keep Customer Interactions Safe
{% endblock %}
{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="10actionerror">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "../2-dm/templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "../2-dm/templates/govuk-caption-m-whitney_walk.njk" %}
        <h1 class="govuk-heading-xl">Add information</h1>
          <p class="govuk-body">Enter the required information as soon as possible so that a decision can be made about the customer.</p>
          <p class="govuk-body">You can refer to the <a href="i03incident_best_simple_info">original report and your comments and recommendations</a>.</p>
          <form class="form" action="/beta/_UR/20240129/4-action/01landingpage2_manager" method="post">
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "From"
                  },
                  value: {
                    html: data['your-first-name'] + " " + data['your-last-name']
                  }
                },
                {
                  key: {
                    text: "Message"
                  },
                  value: {
                    text: data['2401_requestinfo']
                  }
                }
              ]
            }) }}
            {{ govukTextarea({
              name: "2401_information_answer",
              id: "2401_information_answer",
              value: data['2401_information_answer'],
              label: {
                text: "Your reply",
                classes: "govuk-label--s"
              }
            }) }}
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Send"
              }) }}
            </div>
          </form>
    </div>
  </div>

{% endblock %}
