{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the incident - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="01comments_error">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "templates/v2/header_searchlight.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="10add" method="post">
        {% set html %}
          <p class="govuk-notification-banner__heading">Keep to the facts and be as specific as possible.</p>
          <p class="govuk-notification-banner__heading">Do not include the names of any DWP staff in your answers.</p>
        {% endset %}
        {{ govukNotificationBanner({
          html: html
        }) }}
        {{ govukCharacterCount({
          id: "description",
          name: "Description",
          rows: "12",
          value: data['Description'],
          maxlength: 2000,
          label: {
            text: "Tell us about the incident",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}
        {{ govukCheckboxes({
          idPrefix: "checklist",
          name: "checklist",
          fieldset: {
            legend: {
              text: "Confirm you have considered each of the following, and included if relevant:",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "1",
              text: "How the incident started: was there a specific trigger?"
            },
            {
              value: "2",
              text: "What the issues were with the customer's behaviour and how you tried to resolve the situation"
            },
            {
              value: "3",
              text: "The exact words used by the customer"
            },
            {
              value: "4",
              text: "How the interaction ended"
            },
            
            {
              value: "5",
              text: "How you felt during the incident"
            }
          ]
        }) }}
        <div class="govuk-button-group">
          {{ govukButton({
        text: "Continue"
        }) }}
        </div>
      </form>
    </div>
  </div>
	{% if not (checked("displaymode", "presentation") == "checked") %}
		{% include "./notes/09describe__notes.njk" %}
	{% endif %}
{% endblock %}
