{% extends "layout_20240501_ur.html" %}

{% block pageTitle %}
  Complete decision - Keep Customer Interactions Safe
{% endblock %}

{% block beforeContent %}
  <section aria-label="Phase banner" role="region">
    {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </section>
  {% include "./templates/key_details_robert_blue.njk" %}
  <section aria-label="Back" role="region">
    {{ govukBackLink({
      text: "Back",
      href: "08reviewdate"
    }) }}
  </section>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-padding-bottom-4">
        {% include "./templates/multi_caption2.njk" %}
        <h1 class="govuk-heading-xl">Finalise actions</h1>
        <p class="govuk-body">Review the actions and measures you have selected, and add comments for the relevant manager.</p>
        <p class="govuk-body">You can refer to <a href="h_02incident2">the original report</a>.</p>
      </div>


      <section aria-label="actions" role="region">
        <div class="govuk-!-padding-bottom-9">
          <h2 class="govuk-heading-l">Action request</h2>
          <h3 class="govuk-heading-m">Manager actions for {{data['20240429_inc1_manager']}} </h3>
          <ul class="govuk-list govuk-list--bullet">
            {% include "./templates/action_list_manager2.njk" %} 
          </ul>
          <h3 class="govuk-heading-m">Decision maker actions</h3>
          <ul class="govuk-list govuk-list--bullet">
            {% include "./templates/action_list_dm2.njk" %} 
          </ul>

        </div>
      </section>

      {% set commentsHTML %}
      <h2 class='govuk-heading-l'>Comments for manager </h2>
      {% endset %}
      {% set notehintHTML %}
      Only {{data['20240429_inc2_manager']}} can see what you enter here.
      {% endset %}

      {% if data['Referrer'].includes('11check_good_multi') %}
        <form class="form" action="11check_good_multi" method="post">
      {% elif data['Referrer'].includes('11check_good2') %}
        <form class="form" action="11check_good2" method="post">
      {% else %}
        <form class="form" action="11check_good2" method="post">
      {% endif %}

        <section aria-label="notes" role="region">
          {{ govukTextarea({
            name: "2401_note2",
            id: "2401_note2",
            value: data["2401_note2"],
            rows: "15",
            label: {
              html: commentsHTML,
              classes: "govuk-label--l"
            },
            hint: {
              text: notehintHTML
            }
          }) }}
        </section>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
